data/Account_Shipment_Tracking_Data.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3/" schemaLocation="https://api.softlayer.com/soap/v3/SoftLayer_Account_Shipment_Tracking_Data?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:complexType name="SoftLayer_Account_Shipment_Tracking_DataInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Account_Shipment_Tracking_DataObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Account_Shipment_Tracking_Data"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Account_Shipment_Tracking_DataInitParametersHeader">
    <part name="SoftLayer_Account_Shipment_Tracking_DataInitParameters" type="tns:SoftLayer_Account_Shipment_Tracking_DataInitParameters"/>
  </message>
  <message name="createObject">
    <part name="templateObject" type="tns:SoftLayer_Account_Shipment_Tracking_Data"/>
  </message>
  <message name="createObjectResponse">
    <part name="createObjectReturn" type="tns:SoftLayer_Account_Shipment_Tracking_Data"/>
  </message>
  <message name="createObjects">
    <part name="templateObjects" type="tns:SoftLayer_Account_Shipment_Tracking_DataArray"/>
  </message>
  <message name="createObjectsResponse">
    <part name="createObjectsReturn" type="tns:SoftLayer_Account_Shipment_Tracking_DataArray"/>
  </message>
  <message name="deleteObject"/>
  <message name="deleteObjectResponse">
    <part name="deleteObjectReturn" type="xsd:boolean"/>
  </message>
  <message name="editObject">
    <part name="templateObject" type="tns:SoftLayer_Account_Shipment_Tracking_Data"/>
  </message>
  <message name="editObjectResponse">
    <part name="editObjectReturn" type="xsd:boolean"/>
  </message>
  <message name="getCreateEmployee"/>
  <message name="getCreateEmployeeResponse">
    <part name="getCreateEmployeeReturn" type="tns:SoftLayer_User_Employee"/>
  </message>
  <message name="getCreateUser"/>
  <message name="getCreateUserResponse">
    <part name="getCreateUserReturn" type="tns:SoftLayer_User_Customer"/>
  </message>
  <message name="getModifyEmployee"/>
  <message name="getModifyEmployeeResponse">
    <part name="getModifyEmployeeReturn" type="tns:SoftLayer_User_Employee"/>
  </message>
  <message name="getModifyUser"/>
  <message name="getModifyUserResponse">
    <part name="getModifyUserReturn" type="tns:SoftLayer_User_Customer"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Account_Shipment_Tracking_Data"/>
  </message>
  <message name="getShipment"/>
  <message name="getShipmentResponse">
    <part name="getShipmentReturn" type="tns:SoftLayer_Account_Shipment"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Account_Shipment_Tracking_DataObjectMaskHeader">
    <part name="SoftLayer_Account_Shipment_Tracking_DataObjectMask" type="tns:SoftLayer_Account_Shipment_Tracking_DataObjectMask"/>
  </message>
  <message name="SoftLayer_Account_Shipment_Tracking_DataObjectFilterHeader">
    <part name="SoftLayer_Account_Shipment_Tracking_DataObjectFilter" type="tns:SoftLayer_Account_Shipment_Tracking_DataObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Account_Shipment_Tracking_DataPortType">
    <documentation>SoftLayer's tracking data service allows the user to access and manage tracking information on shipments sent from the user to SoftLayer or from SoftLayer to the user. </documentation>
    <operation name="createObject">
      <documentation>Create a new shipment tracking data. The ''shipmentId'', ''sequence'', and ''trackingData'' properties in the templateObject parameter are required parameters to create a tracking data record. </documentation>
      <input message="tns:createObject"/>
      <output message="tns:createObjectResponse"/>
    </operation>
    <operation name="createObjects">
      <documentation>Create a new shipment tracking data. The ''shipmentId'', ''sequence'', and ''trackingData'' properties of each templateObject in the templateObjects array are required parameters to create a tracking data record. </documentation>
      <input message="tns:createObjects"/>
      <output message="tns:createObjectsResponse"/>
    </operation>
    <operation name="deleteObject">
      <documentation>deleteObject permanently removes a shipment tracking datum (number) </documentation>
      <input message="tns:deleteObject"/>
      <output message="tns:deleteObjectResponse"/>
    </operation>
    <operation name="editObject">
      <documentation>Edit the properties of a tracking data record by passing in a modified instance of a SoftLayer_Account_Shipment_Tracking_Data object. </documentation>
      <input message="tns:editObject"/>
      <output message="tns:editObjectResponse"/>
    </operation>
    <operation name="getCreateEmployee">
      <documentation>Retrieve the employee who created the tracking datum.</documentation>
      <input message="tns:getCreateEmployee"/>
      <output message="tns:getCreateEmployeeResponse"/>
    </operation>
    <operation name="getCreateUser">
      <documentation>Retrieve the customer user who created the tracking datum.</documentation>
      <input message="tns:getCreateUser"/>
      <output message="tns:getCreateUserResponse"/>
    </operation>
    <operation name="getModifyEmployee">
      <documentation>Retrieve the employee who last modified the tracking datum.</documentation>
      <input message="tns:getModifyEmployee"/>
      <output message="tns:getModifyEmployeeResponse"/>
    </operation>
    <operation name="getModifyUser">
      <documentation>Retrieve the customer user who last modified the tracking datum.</documentation>
      <input message="tns:getModifyUser"/>
      <output message="tns:getModifyUserResponse"/>
    </operation>
    <operation name="getObject">
      <documentation></documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
    <operation name="getShipment">
      <documentation>Retrieve the shipment of the tracking datum.</documentation>
      <input message="tns:getShipment"/>
      <output message="tns:getShipmentResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Account_Shipment_Tracking_DataBinding" type="tns:SoftLayer_Account_Shipment_Tracking_DataPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="createObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Account_Shipment_Tracking_DataAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Shipment_Tracking_DataObjectMaskHeader" part="SoftLayer_Account_Shipment_Tracking_DataObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="createObjects">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Account_Shipment_Tracking_DataAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Shipment_Tracking_DataObjectMaskHeader" part="SoftLayer_Account_Shipment_Tracking_DataObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="deleteObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Account_Shipment_Tracking_DataAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Shipment_Tracking_DataInitParametersHeader" part="SoftLayer_Account_Shipment_Tracking_DataInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="editObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Account_Shipment_Tracking_DataAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Shipment_Tracking_DataInitParametersHeader" part="SoftLayer_Account_Shipment_Tracking_DataInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getCreateEmployee">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Account_Shipment_Tracking_DataAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Account_Shipment_Tracking_DataObjectMaskHeader" part="SoftLayer_Account_Shipment_Tracking_DataObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Shipment_Tracking_DataObjectFilterHeader" part="SoftLayer_Account_Shipment_Tracking_DataObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Shipment_Tracking_DataInitParametersHeader" part="SoftLayer_Account_Shipment_Tracking_DataInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getCreateUser">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Account_Shipment_Tracking_DataAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Account_Shipment_Tracking_DataObjectMaskHeader" part="SoftLayer_Account_Shipment_Tracking_DataObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Shipment_Tracking_DataObjectFilterHeader" part="SoftLayer_Account_Shipment_Tracking_DataObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Shipment_Tracking_DataInitParametersHeader" part="SoftLayer_Account_Shipment_Tracking_DataInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getModifyEmployee">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Account_Shipment_Tracking_DataAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Account_Shipment_Tracking_DataObjectMaskHeader" part="SoftLayer_Account_Shipment_Tracking_DataObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Shipment_Tracking_DataObjectFilterHeader" part="SoftLayer_Account_Shipment_Tracking_DataObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Shipment_Tracking_DataInitParametersHeader" part="SoftLayer_Account_Shipment_Tracking_DataInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getModifyUser">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Account_Shipment_Tracking_DataAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Account_Shipment_Tracking_DataObjectMaskHeader" part="SoftLayer_Account_Shipment_Tracking_DataObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Shipment_Tracking_DataObjectFilterHeader" part="SoftLayer_Account_Shipment_Tracking_DataObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Shipment_Tracking_DataInitParametersHeader" part="SoftLayer_Account_Shipment_Tracking_DataInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Account_Shipment_Tracking_DataAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Account_Shipment_Tracking_DataObjectMaskHeader" part="SoftLayer_Account_Shipment_Tracking_DataObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Shipment_Tracking_DataObjectFilterHeader" part="SoftLayer_Account_Shipment_Tracking_DataObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Shipment_Tracking_DataInitParametersHeader" part="SoftLayer_Account_Shipment_Tracking_DataInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getShipment">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Account_Shipment_Tracking_DataAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Account_Shipment_Tracking_DataObjectMaskHeader" part="SoftLayer_Account_Shipment_Tracking_DataObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Shipment_Tracking_DataObjectFilterHeader" part="SoftLayer_Account_Shipment_Tracking_DataObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Shipment_Tracking_DataInitParametersHeader" part="SoftLayer_Account_Shipment_Tracking_DataInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Account_Shipment_Tracking_DataService">
    <port name="SoftLayer_Account_Shipment_Tracking_DataPort" binding="tns:SoftLayer_Account_Shipment_Tracking_DataBinding">
      <soap:address location="https://api.softlayer.com/soap/v3/SoftLayer_Account_Shipment_Tracking_Data"/>
    </port>
  </service>
</definitions>
