data/Account_Partner_Referral_Prospect.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3/" schemaLocation="https://api.softlayer.com/soap/v3/SoftLayer_Account_Partner_Referral_Prospect?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:complexType name="SoftLayer_Account_Partner_Referral_ProspectInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Account_Partner_Referral_ProspectObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Account_Partner_Referral_Prospect"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Account_Partner_Referral_ProspectInitParametersHeader">
    <part name="SoftLayer_Account_Partner_Referral_ProspectInitParameters" type="tns:SoftLayer_Account_Partner_Referral_ProspectInitParameters"/>
  </message>
  <message name="createProspect">
    <part name="templateObject" type="tns:SoftLayer_Container_Referral_Partner_Prospect"/>
    <part name="commit" type="xsd:boolean"/>
  </message>
  <message name="createProspectResponse">
    <part name="createProspectReturn" type="tns:SoftLayer_Account_Partner_Referral_Prospect"/>
  </message>
  <message name="getAccount"/>
  <message name="getAccountResponse">
    <part name="getAccountReturn" type="tns:SoftLayer_Account"/>
  </message>
  <message name="getAssignedEmployees"/>
  <message name="getAssignedEmployeesResponse">
    <part name="getAssignedEmployeesReturn" type="tns:SoftLayer_User_EmployeeArray"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Account_Partner_Referral_Prospect"/>
  </message>
  <message name="getQuotes"/>
  <message name="getQuotesResponse">
    <part name="getQuotesReturn" type="tns:SoftLayer_Billing_Order_QuoteArray"/>
  </message>
  <message name="getSurveyQuestions"/>
  <message name="getSurveyQuestionsResponse">
    <part name="getSurveyQuestionsReturn" type="tns:SoftLayer_Survey_QuestionArray"/>
  </message>
  <message name="getType"/>
  <message name="getTypeResponse">
    <part name="getTypeReturn" type="tns:SoftLayer_User_Customer_Prospect_Type"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Account_Partner_Referral_ProspectObjectMaskHeader">
    <part name="SoftLayer_Account_Partner_Referral_ProspectObjectMask" type="tns:SoftLayer_Account_Partner_Referral_ProspectObjectMask"/>
  </message>
  <message name="SoftLayer_Account_Partner_Referral_ProspectObjectFilterHeader">
    <part name="SoftLayer_Account_Partner_Referral_ProspectObjectFilter" type="tns:SoftLayer_Account_Partner_Referral_ProspectObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Account_Partner_Referral_ProspectPortType">
    <documentation></documentation>
    <operation name="createProspect">
      <documentation>Create a new Referral Partner Prospect </documentation>
      <input message="tns:createProspect"/>
      <output message="tns:createProspectResponse"/>
    </operation>
    <operation name="getAccount">
      <documentation></documentation>
      <input message="tns:getAccount"/>
      <output message="tns:getAccountResponse"/>
    </operation>
    <operation name="getAssignedEmployees">
      <documentation></documentation>
      <input message="tns:getAssignedEmployees"/>
      <output message="tns:getAssignedEmployeesResponse"/>
    </operation>
    <operation name="getObject">
      <documentation></documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
    <operation name="getQuotes">
      <documentation></documentation>
      <input message="tns:getQuotes"/>
      <output message="tns:getQuotesResponse"/>
    </operation>
    <operation name="getSurveyQuestions">
      <documentation>Retrieves Questions for a Referral Partner Survey </documentation>
      <input message="tns:getSurveyQuestions"/>
      <output message="tns:getSurveyQuestionsResponse"/>
    </operation>
    <operation name="getType">
      <documentation></documentation>
      <input message="tns:getType"/>
      <output message="tns:getTypeResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Account_Partner_Referral_ProspectBinding" type="tns:SoftLayer_Account_Partner_Referral_ProspectPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="createProspect">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Account_Partner_Referral_ProspectAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Partner_Referral_ProspectObjectMaskHeader" part="SoftLayer_Account_Partner_Referral_ProspectObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getAccount">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Account_Partner_Referral_ProspectAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Account_Partner_Referral_ProspectObjectMaskHeader" part="SoftLayer_Account_Partner_Referral_ProspectObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Partner_Referral_ProspectObjectFilterHeader" part="SoftLayer_Account_Partner_Referral_ProspectObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Partner_Referral_ProspectInitParametersHeader" part="SoftLayer_Account_Partner_Referral_ProspectInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getAssignedEmployees">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Account_Partner_Referral_ProspectAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Account_Partner_Referral_ProspectObjectMaskHeader" part="SoftLayer_Account_Partner_Referral_ProspectObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Partner_Referral_ProspectObjectFilterHeader" part="SoftLayer_Account_Partner_Referral_ProspectObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Partner_Referral_ProspectInitParametersHeader" part="SoftLayer_Account_Partner_Referral_ProspectInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Account_Partner_Referral_ProspectAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Account_Partner_Referral_ProspectObjectMaskHeader" part="SoftLayer_Account_Partner_Referral_ProspectObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Partner_Referral_ProspectObjectFilterHeader" part="SoftLayer_Account_Partner_Referral_ProspectObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Partner_Referral_ProspectInitParametersHeader" part="SoftLayer_Account_Partner_Referral_ProspectInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getQuotes">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Account_Partner_Referral_ProspectAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Account_Partner_Referral_ProspectObjectMaskHeader" part="SoftLayer_Account_Partner_Referral_ProspectObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Partner_Referral_ProspectObjectFilterHeader" part="SoftLayer_Account_Partner_Referral_ProspectObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Partner_Referral_ProspectInitParametersHeader" part="SoftLayer_Account_Partner_Referral_ProspectInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getSurveyQuestions">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Account_Partner_Referral_ProspectAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Partner_Referral_ProspectObjectMaskHeader" part="SoftLayer_Account_Partner_Referral_ProspectObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getType">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Account_Partner_Referral_ProspectAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Account_Partner_Referral_ProspectObjectMaskHeader" part="SoftLayer_Account_Partner_Referral_ProspectObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Partner_Referral_ProspectObjectFilterHeader" part="SoftLayer_Account_Partner_Referral_ProspectObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Partner_Referral_ProspectInitParametersHeader" part="SoftLayer_Account_Partner_Referral_ProspectInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Account_Partner_Referral_ProspectService">
    <port name="SoftLayer_Account_Partner_Referral_ProspectPort" binding="tns:SoftLayer_Account_Partner_Referral_ProspectBinding">
      <soap:address location="https://api.softlayer.com/soap/v3/SoftLayer_Account_Partner_Referral_Prospect"/>
    </port>
  </service>
</definitions>
