data/Account_Shipment_Item.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3/" schemaLocation="https://api.softlayer.com/soap/v3/SoftLayer_Account_Shipment_Item?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:complexType name="SoftLayer_Account_Shipment_ItemInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Account_Shipment_ItemObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Account_Shipment_Item"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Account_Shipment_ItemInitParametersHeader">
    <part name="SoftLayer_Account_Shipment_ItemInitParameters" type="tns:SoftLayer_Account_Shipment_ItemInitParameters"/>
  </message>
  <message name="editObject">
    <part name="templateObject" type="tns:SoftLayer_Account_Shipment_Item"/>
  </message>
  <message name="editObjectResponse">
    <part name="editObjectReturn" type="xsd:boolean"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Account_Shipment_Item"/>
  </message>
  <message name="getShipment"/>
  <message name="getShipmentResponse">
    <part name="getShipmentReturn" type="tns:SoftLayer_Account_Shipment"/>
  </message>
  <message name="getShipmentItemType"/>
  <message name="getShipmentItemTypeResponse">
    <part name="getShipmentItemTypeReturn" type="tns:SoftLayer_Account_Shipment_Item_Type"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Account_Shipment_ItemObjectMaskHeader">
    <part name="SoftLayer_Account_Shipment_ItemObjectMask" type="tns:SoftLayer_Account_Shipment_ItemObjectMask"/>
  </message>
  <message name="SoftLayer_Account_Shipment_ItemObjectFilterHeader">
    <part name="SoftLayer_Account_Shipment_ItemObjectFilter" type="tns:SoftLayer_Account_Shipment_ItemObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Account_Shipment_ItemPortType">
    <documentation>SoftLayer's shipment item service allows the user to access information pertaining to a shipment's item from the user to SoftLayer or from SoftLayer to the user. </documentation>
    <operation name="editObject">
      <documentation>Edit the properties of a shipment record by passing in a modified instance of a SoftLayer_Account_Shipment_Item object. </documentation>
      <input message="tns:editObject"/>
      <output message="tns:editObjectResponse"/>
    </operation>
    <operation name="getObject">
      <documentation></documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
    <operation name="getShipment">
      <documentation>Retrieve the shipment to which this item belongs.</documentation>
      <input message="tns:getShipment"/>
      <output message="tns:getShipmentResponse"/>
    </operation>
    <operation name="getShipmentItemType">
      <documentation>Retrieve the type of this shipment item.</documentation>
      <input message="tns:getShipmentItemType"/>
      <output message="tns:getShipmentItemTypeResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Account_Shipment_ItemBinding" type="tns:SoftLayer_Account_Shipment_ItemPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="editObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Account_Shipment_ItemAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Shipment_ItemInitParametersHeader" part="SoftLayer_Account_Shipment_ItemInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Account_Shipment_ItemAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Account_Shipment_ItemObjectMaskHeader" part="SoftLayer_Account_Shipment_ItemObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Shipment_ItemObjectFilterHeader" part="SoftLayer_Account_Shipment_ItemObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Shipment_ItemInitParametersHeader" part="SoftLayer_Account_Shipment_ItemInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getShipment">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Account_Shipment_ItemAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Account_Shipment_ItemObjectMaskHeader" part="SoftLayer_Account_Shipment_ItemObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Shipment_ItemObjectFilterHeader" part="SoftLayer_Account_Shipment_ItemObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Shipment_ItemInitParametersHeader" part="SoftLayer_Account_Shipment_ItemInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getShipmentItemType">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Account_Shipment_ItemAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Account_Shipment_ItemObjectMaskHeader" part="SoftLayer_Account_Shipment_ItemObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Shipment_ItemObjectFilterHeader" part="SoftLayer_Account_Shipment_ItemObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Shipment_ItemInitParametersHeader" part="SoftLayer_Account_Shipment_ItemInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Account_Shipment_ItemService">
    <port name="SoftLayer_Account_Shipment_ItemPort" binding="tns:SoftLayer_Account_Shipment_ItemBinding">
      <soap:address location="https://api.softlayer.com/soap/v3/SoftLayer_Account_Shipment_Item"/>
    </port>
  </service>
</definitions>
