data/Account_Agreement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3.1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3.1/" schemaLocation="https://api.softlayer.com/soap/v3.1/SoftLayer_Account_Agreement?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:complexType name="SoftLayer_Account_AgreementInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Account_AgreementObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Account_Agreement"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Account_AgreementInitParametersHeader">
    <part name="SoftLayer_Account_AgreementInitParameters" type="tns:SoftLayer_Account_AgreementInitParameters"/>
  </message>
  <message name="getAccount"/>
  <message name="getAccountResponse">
    <part name="getAccountReturn" type="tns:SoftLayer_Account"/>
  </message>
  <message name="getAgreementType"/>
  <message name="getAgreementTypeResponse">
    <part name="getAgreementTypeReturn" type="tns:SoftLayer_Account_Agreement_Type"/>
  </message>
  <message name="getAttachedBillingAgreementFiles"/>
  <message name="getAttachedBillingAgreementFilesResponse">
    <part name="getAttachedBillingAgreementFilesReturn" type="tns:SoftLayer_Account_MasterServiceAgreementArray"/>
  </message>
  <message name="getBillingItems"/>
  <message name="getBillingItemsResponse">
    <part name="getBillingItemsReturn" type="tns:SoftLayer_Billing_ItemArray"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Account_Agreement"/>
  </message>
  <message name="getStatus"/>
  <message name="getStatusResponse">
    <part name="getStatusReturn" type="tns:SoftLayer_Account_Agreement_Status"/>
  </message>
  <message name="getTopLevelBillingItems"/>
  <message name="getTopLevelBillingItemsResponse">
    <part name="getTopLevelBillingItemsReturn" type="tns:SoftLayer_Billing_ItemArray"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Account_AgreementObjectMaskHeader">
    <part name="SoftLayer_Account_AgreementObjectMask" type="tns:SoftLayer_Account_AgreementObjectMask"/>
  </message>
  <message name="SoftLayer_Account_AgreementObjectFilterHeader">
    <part name="SoftLayer_Account_AgreementObjectFilter" type="tns:SoftLayer_Account_AgreementObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Account_AgreementPortType">
    <documentation></documentation>
    <operation name="getAccount">
      <documentation></documentation>
      <input message="tns:getAccount"/>
      <output message="tns:getAccountResponse"/>
    </operation>
    <operation name="getAgreementType">
      <documentation>Retrieve the type of agreement.</documentation>
      <input message="tns:getAgreementType"/>
      <output message="tns:getAgreementTypeResponse"/>
    </operation>
    <operation name="getAttachedBillingAgreementFiles">
      <documentation>Retrieve the files attached to an agreement.</documentation>
      <input message="tns:getAttachedBillingAgreementFiles"/>
      <output message="tns:getAttachedBillingAgreementFilesResponse"/>
    </operation>
    <operation name="getBillingItems">
      <documentation>Retrieve the billing items associated with an agreement.</documentation>
      <input message="tns:getBillingItems"/>
      <output message="tns:getBillingItemsResponse"/>
    </operation>
    <operation name="getObject">
      <documentation></documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
    <operation name="getStatus">
      <documentation>Retrieve the status of the agreement.</documentation>
      <input message="tns:getStatus"/>
      <output message="tns:getStatusResponse"/>
    </operation>
    <operation name="getTopLevelBillingItems">
      <documentation>Retrieve the top level billing item associated with an agreement.</documentation>
      <input message="tns:getTopLevelBillingItems"/>
      <output message="tns:getTopLevelBillingItemsResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Account_AgreementBinding" type="tns:SoftLayer_Account_AgreementPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getAccount">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Account_AgreementAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Account_AgreementObjectMaskHeader" part="SoftLayer_Account_AgreementObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_AgreementObjectFilterHeader" part="SoftLayer_Account_AgreementObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_AgreementInitParametersHeader" part="SoftLayer_Account_AgreementInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getAgreementType">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Account_AgreementAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Account_AgreementObjectMaskHeader" part="SoftLayer_Account_AgreementObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_AgreementObjectFilterHeader" part="SoftLayer_Account_AgreementObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_AgreementInitParametersHeader" part="SoftLayer_Account_AgreementInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getAttachedBillingAgreementFiles">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Account_AgreementAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Account_AgreementObjectMaskHeader" part="SoftLayer_Account_AgreementObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_AgreementObjectFilterHeader" part="SoftLayer_Account_AgreementObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_AgreementInitParametersHeader" part="SoftLayer_Account_AgreementInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getBillingItems">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Account_AgreementAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Account_AgreementObjectMaskHeader" part="SoftLayer_Account_AgreementObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_AgreementObjectFilterHeader" part="SoftLayer_Account_AgreementObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_AgreementInitParametersHeader" part="SoftLayer_Account_AgreementInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Account_AgreementAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Account_AgreementObjectMaskHeader" part="SoftLayer_Account_AgreementObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_AgreementObjectFilterHeader" part="SoftLayer_Account_AgreementObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_AgreementInitParametersHeader" part="SoftLayer_Account_AgreementInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getStatus">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Account_AgreementAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Account_AgreementObjectMaskHeader" part="SoftLayer_Account_AgreementObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_AgreementObjectFilterHeader" part="SoftLayer_Account_AgreementObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_AgreementInitParametersHeader" part="SoftLayer_Account_AgreementInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getTopLevelBillingItems">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Account_AgreementAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Account_AgreementObjectMaskHeader" part="SoftLayer_Account_AgreementObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_AgreementObjectFilterHeader" part="SoftLayer_Account_AgreementObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_AgreementInitParametersHeader" part="SoftLayer_Account_AgreementInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Account_AgreementService">
    <port name="SoftLayer_Account_AgreementPort" binding="tns:SoftLayer_Account_AgreementBinding">
      <soap:address location="https://api.softlayer.com/soap/v3.1/SoftLayer_Account_Agreement"/>
    </port>
  </service>
</definitions>
