data/Account_Reports_Request.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3.1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3.1/" schemaLocation="https://api.softlayer.com/soap/v3.1/SoftLayer_Account_Reports_Request?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:complexType name="SoftLayer_Account_Reports_RequestInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Account_Reports_RequestObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Account_Reports_Request"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Account_Reports_RequestInitParametersHeader">
    <part name="SoftLayer_Account_Reports_RequestInitParameters" type="tns:SoftLayer_Account_Reports_RequestInitParameters"/>
  </message>
  <message name="createRequest">
    <part name="contact" type="tns:SoftLayer_Account_Contact"/>
    <part name="reason" type="xsd:string"/>
    <part name="reportType" type="xsd:string"/>
  </message>
  <message name="createRequestResponse">
    <part name="createRequestReturn" type="tns:SoftLayer_Account_Reports_Request"/>
  </message>
  <message name="getAccount"/>
  <message name="getAccountResponse">
    <part name="getAccountReturn" type="tns:SoftLayer_Account"/>
  </message>
  <message name="getAccountContact"/>
  <message name="getAccountContactResponse">
    <part name="getAccountContactReturn" type="tns:SoftLayer_Account_Contact"/>
  </message>
  <message name="getAllObjects"/>
  <message name="getAllObjectsResponse">
    <part name="getAllObjectsReturn" type="tns:SoftLayer_Account_Reports_Request"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Account_Reports_Request"/>
  </message>
  <message name="getReportType"/>
  <message name="getReportTypeResponse">
    <part name="getReportTypeReturn" type="tns:SoftLayer_Compliance_Report_Type"/>
  </message>
  <message name="getRequestByRequestKey">
    <part name="requestKey" type="xsd:string"/>
  </message>
  <message name="getRequestByRequestKeyResponse">
    <part name="getRequestByRequestKeyReturn" type="tns:SoftLayer_Account_Reports_Request"/>
  </message>
  <message name="getTicket"/>
  <message name="getTicketResponse">
    <part name="getTicketReturn" type="tns:SoftLayer_Ticket"/>
  </message>
  <message name="getUser"/>
  <message name="getUserResponse">
    <part name="getUserReturn" type="tns:SoftLayer_User_Customer"/>
  </message>
  <message name="sendReportEmail">
    <part name="request" type="tns:SoftLayer_Account_Reports_Request"/>
  </message>
  <message name="sendReportEmailResponse">
    <part name="sendReportEmailReturn" type="xsd:boolean"/>
  </message>
  <message name="updateTicketOnDecline">
    <part name="request" type="tns:SoftLayer_Account_Reports_Request"/>
  </message>
  <message name="updateTicketOnDeclineResponse">
    <part name="updateTicketOnDeclineReturn" type="xsd:boolean"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Account_Reports_RequestObjectMaskHeader">
    <part name="SoftLayer_Account_Reports_RequestObjectMask" type="tns:SoftLayer_Account_Reports_RequestObjectMask"/>
  </message>
  <message name="SoftLayer_Account_Reports_RequestObjectFilterHeader">
    <part name="SoftLayer_Account_Reports_RequestObjectFilter" type="tns:SoftLayer_Account_Reports_RequestObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Account_Reports_RequestPortType">
    <documentation></documentation>
    <operation name="createRequest">
      <documentation></documentation>
      <input message="tns:createRequest"/>
      <output message="tns:createRequestResponse"/>
    </operation>
    <operation name="getAccount">
      <documentation></documentation>
      <input message="tns:getAccount"/>
      <output message="tns:getAccountResponse"/>
    </operation>
    <operation name="getAccountContact">
      <documentation>Retrieve a request's corresponding external contact, if one exists.</documentation>
      <input message="tns:getAccountContact"/>
      <output message="tns:getAccountContactResponse"/>
    </operation>
    <operation name="getAllObjects">
      <documentation></documentation>
      <input message="tns:getAllObjects"/>
      <output message="tns:getAllObjectsResponse"/>
    </operation>
    <operation name="getObject">
      <documentation></documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
    <operation name="getReportType">
      <documentation>Retrieve type of the report customer is requesting for.</documentation>
      <input message="tns:getReportType"/>
      <output message="tns:getReportTypeResponse"/>
    </operation>
    <operation name="getRequestByRequestKey">
      <documentation></documentation>
      <input message="tns:getRequestByRequestKey"/>
      <output message="tns:getRequestByRequestKeyResponse"/>
    </operation>
    <operation name="getTicket">
      <documentation></documentation>
      <input message="tns:getTicket"/>
      <output message="tns:getTicketResponse"/>
    </operation>
    <operation name="getUser">
      <documentation>Retrieve the customer user that initiated a report request.</documentation>
      <input message="tns:getUser"/>
      <output message="tns:getUserResponse"/>
    </operation>
    <operation name="sendReportEmail">
      <documentation></documentation>
      <input message="tns:sendReportEmail"/>
      <output message="tns:sendReportEmailResponse"/>
    </operation>
    <operation name="updateTicketOnDecline">
      <documentation></documentation>
      <input message="tns:updateTicketOnDecline"/>
      <output message="tns:updateTicketOnDeclineResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Account_Reports_RequestBinding" type="tns:SoftLayer_Account_Reports_RequestPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="createRequest">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Account_Reports_RequestAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Reports_RequestObjectMaskHeader" part="SoftLayer_Account_Reports_RequestObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getAccount">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Account_Reports_RequestAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Account_Reports_RequestObjectMaskHeader" part="SoftLayer_Account_Reports_RequestObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Reports_RequestObjectFilterHeader" part="SoftLayer_Account_Reports_RequestObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Reports_RequestInitParametersHeader" part="SoftLayer_Account_Reports_RequestInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getAccountContact">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Account_Reports_RequestAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Account_Reports_RequestObjectMaskHeader" part="SoftLayer_Account_Reports_RequestObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Reports_RequestObjectFilterHeader" part="SoftLayer_Account_Reports_RequestObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Reports_RequestInitParametersHeader" part="SoftLayer_Account_Reports_RequestInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getAllObjects">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Account_Reports_RequestAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Reports_RequestObjectMaskHeader" part="SoftLayer_Account_Reports_RequestObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Reports_RequestObjectFilterHeader" part="SoftLayer_Account_Reports_RequestObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Account_Reports_RequestAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Account_Reports_RequestObjectMaskHeader" part="SoftLayer_Account_Reports_RequestObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Reports_RequestObjectFilterHeader" part="SoftLayer_Account_Reports_RequestObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Reports_RequestInitParametersHeader" part="SoftLayer_Account_Reports_RequestInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getReportType">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Account_Reports_RequestAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Account_Reports_RequestObjectMaskHeader" part="SoftLayer_Account_Reports_RequestObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Reports_RequestObjectFilterHeader" part="SoftLayer_Account_Reports_RequestObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Reports_RequestInitParametersHeader" part="SoftLayer_Account_Reports_RequestInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getRequestByRequestKey">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Account_Reports_RequestAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Reports_RequestObjectMaskHeader" part="SoftLayer_Account_Reports_RequestObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getTicket">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Account_Reports_RequestAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Account_Reports_RequestObjectMaskHeader" part="SoftLayer_Account_Reports_RequestObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Reports_RequestObjectFilterHeader" part="SoftLayer_Account_Reports_RequestObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Reports_RequestInitParametersHeader" part="SoftLayer_Account_Reports_RequestInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getUser">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Account_Reports_RequestAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Account_Reports_RequestObjectMaskHeader" part="SoftLayer_Account_Reports_RequestObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Reports_RequestObjectFilterHeader" part="SoftLayer_Account_Reports_RequestObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Reports_RequestInitParametersHeader" part="SoftLayer_Account_Reports_RequestInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="sendReportEmail">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Account_Reports_RequestAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="updateTicketOnDecline">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Account_Reports_RequestAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Account_Reports_RequestService">
    <port name="SoftLayer_Account_Reports_RequestPort" binding="tns:SoftLayer_Account_Reports_RequestBinding">
      <soap:address location="https://api.softlayer.com/soap/v3.1/SoftLayer_Account_Reports_Request"/>
    </port>
  </service>
</definitions>
