data/Account_Lockdown_Request.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3/" schemaLocation="https://api.softlayer.com/soap/v3/SoftLayer_Account_Lockdown_Request?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:complexType name="SoftLayer_Account_Lockdown_RequestInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Account_Lockdown_RequestObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Account_Lockdown_Request"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Account_Lockdown_RequestInitParametersHeader">
    <part name="SoftLayer_Account_Lockdown_RequestInitParameters" type="tns:SoftLayer_Account_Lockdown_RequestInitParameters"/>
  </message>
  <message name="cancelRequest"/>
  <message name="disableLockedAccount">
    <part name="disableDate" type="xsd:string"/>
  </message>
  <message name="disableLockedAccountResponse">
    <part name="disableLockedAccountReturn" type="xsd:int"/>
  </message>
  <message name="disconnectCompute">
    <part name="accountId" type="xsd:int"/>
    <part name="disconnectDate" type="xsd:string"/>
  </message>
  <message name="disconnectComputeResponse">
    <part name="disconnectComputeReturn" type="xsd:int"/>
  </message>
  <message name="getAccountHistory">
    <part name="accountId" type="xsd:int"/>
  </message>
  <message name="getAccountHistoryResponse">
    <part name="getAccountHistoryReturn" type="tns:SoftLayer_Account_Lockdown_RequestArray"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Account_Lockdown_Request"/>
  </message>
  <message name="reconnectCompute">
    <part name="reconnectDate" type="xsd:string"/>
  </message>
  <message name="reconnectComputeResponse">
    <part name="reconnectComputeReturn" type="xsd:int"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Account_Lockdown_RequestObjectMaskHeader">
    <part name="SoftLayer_Account_Lockdown_RequestObjectMask" type="tns:SoftLayer_Account_Lockdown_RequestObjectMask"/>
  </message>
  <message name="SoftLayer_Account_Lockdown_RequestObjectFilterHeader">
    <part name="SoftLayer_Account_Lockdown_RequestObjectFilter" type="tns:SoftLayer_Account_Lockdown_RequestObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Account_Lockdown_RequestPortType">
    <documentation>This service allows approved brands the ability to disconnect, reconnect, and disable customer accounts under that brand. Brand customers are able to make requests on their customers through an API call to this service. 

Disconnecting a customer will disable all hardware resources (servers and virtual machines) via a lockdown event. The customer will continue to have control portal access as well as access to their private ports. 

Reconnecting a customer will restore all previously disconnected public access. The original lockdown event will be closed. 

Disabling an account is a PERMANENT action. All billable items under the account will be canceled, access to the control portal, all resources, network access and hardware will be permanently disabled and reclaimed. </documentation>
    <operation name="cancelRequest">
      <documentation>Will cancel a lockdown request scheduled in the future. Once canceled, the lockdown request cannot be reconciled and new requests must be made for subsequent actions on the account. </documentation>
      <input message="tns:cancelRequest"/>
    </operation>
    <operation name="disableLockedAccount">
      <documentation>Takes the original lockdown request ID, and an optional disable date. If no date is passed with the API call, the account will be disabled immediately. Otherwise, the account will be disabled on the date given. All hardware will be reclaimed and all accounts permanently disabled. </documentation>
      <input message="tns:disableLockedAccount"/>
      <output message="tns:disableLockedAccountResponse"/>
    </operation>
    <operation name="disconnectCompute">
      <documentation>Takes an account ID and an optional disconnect date. If no disconnect date is passed into the API call, the account disconnection will happen immediately. Otherwise, the account disconnection will happen on the date given. A brand account request ID will be returned and will then be updated when the disconnection occurs. </documentation>
      <input message="tns:disconnectCompute"/>
      <output message="tns:disconnectComputeResponse"/>
    </operation>
    <operation name="getAccountHistory">
      <documentation>Provides a history of an account's lockdown requests and their status.</documentation>
      <input message="tns:getAccountHistory"/>
      <output message="tns:getAccountHistoryResponse"/>
    </operation>
    <operation name="getObject">
      <documentation></documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
    <operation name="reconnectCompute">
      <documentation>Takes the original disconnected lockdown event ID, and an optional reconnect date. If no reconnect date is passed with the API call, the account reconnection will happen immediately. Otherwise, the account reconnection will happen on the date given. The associated lockdown event will be unlocked and closed at that time. </documentation>
      <input message="tns:reconnectCompute"/>
      <output message="tns:reconnectComputeResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Account_Lockdown_RequestBinding" type="tns:SoftLayer_Account_Lockdown_RequestPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="cancelRequest">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Account_Lockdown_RequestAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Lockdown_RequestInitParametersHeader" part="SoftLayer_Account_Lockdown_RequestInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
    </operation>
    <operation name="disableLockedAccount">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Account_Lockdown_RequestAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Lockdown_RequestInitParametersHeader" part="SoftLayer_Account_Lockdown_RequestInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="disconnectCompute">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Account_Lockdown_RequestAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getAccountHistory">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Account_Lockdown_RequestAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Lockdown_RequestObjectMaskHeader" part="SoftLayer_Account_Lockdown_RequestObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Account_Lockdown_RequestAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Account_Lockdown_RequestObjectMaskHeader" part="SoftLayer_Account_Lockdown_RequestObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Lockdown_RequestObjectFilterHeader" part="SoftLayer_Account_Lockdown_RequestObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Lockdown_RequestInitParametersHeader" part="SoftLayer_Account_Lockdown_RequestInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="reconnectCompute">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Account_Lockdown_RequestAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Account_Lockdown_RequestInitParametersHeader" part="SoftLayer_Account_Lockdown_RequestInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Account_Lockdown_RequestService">
    <port name="SoftLayer_Account_Lockdown_RequestPort" binding="tns:SoftLayer_Account_Lockdown_RequestBinding">
      <soap:address location="https://api.softlayer.com/soap/v3/SoftLayer_Account_Lockdown_Request"/>
    </port>
  </service>
</definitions>
