data/Auxiliary_Network_Status.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3.1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3.1/" schemaLocation="https://api.softlayer.com/soap/v3.1/SoftLayer_Auxiliary_Network_Status?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:simpleType name="getNetworkStatus_target">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="ALL">
            <xsd:annotation>
              <xsd:documentation>All</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="NETWORK_DALLAS">
            <xsd:annotation>
              <xsd:documentation>Dallas Network</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="NETWORK_SEATTLE">
            <xsd:annotation>
              <xsd:documentation>Seattle Network</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="NETWORK_PUBLIC">
            <xsd:annotation>
              <xsd:documentation>Public Network</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="NETWORK_PUBLIC_DALLAS">
            <xsd:annotation>
              <xsd:documentation>Dallas, TX - Public Network</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="NETWORK_PUBLIC_SEATTLE">
            <xsd:annotation>
              <xsd:documentation>Seattle, WA - Public Network</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="NETWORK_PUBLIC_WDC">
            <xsd:annotation>
              <xsd:documentation>Washington, DC - Public Network</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="NETWORK_PRIVATE">
            <xsd:annotation>
              <xsd:documentation>Private Network</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="NETWORK_PRIVATE_DALLAS">
            <xsd:annotation>
              <xsd:documentation>Dallas, TX - Private Network</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="NETWORK_PRIVATE_SEATTLE">
            <xsd:annotation>
              <xsd:documentation>Seattle, WA - Private Network</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="NETWORK_PRIVATE_WDC">
            <xsd:annotation>
              <xsd:documentation>Washington, DC - Private Network</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
  </types>
  <message name="getNetworkStatus">
    <part name="target" type="tns:getNetworkStatus_target"/>
  </message>
  <message name="getNetworkStatusResponse">
    <part name="getNetworkStatusReturn" type="tns:SoftLayer_Container_Auxiliary_Network_Status_ReadingArray"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Auxiliary_Network_StatusPortType">
    <documentation>This service provides a way for a SoftLayer customer to obtain current latency information from around the world to our datacenters, and segments of our network both public and private. There are a few valid targets. Currently the valid targets are as follows: 
* ALL
* NETWORK_DALLAS
* NETWORK_HOUSTON
* NETWORK_SANJOSE
* NETWORK_SEATTLE
* NETWORK_WDC
* NETWORK_PUBLIC
* NETWORK_PUBLIC_DALLAS
* NETWORK_PUBLIC_HOUSTON
* NETWORK_PUBLIC_SANJOSE
* NETWORK_PUBLIC_SEATTLE
* NETWORK_PUBLIC_WDC
* NETWORK_PRIVATE
* NETWORK_PRIVATE_DALLAS
* NETWORK_PRIVATE_HOUSTON
* NETWORK_PRIVATE_SANJOSE
* NETWORK_PRIVATE_SEATTLE
* NETWORK_PRIVATE_WDC
Information </documentation>
    <operation name="getNetworkStatus">
      <documentation>Return the current network status of and latency information for a given target from numerous points around the world. Valid Targets: 
* ALL
* NETWORK_DALLAS
* NETWORK_SEATTLE
* NETWORK_PUBLIC
* NETWORK_PUBLIC_DALLAS
* NETWORK_PUBLIC_SEATTLE
* NETWORK_PUBLIC_WDC
* NETWORK_PRIVATE
* NETWORK_PRIVATE_DALLAS
* NETWORK_PRIVATE_SEATTLE
* NETWORK_PRIVATE_WDC</documentation>
      <input message="tns:getNetworkStatus"/>
      <output message="tns:getNetworkStatusResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Auxiliary_Network_StatusBinding" type="tns:SoftLayer_Auxiliary_Network_StatusPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getNetworkStatus">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Auxiliary_Network_StatusAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Auxiliary_Network_StatusService">
    <port name="SoftLayer_Auxiliary_Network_StatusPort" binding="tns:SoftLayer_Auxiliary_Network_StatusBinding">
      <soap:address location="https://api.softlayer.com/soap/v3.1/SoftLayer_Auxiliary_Network_Status"/>
    </port>
  </service>
</definitions>
