data/Auxiliary_Press_Release_About.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3/" schemaLocation="https://api.softlayer.com/soap/v3/SoftLayer_Auxiliary_Press_Release_About?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:complexType name="SoftLayer_Auxiliary_Press_Release_AboutInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Auxiliary_Press_Release_AboutObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Auxiliary_Press_Release_About"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Auxiliary_Press_Release_AboutInitParametersHeader">
    <part name="SoftLayer_Auxiliary_Press_Release_AboutInitParameters" type="tns:SoftLayer_Auxiliary_Press_Release_AboutInitParameters"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Auxiliary_Press_Release_About"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Auxiliary_Press_Release_AboutObjectMaskHeader">
    <part name="SoftLayer_Auxiliary_Press_Release_AboutObjectMask" type="tns:SoftLayer_Auxiliary_Press_Release_AboutObjectMask"/>
  </message>
  <message name="SoftLayer_Auxiliary_Press_Release_AboutObjectFilterHeader">
    <part name="SoftLayer_Auxiliary_Press_Release_AboutObjectFilter" type="tns:SoftLayer_Auxiliary_Press_Release_AboutObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Auxiliary_Press_Release_AboutPortType">
    <documentation>The SoftLayer_Auxiliary_Press_Release_About service provides all the about paragraphs associated to a press release. </documentation>
    <operation name="getObject">
      <documentation>getObject retrieves the SoftLayer_Auxiliary_Press_Release_About object whose about id number corresponds to the ID number of the init parameter passed to the SoftLayer_Auxiliary_Press_Release service. </documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Auxiliary_Press_Release_AboutBinding" type="tns:SoftLayer_Auxiliary_Press_Release_AboutPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Auxiliary_Press_Release_AboutAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Auxiliary_Press_Release_AboutObjectMaskHeader" part="SoftLayer_Auxiliary_Press_Release_AboutObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Auxiliary_Press_Release_AboutObjectFilterHeader" part="SoftLayer_Auxiliary_Press_Release_AboutObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Auxiliary_Press_Release_AboutInitParametersHeader" part="SoftLayer_Auxiliary_Press_Release_AboutInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Auxiliary_Press_Release_AboutService">
    <port name="SoftLayer_Auxiliary_Press_Release_AboutPort" binding="tns:SoftLayer_Auxiliary_Press_Release_AboutBinding">
      <soap:address location="https://api.softlayer.com/soap/v3/SoftLayer_Auxiliary_Press_Release_About"/>
    </port>
  </service>
</definitions>
