data/Billing_Item_Cancellation_Reason_Category.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3.1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3.1/" schemaLocation="https://api.softlayer.com/soap/v3.1/SoftLayer_Billing_Item_Cancellation_Reason_Category?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:complexType name="SoftLayer_Billing_Item_Cancellation_Reason_CategoryInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Billing_Item_Cancellation_Reason_CategoryObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Billing_Item_Cancellation_Reason_Category"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Billing_Item_Cancellation_Reason_CategoryInitParametersHeader">
    <part name="SoftLayer_Billing_Item_Cancellation_Reason_CategoryInitParameters" type="tns:SoftLayer_Billing_Item_Cancellation_Reason_CategoryInitParameters"/>
  </message>
  <message name="getAllCancellationReasonCategories"/>
  <message name="getAllCancellationReasonCategoriesResponse">
    <part name="getAllCancellationReasonCategoriesReturn" type="tns:SoftLayer_Billing_Item_Cancellation_Reason_CategoryArray"/>
  </message>
  <message name="getBillingCancellationReasons"/>
  <message name="getBillingCancellationReasonsResponse">
    <part name="getBillingCancellationReasonsReturn" type="tns:SoftLayer_Billing_Item_Cancellation_ReasonArray"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Billing_Item_Cancellation_Reason_Category"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Billing_Item_Cancellation_Reason_CategoryObjectMaskHeader">
    <part name="SoftLayer_Billing_Item_Cancellation_Reason_CategoryObjectMask" type="tns:SoftLayer_Billing_Item_Cancellation_Reason_CategoryObjectMask"/>
  </message>
  <message name="SoftLayer_Billing_Item_Cancellation_Reason_CategoryObjectFilterHeader">
    <part name="SoftLayer_Billing_Item_Cancellation_Reason_CategoryObjectFilter" type="tns:SoftLayer_Billing_Item_Cancellation_Reason_CategoryObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Billing_Item_Cancellation_Reason_CategoryPortType">
    <documentation></documentation>
    <operation name="getAllCancellationReasonCategories">
      <documentation>getAllCancellationReasonCategories() retrieves a list of all cancellation reason categories </documentation>
      <input message="tns:getAllCancellationReasonCategories"/>
      <output message="tns:getAllCancellationReasonCategoriesResponse"/>
    </operation>
    <operation name="getBillingCancellationReasons">
      <documentation>Retrieve the corresponding billing cancellation reasons having the specific billing cancellation reason category.</documentation>
      <input message="tns:getBillingCancellationReasons"/>
      <output message="tns:getBillingCancellationReasonsResponse"/>
    </operation>
    <operation name="getObject">
      <documentation></documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Billing_Item_Cancellation_Reason_CategoryBinding" type="tns:SoftLayer_Billing_Item_Cancellation_Reason_CategoryPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getAllCancellationReasonCategories">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Billing_Item_Cancellation_Reason_CategoryAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_Item_Cancellation_Reason_CategoryObjectMaskHeader" part="SoftLayer_Billing_Item_Cancellation_Reason_CategoryObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getBillingCancellationReasons">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Billing_Item_Cancellation_Reason_CategoryAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Billing_Item_Cancellation_Reason_CategoryObjectMaskHeader" part="SoftLayer_Billing_Item_Cancellation_Reason_CategoryObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_Item_Cancellation_Reason_CategoryObjectFilterHeader" part="SoftLayer_Billing_Item_Cancellation_Reason_CategoryObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_Item_Cancellation_Reason_CategoryInitParametersHeader" part="SoftLayer_Billing_Item_Cancellation_Reason_CategoryInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Billing_Item_Cancellation_Reason_CategoryAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Billing_Item_Cancellation_Reason_CategoryObjectMaskHeader" part="SoftLayer_Billing_Item_Cancellation_Reason_CategoryObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_Item_Cancellation_Reason_CategoryObjectFilterHeader" part="SoftLayer_Billing_Item_Cancellation_Reason_CategoryObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_Item_Cancellation_Reason_CategoryInitParametersHeader" part="SoftLayer_Billing_Item_Cancellation_Reason_CategoryInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Billing_Item_Cancellation_Reason_CategoryService">
    <port name="SoftLayer_Billing_Item_Cancellation_Reason_CategoryPort" binding="tns:SoftLayer_Billing_Item_Cancellation_Reason_CategoryBinding">
      <soap:address location="https://api.softlayer.com/soap/v3.1/SoftLayer_Billing_Item_Cancellation_Reason_Category"/>
    </port>
  </service>
</definitions>
