data/Billing_Info.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3.1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3.1/" schemaLocation="https://api.softlayer.com/soap/v3.1/SoftLayer_Billing_Info?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:complexType name="SoftLayer_Billing_InfoInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Billing_InfoObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Billing_Info"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Billing_InfoInitParametersHeader">
    <part name="SoftLayer_Billing_InfoInitParameters" type="tns:SoftLayer_Billing_InfoInitParameters"/>
  </message>
  <message name="getAccount"/>
  <message name="getAccountResponse">
    <part name="getAccountReturn" type="tns:SoftLayer_Account"/>
  </message>
  <message name="getAchInformation"/>
  <message name="getAchInformationResponse">
    <part name="getAchInformationReturn" type="tns:SoftLayer_Billing_Info_AchArray"/>
  </message>
  <message name="getCurrency"/>
  <message name="getCurrencyResponse">
    <part name="getCurrencyReturn" type="tns:SoftLayer_Billing_Currency"/>
  </message>
  <message name="getCurrentBillingCycle"/>
  <message name="getCurrentBillingCycleResponse">
    <part name="getCurrentBillingCycleReturn" type="tns:SoftLayer_Billing_Info_Cycle"/>
  </message>
  <message name="getLastBillDate"/>
  <message name="getLastBillDateResponse">
    <part name="getLastBillDateReturn" type="xsd:dateTime"/>
  </message>
  <message name="getNextBillDate"/>
  <message name="getNextBillDateResponse">
    <part name="getNextBillDateReturn" type="xsd:dateTime"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Billing_Info"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Billing_InfoObjectMaskHeader">
    <part name="SoftLayer_Billing_InfoObjectMask" type="tns:SoftLayer_Billing_InfoObjectMask"/>
  </message>
  <message name="SoftLayer_Billing_InfoObjectFilterHeader">
    <part name="SoftLayer_Billing_InfoObjectFilter" type="tns:SoftLayer_Billing_InfoObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Billing_InfoPortType">
    <documentation>SoftLayer billing info contains company billing information such as the last date a payment was made and the last time any billing information was update. Use the data returned by these methods with other API services to get more detailed information about your billing information. 

Due to the sensitivity of your billing information we don't allow changing this data through the API. Please open a sales ticket in our customer portal if you need to change this information. </documentation>
    <operation name="getAccount">
      <documentation>Retrieve the SoftLayer customer account associated with this billing information.</documentation>
      <input message="tns:getAccount"/>
      <output message="tns:getAccountResponse"/>
    </operation>
    <operation name="getAchInformation">
      <documentation></documentation>
      <input message="tns:getAchInformation"/>
      <output message="tns:getAchInformationResponse"/>
    </operation>
    <operation name="getCurrency">
      <documentation>Retrieve currency to be used by this customer account.</documentation>
      <input message="tns:getCurrency"/>
      <output message="tns:getCurrencyResponse"/>
    </operation>
    <operation name="getCurrentBillingCycle">
      <documentation>Retrieve information related to an account's current and previous billing cycles.</documentation>
      <input message="tns:getCurrentBillingCycle"/>
      <output message="tns:getCurrentBillingCycleResponse"/>
    </operation>
    <operation name="getLastBillDate">
      <documentation>Retrieve the date on which an account was last billed.</documentation>
      <input message="tns:getLastBillDate"/>
      <output message="tns:getLastBillDateResponse"/>
    </operation>
    <operation name="getNextBillDate">
      <documentation>Retrieve the date on which an account will be billed next.</documentation>
      <input message="tns:getNextBillDate"/>
      <output message="tns:getNextBillDateResponse"/>
    </operation>
    <operation name="getObject">
      <documentation>getObject retrieves the SoftLayer_Billing_Info object whose data corresponds to the account to which your portal user is tied. </documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Billing_InfoBinding" type="tns:SoftLayer_Billing_InfoPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getAccount">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Billing_InfoAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Billing_InfoObjectMaskHeader" part="SoftLayer_Billing_InfoObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_InfoObjectFilterHeader" part="SoftLayer_Billing_InfoObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_InfoInitParametersHeader" part="SoftLayer_Billing_InfoInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getAchInformation">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Billing_InfoAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Billing_InfoObjectMaskHeader" part="SoftLayer_Billing_InfoObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_InfoObjectFilterHeader" part="SoftLayer_Billing_InfoObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_InfoInitParametersHeader" part="SoftLayer_Billing_InfoInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getCurrency">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Billing_InfoAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Billing_InfoObjectMaskHeader" part="SoftLayer_Billing_InfoObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_InfoObjectFilterHeader" part="SoftLayer_Billing_InfoObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_InfoInitParametersHeader" part="SoftLayer_Billing_InfoInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getCurrentBillingCycle">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Billing_InfoAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Billing_InfoObjectMaskHeader" part="SoftLayer_Billing_InfoObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_InfoObjectFilterHeader" part="SoftLayer_Billing_InfoObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_InfoInitParametersHeader" part="SoftLayer_Billing_InfoInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getLastBillDate">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Billing_InfoAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Billing_InfoObjectMaskHeader" part="SoftLayer_Billing_InfoObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_InfoObjectFilterHeader" part="SoftLayer_Billing_InfoObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_InfoInitParametersHeader" part="SoftLayer_Billing_InfoInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getNextBillDate">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Billing_InfoAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Billing_InfoObjectMaskHeader" part="SoftLayer_Billing_InfoObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_InfoObjectFilterHeader" part="SoftLayer_Billing_InfoObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_InfoInitParametersHeader" part="SoftLayer_Billing_InfoInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Billing_InfoAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Billing_InfoObjectMaskHeader" part="SoftLayer_Billing_InfoObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_InfoObjectFilterHeader" part="SoftLayer_Billing_InfoObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_InfoInitParametersHeader" part="SoftLayer_Billing_InfoInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Billing_InfoService">
    <port name="SoftLayer_Billing_InfoPort" binding="tns:SoftLayer_Billing_InfoBinding">
      <soap:address location="https://api.softlayer.com/soap/v3.1/SoftLayer_Billing_Info"/>
    </port>
  </service>
</definitions>
