data/Billing_Invoice_Item.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3.1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3.1/" schemaLocation="https://api.softlayer.com/soap/v3.1/SoftLayer_Billing_Invoice_Item?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:complexType name="SoftLayer_Billing_Invoice_ItemInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Billing_Invoice_ItemObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Billing_Invoice_Item"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Billing_Invoice_ItemInitParametersHeader">
    <part name="SoftLayer_Billing_Invoice_ItemInitParameters" type="tns:SoftLayer_Billing_Invoice_ItemInitParameters"/>
  </message>
  <message name="getAssociatedChildren"/>
  <message name="getAssociatedChildrenResponse">
    <part name="getAssociatedChildrenReturn" type="tns:SoftLayer_Billing_Invoice_ItemArray"/>
  </message>
  <message name="getAssociatedInvoiceItem"/>
  <message name="getAssociatedInvoiceItemResponse">
    <part name="getAssociatedInvoiceItemReturn" type="tns:SoftLayer_Billing_Invoice_Item"/>
  </message>
  <message name="getBillingItem"/>
  <message name="getBillingItemResponse">
    <part name="getBillingItemReturn" type="tns:SoftLayer_Billing_Item"/>
  </message>
  <message name="getCategory"/>
  <message name="getCategoryResponse">
    <part name="getCategoryReturn" type="tns:SoftLayer_Product_Item_Category"/>
  </message>
  <message name="getChildren"/>
  <message name="getChildrenResponse">
    <part name="getChildrenReturn" type="tns:SoftLayer_Billing_Invoice_ItemArray"/>
  </message>
  <message name="getFilteredAssociatedChildren"/>
  <message name="getFilteredAssociatedChildrenResponse">
    <part name="getFilteredAssociatedChildrenReturn" type="tns:SoftLayer_Billing_Invoice_ItemArray"/>
  </message>
  <message name="getInvoice"/>
  <message name="getInvoiceResponse">
    <part name="getInvoiceReturn" type="tns:SoftLayer_Billing_Invoice"/>
  </message>
  <message name="getLocation"/>
  <message name="getLocationResponse">
    <part name="getLocationReturn" type="tns:SoftLayer_Location"/>
  </message>
  <message name="getNonZeroAssociatedChildren"/>
  <message name="getNonZeroAssociatedChildrenResponse">
    <part name="getNonZeroAssociatedChildrenReturn" type="tns:SoftLayer_Billing_Invoice_ItemArray"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Billing_Invoice_Item"/>
  </message>
  <message name="getParent"/>
  <message name="getParentResponse">
    <part name="getParentReturn" type="tns:SoftLayer_Billing_Invoice_Item"/>
  </message>
  <message name="getProduct"/>
  <message name="getProductResponse">
    <part name="getProductReturn" type="tns:SoftLayer_Product_Item"/>
  </message>
  <message name="getTotalOneTimeAmount"/>
  <message name="getTotalOneTimeAmountResponse">
    <part name="getTotalOneTimeAmountReturn" type="xsd:float"/>
  </message>
  <message name="getTotalOneTimeTaxAmount"/>
  <message name="getTotalOneTimeTaxAmountResponse">
    <part name="getTotalOneTimeTaxAmountReturn" type="xsd:float"/>
  </message>
  <message name="getTotalRecurringAmount"/>
  <message name="getTotalRecurringAmountResponse">
    <part name="getTotalRecurringAmountReturn" type="xsd:float"/>
  </message>
  <message name="getTotalRecurringTaxAmount"/>
  <message name="getTotalRecurringTaxAmountResponse">
    <part name="getTotalRecurringTaxAmountReturn" type="xsd:float"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Billing_Invoice_ItemObjectMaskHeader">
    <part name="SoftLayer_Billing_Invoice_ItemObjectMask" type="tns:SoftLayer_Billing_Invoice_ItemObjectMask"/>
  </message>
  <message name="SoftLayer_Billing_Invoice_ItemObjectFilterHeader">
    <part name="SoftLayer_Billing_Invoice_ItemObjectFilter" type="tns:SoftLayer_Billing_Invoice_ItemObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Billing_Invoice_ItemPortType">
    <documentation>Every invoice item is defined in the SoftLayer_Billing_Invoice_Item service. Softlayer billing invoice items have details about the items that reside within an invoice. These items detail, for instance, the recurring and one time charges for each item billed. </documentation>
    <operation name="getAssociatedChildren">
      <documentation>Retrieve an Invoice Item's associated child invoice items. Only parent invoice items have associated children. For instance, a server invoice item may have associated children.</documentation>
      <input message="tns:getAssociatedChildren"/>
      <output message="tns:getAssociatedChildrenResponse"/>
    </operation>
    <operation name="getAssociatedInvoiceItem">
      <documentation>Retrieve an Invoice Item's associated invoice item. If this is populated, it means this is an orphaned invoice item, but logically belongs to the associated invoice item.</documentation>
      <input message="tns:getAssociatedInvoiceItem"/>
      <output message="tns:getAssociatedInvoiceItemResponse"/>
    </operation>
    <operation name="getBillingItem">
      <documentation>Retrieve an Invoice Item's billing item, from which this item was generated.</documentation>
      <input message="tns:getBillingItem"/>
      <output message="tns:getBillingItemResponse"/>
    </operation>
    <operation name="getCategory">
      <documentation>Retrieve this invoice item's &amp;quot;item category&amp;quot;. </documentation>
      <input message="tns:getCategory"/>
      <output message="tns:getCategoryResponse"/>
    </operation>
    <operation name="getChildren">
      <documentation>Retrieve an Invoice Item's child invoice items. Only parent invoice items have children. For instance, a server invoice item will have children.</documentation>
      <input message="tns:getChildren"/>
      <output message="tns:getChildrenResponse"/>
    </operation>
    <operation name="getFilteredAssociatedChildren">
      <documentation>Retrieve an Invoice Item's associated child invoice items, excluding some items with a $0.00 recurring fee. Only parent invoice items have associated children. For instance, a server invoice item may have associated children.</documentation>
      <input message="tns:getFilteredAssociatedChildren"/>
      <output message="tns:getFilteredAssociatedChildrenResponse"/>
    </operation>
    <operation name="getInvoice">
      <documentation>Retrieve the invoice to which this item belongs.</documentation>
      <input message="tns:getInvoice"/>
      <output message="tns:getInvoiceResponse"/>
    </operation>
    <operation name="getLocation">
      <documentation>Retrieve an invoice item's location, if one exists.'</documentation>
      <input message="tns:getLocation"/>
      <output message="tns:getLocationResponse"/>
    </operation>
    <operation name="getNonZeroAssociatedChildren">
      <documentation>Retrieve an Invoice Item's associated child invoice items, excluding ALL items with a $0.00 recurring fee. Only parent invoice items have associated children. For instance, a server invoice item may have associated children.</documentation>
      <input message="tns:getNonZeroAssociatedChildren"/>
      <output message="tns:getNonZeroAssociatedChildrenResponse"/>
    </operation>
    <operation name="getObject">
      <documentation>getObject retrieves the SoftLayer_Billing_Invoice_Item object whose ID number corresponds to the ID number of the init parameter passed to the SoftLayer_Billing_Invoice_Item service. You can only retrieve the items tied to the account that your portal user is assigned to. </documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
    <operation name="getParent">
      <documentation>Retrieve every item tied to a server should have a parent invoice item which is the server line item. This is how we associate items to a server.</documentation>
      <input message="tns:getParent"/>
      <output message="tns:getParentResponse"/>
    </operation>
    <operation name="getProduct">
      <documentation>Retrieve the entry in the product catalog that a invoice item is based upon.</documentation>
      <input message="tns:getProduct"/>
      <output message="tns:getProductResponse"/>
    </operation>
    <operation name="getTotalOneTimeAmount">
      <documentation>Retrieve an invoice Item's total, including any child invoice items if they exist.</documentation>
      <input message="tns:getTotalOneTimeAmount"/>
      <output message="tns:getTotalOneTimeAmountResponse"/>
    </operation>
    <operation name="getTotalOneTimeTaxAmount">
      <documentation>Retrieve an invoice Item's total, including any child invoice items if they exist.</documentation>
      <input message="tns:getTotalOneTimeTaxAmount"/>
      <output message="tns:getTotalOneTimeTaxAmountResponse"/>
    </operation>
    <operation name="getTotalRecurringAmount">
      <documentation>Retrieve an invoice Item's total, including any child invoice items if they exist.</documentation>
      <input message="tns:getTotalRecurringAmount"/>
      <output message="tns:getTotalRecurringAmountResponse"/>
    </operation>
    <operation name="getTotalRecurringTaxAmount">
      <documentation>Retrieve a Billing Item's total, including any child billing items if they exist.'</documentation>
      <input message="tns:getTotalRecurringTaxAmount"/>
      <output message="tns:getTotalRecurringTaxAmountResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Billing_Invoice_ItemBinding" type="tns:SoftLayer_Billing_Invoice_ItemPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getAssociatedChildren">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Billing_Invoice_ItemAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemObjectMaskHeader" part="SoftLayer_Billing_Invoice_ItemObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemObjectFilterHeader" part="SoftLayer_Billing_Invoice_ItemObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemInitParametersHeader" part="SoftLayer_Billing_Invoice_ItemInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getAssociatedInvoiceItem">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Billing_Invoice_ItemAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemObjectMaskHeader" part="SoftLayer_Billing_Invoice_ItemObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemObjectFilterHeader" part="SoftLayer_Billing_Invoice_ItemObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemInitParametersHeader" part="SoftLayer_Billing_Invoice_ItemInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getBillingItem">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Billing_Invoice_ItemAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemObjectMaskHeader" part="SoftLayer_Billing_Invoice_ItemObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemObjectFilterHeader" part="SoftLayer_Billing_Invoice_ItemObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemInitParametersHeader" part="SoftLayer_Billing_Invoice_ItemInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getCategory">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Billing_Invoice_ItemAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemObjectMaskHeader" part="SoftLayer_Billing_Invoice_ItemObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemObjectFilterHeader" part="SoftLayer_Billing_Invoice_ItemObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemInitParametersHeader" part="SoftLayer_Billing_Invoice_ItemInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getChildren">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Billing_Invoice_ItemAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemObjectMaskHeader" part="SoftLayer_Billing_Invoice_ItemObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemObjectFilterHeader" part="SoftLayer_Billing_Invoice_ItemObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemInitParametersHeader" part="SoftLayer_Billing_Invoice_ItemInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getFilteredAssociatedChildren">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Billing_Invoice_ItemAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemObjectMaskHeader" part="SoftLayer_Billing_Invoice_ItemObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemObjectFilterHeader" part="SoftLayer_Billing_Invoice_ItemObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemInitParametersHeader" part="SoftLayer_Billing_Invoice_ItemInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getInvoice">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Billing_Invoice_ItemAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemObjectMaskHeader" part="SoftLayer_Billing_Invoice_ItemObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemObjectFilterHeader" part="SoftLayer_Billing_Invoice_ItemObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemInitParametersHeader" part="SoftLayer_Billing_Invoice_ItemInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getLocation">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Billing_Invoice_ItemAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemObjectMaskHeader" part="SoftLayer_Billing_Invoice_ItemObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemObjectFilterHeader" part="SoftLayer_Billing_Invoice_ItemObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemInitParametersHeader" part="SoftLayer_Billing_Invoice_ItemInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getNonZeroAssociatedChildren">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Billing_Invoice_ItemAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemObjectMaskHeader" part="SoftLayer_Billing_Invoice_ItemObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemObjectFilterHeader" part="SoftLayer_Billing_Invoice_ItemObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemInitParametersHeader" part="SoftLayer_Billing_Invoice_ItemInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Billing_Invoice_ItemAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemObjectMaskHeader" part="SoftLayer_Billing_Invoice_ItemObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemObjectFilterHeader" part="SoftLayer_Billing_Invoice_ItemObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemInitParametersHeader" part="SoftLayer_Billing_Invoice_ItemInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getParent">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Billing_Invoice_ItemAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemObjectMaskHeader" part="SoftLayer_Billing_Invoice_ItemObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemObjectFilterHeader" part="SoftLayer_Billing_Invoice_ItemObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemInitParametersHeader" part="SoftLayer_Billing_Invoice_ItemInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getProduct">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Billing_Invoice_ItemAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemObjectMaskHeader" part="SoftLayer_Billing_Invoice_ItemObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemObjectFilterHeader" part="SoftLayer_Billing_Invoice_ItemObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemInitParametersHeader" part="SoftLayer_Billing_Invoice_ItemInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getTotalOneTimeAmount">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Billing_Invoice_ItemAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemObjectMaskHeader" part="SoftLayer_Billing_Invoice_ItemObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemObjectFilterHeader" part="SoftLayer_Billing_Invoice_ItemObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemInitParametersHeader" part="SoftLayer_Billing_Invoice_ItemInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getTotalOneTimeTaxAmount">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Billing_Invoice_ItemAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemObjectMaskHeader" part="SoftLayer_Billing_Invoice_ItemObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemObjectFilterHeader" part="SoftLayer_Billing_Invoice_ItemObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemInitParametersHeader" part="SoftLayer_Billing_Invoice_ItemInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getTotalRecurringAmount">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Billing_Invoice_ItemAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemObjectMaskHeader" part="SoftLayer_Billing_Invoice_ItemObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemObjectFilterHeader" part="SoftLayer_Billing_Invoice_ItemObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemInitParametersHeader" part="SoftLayer_Billing_Invoice_ItemInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getTotalRecurringTaxAmount">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Billing_Invoice_ItemAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemObjectMaskHeader" part="SoftLayer_Billing_Invoice_ItemObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemObjectFilterHeader" part="SoftLayer_Billing_Invoice_ItemObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Billing_Invoice_ItemInitParametersHeader" part="SoftLayer_Billing_Invoice_ItemInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Billing_Invoice_ItemService">
    <port name="SoftLayer_Billing_Invoice_ItemPort" binding="tns:SoftLayer_Billing_Invoice_ItemBinding">
      <soap:address location="https://api.softlayer.com/soap/v3.1/SoftLayer_Billing_Invoice_Item"/>
    </port>
  </service>
</definitions>
