data/Brand_Restriction_Location_CustomerCountry.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3/" schemaLocation="https://api.softlayer.com/soap/v3/SoftLayer_Brand_Restriction_Location_CustomerCountry?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:complexType name="SoftLayer_Brand_Restriction_Location_CustomerCountryInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Brand_Restriction_Location_CustomerCountryObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Brand_Restriction_Location_CustomerCountry"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Brand_Restriction_Location_CustomerCountryInitParametersHeader">
    <part name="SoftLayer_Brand_Restriction_Location_CustomerCountryInitParameters" type="tns:SoftLayer_Brand_Restriction_Location_CustomerCountryInitParameters"/>
  </message>
  <message name="getAllObjects"/>
  <message name="getAllObjectsResponse">
    <part name="getAllObjectsReturn" type="tns:SoftLayer_Brand_Restriction_Location_CustomerCountryArray"/>
  </message>
  <message name="getBrand"/>
  <message name="getBrandResponse">
    <part name="getBrandReturn" type="tns:SoftLayer_Brand"/>
  </message>
  <message name="getLocation"/>
  <message name="getLocationResponse">
    <part name="getLocationReturn" type="tns:SoftLayer_Location"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Brand_Restriction_Location_CustomerCountry"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Brand_Restriction_Location_CustomerCountryObjectMaskHeader">
    <part name="SoftLayer_Brand_Restriction_Location_CustomerCountryObjectMask" type="tns:SoftLayer_Brand_Restriction_Location_CustomerCountryObjectMask"/>
  </message>
  <message name="SoftLayer_Brand_Restriction_Location_CustomerCountryObjectFilterHeader">
    <part name="SoftLayer_Brand_Restriction_Location_CustomerCountryObjectFilter" type="tns:SoftLayer_Brand_Restriction_Location_CustomerCountryObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Brand_Restriction_Location_CustomerCountryPortType">
    <documentation>The [[SoftLayer_Brand_Restriction_Location_CustomerCountry]] service defines the relationship between brands, locations and countries associated with a user's account that are ineligible when ordering products. For example, the India datacenter may not be available on the SoftLayer US brand for customers that live in Great Britain. </documentation>
    <operation name="getAllObjects">
      <documentation></documentation>
      <input message="tns:getAllObjects"/>
      <output message="tns:getAllObjectsResponse"/>
    </operation>
    <operation name="getBrand">
      <documentation>Retrieve this references the brand that has a brand-location-country restriction setup.</documentation>
      <input message="tns:getBrand"/>
      <output message="tns:getBrandResponse"/>
    </operation>
    <operation name="getLocation">
      <documentation>Retrieve this references the datacenter that has a brand-location-country restriction setup. For example, if a datacenter is listed with a restriction for Canada, a Canadian customer may not be eligible to order services at that location.</documentation>
      <input message="tns:getLocation"/>
      <output message="tns:getLocationResponse"/>
    </operation>
    <operation name="getObject">
      <documentation></documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Brand_Restriction_Location_CustomerCountryBinding" type="tns:SoftLayer_Brand_Restriction_Location_CustomerCountryPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getAllObjects">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Brand_Restriction_Location_CustomerCountryAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Brand_Restriction_Location_CustomerCountryObjectMaskHeader" part="SoftLayer_Brand_Restriction_Location_CustomerCountryObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Brand_Restriction_Location_CustomerCountryObjectFilterHeader" part="SoftLayer_Brand_Restriction_Location_CustomerCountryObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getBrand">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Brand_Restriction_Location_CustomerCountryAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Brand_Restriction_Location_CustomerCountryObjectMaskHeader" part="SoftLayer_Brand_Restriction_Location_CustomerCountryObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Brand_Restriction_Location_CustomerCountryObjectFilterHeader" part="SoftLayer_Brand_Restriction_Location_CustomerCountryObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Brand_Restriction_Location_CustomerCountryInitParametersHeader" part="SoftLayer_Brand_Restriction_Location_CustomerCountryInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getLocation">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Brand_Restriction_Location_CustomerCountryAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Brand_Restriction_Location_CustomerCountryObjectMaskHeader" part="SoftLayer_Brand_Restriction_Location_CustomerCountryObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Brand_Restriction_Location_CustomerCountryObjectFilterHeader" part="SoftLayer_Brand_Restriction_Location_CustomerCountryObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Brand_Restriction_Location_CustomerCountryInitParametersHeader" part="SoftLayer_Brand_Restriction_Location_CustomerCountryInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Brand_Restriction_Location_CustomerCountryAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Brand_Restriction_Location_CustomerCountryObjectMaskHeader" part="SoftLayer_Brand_Restriction_Location_CustomerCountryObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Brand_Restriction_Location_CustomerCountryObjectFilterHeader" part="SoftLayer_Brand_Restriction_Location_CustomerCountryObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Brand_Restriction_Location_CustomerCountryInitParametersHeader" part="SoftLayer_Brand_Restriction_Location_CustomerCountryInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Brand_Restriction_Location_CustomerCountryService">
    <port name="SoftLayer_Brand_Restriction_Location_CustomerCountryPort" binding="tns:SoftLayer_Brand_Restriction_Location_CustomerCountryBinding">
      <soap:address location="https://api.softlayer.com/soap/v3/SoftLayer_Brand_Restriction_Location_CustomerCountry"/>
    </port>
  </service>
</definitions>
