data/Configuration_Template_Section_Definition_Value.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3/" schemaLocation="https://api.softlayer.com/soap/v3/SoftLayer_Configuration_Template_Section_Definition_Value?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:complexType name="SoftLayer_Configuration_Template_Section_Definition_ValueInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Configuration_Template_Section_Definition_ValueObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Configuration_Template_Section_Definition_Value"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Configuration_Template_Section_Definition_ValueInitParametersHeader">
    <part name="SoftLayer_Configuration_Template_Section_Definition_ValueInitParameters" type="tns:SoftLayer_Configuration_Template_Section_Definition_ValueInitParameters"/>
  </message>
  <message name="getDefinition"/>
  <message name="getDefinitionResponse">
    <part name="getDefinitionReturn" type="tns:SoftLayer_Configuration_Template_Section_Definition"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Configuration_Template_Section_Definition_Value"/>
  </message>
  <message name="getTemplate"/>
  <message name="getTemplateResponse">
    <part name="getTemplateReturn" type="tns:SoftLayer_Configuration_Template"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Configuration_Template_Section_Definition_ValueObjectMaskHeader">
    <part name="SoftLayer_Configuration_Template_Section_Definition_ValueObjectMask" type="tns:SoftLayer_Configuration_Template_Section_Definition_ValueObjectMask"/>
  </message>
  <message name="SoftLayer_Configuration_Template_Section_Definition_ValueObjectFilterHeader">
    <part name="SoftLayer_Configuration_Template_Section_Definition_ValueObjectFilter" type="tns:SoftLayer_Configuration_Template_Section_Definition_ValueObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Configuration_Template_Section_Definition_ValuePortType">
    <documentation>SoftLayer_Configuration_Section_Value is used to set the value for a configuration definition </documentation>
    <operation name="getDefinition">
      <documentation></documentation>
      <input message="tns:getDefinition"/>
      <output message="tns:getDefinitionResponse"/>
    </operation>
    <operation name="getObject">
      <documentation></documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
    <operation name="getTemplate">
      <documentation></documentation>
      <input message="tns:getTemplate"/>
      <output message="tns:getTemplateResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Configuration_Template_Section_Definition_ValueBinding" type="tns:SoftLayer_Configuration_Template_Section_Definition_ValuePortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getDefinition">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Configuration_Template_Section_Definition_ValueAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_Definition_ValueObjectMaskHeader" part="SoftLayer_Configuration_Template_Section_Definition_ValueObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_Definition_ValueObjectFilterHeader" part="SoftLayer_Configuration_Template_Section_Definition_ValueObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_Definition_ValueInitParametersHeader" part="SoftLayer_Configuration_Template_Section_Definition_ValueInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Configuration_Template_Section_Definition_ValueAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_Definition_ValueObjectMaskHeader" part="SoftLayer_Configuration_Template_Section_Definition_ValueObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_Definition_ValueObjectFilterHeader" part="SoftLayer_Configuration_Template_Section_Definition_ValueObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_Definition_ValueInitParametersHeader" part="SoftLayer_Configuration_Template_Section_Definition_ValueInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getTemplate">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Configuration_Template_Section_Definition_ValueAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_Definition_ValueObjectMaskHeader" part="SoftLayer_Configuration_Template_Section_Definition_ValueObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_Definition_ValueObjectFilterHeader" part="SoftLayer_Configuration_Template_Section_Definition_ValueObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_Definition_ValueInitParametersHeader" part="SoftLayer_Configuration_Template_Section_Definition_ValueInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Configuration_Template_Section_Definition_ValueService">
    <port name="SoftLayer_Configuration_Template_Section_Definition_ValuePort" binding="tns:SoftLayer_Configuration_Template_Section_Definition_ValueBinding">
      <soap:address location="https://api.softlayer.com/soap/v3/SoftLayer_Configuration_Template_Section_Definition_Value"/>
    </port>
  </service>
</definitions>
