data/Configuration_Template_Section_Profile.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3.1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3.1/" schemaLocation="https://api.softlayer.com/soap/v3.1/SoftLayer_Configuration_Template_Section_Profile?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:complexType name="SoftLayer_Configuration_Template_Section_ProfileInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Configuration_Template_Section_ProfileObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Configuration_Template_Section_Profile"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Configuration_Template_Section_ProfileInitParametersHeader">
    <part name="SoftLayer_Configuration_Template_Section_ProfileInitParameters" type="tns:SoftLayer_Configuration_Template_Section_ProfileInitParameters"/>
  </message>
  <message name="getConfigurationSection"/>
  <message name="getConfigurationSectionResponse">
    <part name="getConfigurationSectionReturn" type="tns:SoftLayer_Configuration_Template_Section"/>
  </message>
  <message name="getMonitoringAgent"/>
  <message name="getMonitoringAgentResponse">
    <part name="getMonitoringAgentReturn" type="tns:SoftLayer_Monitoring_Agent"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Configuration_Template_Section_Profile"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Configuration_Template_Section_ProfileObjectMaskHeader">
    <part name="SoftLayer_Configuration_Template_Section_ProfileObjectMask" type="tns:SoftLayer_Configuration_Template_Section_ProfileObjectMask"/>
  </message>
  <message name="SoftLayer_Configuration_Template_Section_ProfileObjectFilterHeader">
    <part name="SoftLayer_Configuration_Template_Section_ProfileObjectFilter" type="tns:SoftLayer_Configuration_Template_Section_ProfileObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Configuration_Template_Section_ProfilePortType">
    <documentation>SoftLayer_Configuration_Template_Section_Profile help you keep track of custom configuration profiles. </documentation>
    <operation name="getConfigurationSection">
      <documentation></documentation>
      <input message="tns:getConfigurationSection"/>
      <output message="tns:getConfigurationSectionResponse"/>
    </operation>
    <operation name="getMonitoringAgent">
      <documentation></documentation>
      <input message="tns:getMonitoringAgent"/>
      <output message="tns:getMonitoringAgentResponse"/>
    </operation>
    <operation name="getObject">
      <documentation></documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Configuration_Template_Section_ProfileBinding" type="tns:SoftLayer_Configuration_Template_Section_ProfilePortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getConfigurationSection">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Configuration_Template_Section_ProfileAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_ProfileObjectMaskHeader" part="SoftLayer_Configuration_Template_Section_ProfileObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_ProfileObjectFilterHeader" part="SoftLayer_Configuration_Template_Section_ProfileObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_ProfileInitParametersHeader" part="SoftLayer_Configuration_Template_Section_ProfileInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getMonitoringAgent">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Configuration_Template_Section_ProfileAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_ProfileObjectMaskHeader" part="SoftLayer_Configuration_Template_Section_ProfileObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_ProfileObjectFilterHeader" part="SoftLayer_Configuration_Template_Section_ProfileObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_ProfileInitParametersHeader" part="SoftLayer_Configuration_Template_Section_ProfileInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Configuration_Template_Section_ProfileAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_ProfileObjectMaskHeader" part="SoftLayer_Configuration_Template_Section_ProfileObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_ProfileObjectFilterHeader" part="SoftLayer_Configuration_Template_Section_ProfileObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_ProfileInitParametersHeader" part="SoftLayer_Configuration_Template_Section_ProfileInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Configuration_Template_Section_ProfileService">
    <port name="SoftLayer_Configuration_Template_Section_ProfilePort" binding="tns:SoftLayer_Configuration_Template_Section_ProfileBinding">
      <soap:address location="https://api.softlayer.com/soap/v3.1/SoftLayer_Configuration_Template_Section_Profile"/>
    </port>
  </service>
</definitions>
