data/Configuration_Template_Section_Reference.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3.1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3.1/" schemaLocation="https://api.softlayer.com/soap/v3.1/SoftLayer_Configuration_Template_Section_Reference?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:complexType name="SoftLayer_Configuration_Template_Section_ReferenceInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Configuration_Template_Section_ReferenceObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Configuration_Template_Section_Reference"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Configuration_Template_Section_ReferenceInitParametersHeader">
    <part name="SoftLayer_Configuration_Template_Section_ReferenceInitParameters" type="tns:SoftLayer_Configuration_Template_Section_ReferenceInitParameters"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Configuration_Template_Section_Reference"/>
  </message>
  <message name="getSection"/>
  <message name="getSectionResponse">
    <part name="getSectionReturn" type="tns:SoftLayer_Configuration_Template_Section"/>
  </message>
  <message name="getTemplate"/>
  <message name="getTemplateResponse">
    <part name="getTemplateReturn" type="tns:SoftLayer_Configuration_Template"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Configuration_Template_Section_ReferenceObjectMaskHeader">
    <part name="SoftLayer_Configuration_Template_Section_ReferenceObjectMask" type="tns:SoftLayer_Configuration_Template_Section_ReferenceObjectMask"/>
  </message>
  <message name="SoftLayer_Configuration_Template_Section_ReferenceObjectFilterHeader">
    <part name="SoftLayer_Configuration_Template_Section_ReferenceObjectFilter" type="tns:SoftLayer_Configuration_Template_Section_ReferenceObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Configuration_Template_Section_ReferencePortType">
    <documentation>Configuration section reference allow you to reuse a configuration section from another configuration template. </documentation>
    <operation name="getObject">
      <documentation></documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
    <operation name="getSection">
      <documentation></documentation>
      <input message="tns:getSection"/>
      <output message="tns:getSectionResponse"/>
    </operation>
    <operation name="getTemplate">
      <documentation></documentation>
      <input message="tns:getTemplate"/>
      <output message="tns:getTemplateResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Configuration_Template_Section_ReferenceBinding" type="tns:SoftLayer_Configuration_Template_Section_ReferencePortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Configuration_Template_Section_ReferenceAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_ReferenceObjectMaskHeader" part="SoftLayer_Configuration_Template_Section_ReferenceObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_ReferenceObjectFilterHeader" part="SoftLayer_Configuration_Template_Section_ReferenceObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_ReferenceInitParametersHeader" part="SoftLayer_Configuration_Template_Section_ReferenceInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getSection">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Configuration_Template_Section_ReferenceAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_ReferenceObjectMaskHeader" part="SoftLayer_Configuration_Template_Section_ReferenceObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_ReferenceObjectFilterHeader" part="SoftLayer_Configuration_Template_Section_ReferenceObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_ReferenceInitParametersHeader" part="SoftLayer_Configuration_Template_Section_ReferenceInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getTemplate">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Configuration_Template_Section_ReferenceAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_ReferenceObjectMaskHeader" part="SoftLayer_Configuration_Template_Section_ReferenceObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_ReferenceObjectFilterHeader" part="SoftLayer_Configuration_Template_Section_ReferenceObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_ReferenceInitParametersHeader" part="SoftLayer_Configuration_Template_Section_ReferenceInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Configuration_Template_Section_ReferenceService">
    <port name="SoftLayer_Configuration_Template_Section_ReferencePort" binding="tns:SoftLayer_Configuration_Template_Section_ReferenceBinding">
      <soap:address location="https://api.softlayer.com/soap/v3.1/SoftLayer_Configuration_Template_Section_Reference"/>
    </port>
  </service>
</definitions>
