data/Configuration_Template_Section_Definition.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3/" schemaLocation="https://api.softlayer.com/soap/v3/SoftLayer_Configuration_Template_Section_Definition?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:complexType name="SoftLayer_Configuration_Template_Section_DefinitionInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Configuration_Template_Section_DefinitionObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Configuration_Template_Section_Definition"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Configuration_Template_Section_DefinitionInitParametersHeader">
    <part name="SoftLayer_Configuration_Template_Section_DefinitionInitParameters" type="tns:SoftLayer_Configuration_Template_Section_DefinitionInitParameters"/>
  </message>
  <message name="getAttributes"/>
  <message name="getAttributesResponse">
    <part name="getAttributesReturn" type="tns:SoftLayer_Configuration_Template_Section_Definition_AttributeArray"/>
  </message>
  <message name="getDefaultValue"/>
  <message name="getDefaultValueResponse">
    <part name="getDefaultValueReturn" type="tns:SoftLayer_Configuration_Template_Section_Definition_Value"/>
  </message>
  <message name="getGroup"/>
  <message name="getGroupResponse">
    <part name="getGroupReturn" type="tns:SoftLayer_Configuration_Template_Section_Definition_Group"/>
  </message>
  <message name="getMonitoringDataFlag"/>
  <message name="getMonitoringDataFlagResponse">
    <part name="getMonitoringDataFlagReturn" type="xsd:boolean"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Configuration_Template_Section_Definition"/>
  </message>
  <message name="getSection"/>
  <message name="getSectionResponse">
    <part name="getSectionReturn" type="tns:SoftLayer_Configuration_Template_Section"/>
  </message>
  <message name="getValueType"/>
  <message name="getValueTypeResponse">
    <part name="getValueTypeReturn" type="tns:SoftLayer_Configuration_Template_Section_Definition_Type"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Configuration_Template_Section_DefinitionObjectMaskHeader">
    <part name="SoftLayer_Configuration_Template_Section_DefinitionObjectMask" type="tns:SoftLayer_Configuration_Template_Section_DefinitionObjectMask"/>
  </message>
  <message name="SoftLayer_Configuration_Template_Section_DefinitionObjectFilterHeader">
    <part name="SoftLayer_Configuration_Template_Section_DefinitionObjectFilter" type="tns:SoftLayer_Configuration_Template_Section_DefinitionObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Configuration_Template_Section_DefinitionPortType">
    <documentation>Configuration definition gives you details of the value that you're setting. </documentation>
    <operation name="getAttributes">
      <documentation></documentation>
      <input message="tns:getAttributes"/>
      <output message="tns:getAttributesResponse"/>
    </operation>
    <operation name="getDefaultValue">
      <documentation></documentation>
      <input message="tns:getDefaultValue"/>
      <output message="tns:getDefaultValueResponse"/>
    </operation>
    <operation name="getGroup">
      <documentation></documentation>
      <input message="tns:getGroup"/>
      <output message="tns:getGroupResponse"/>
    </operation>
    <operation name="getMonitoringDataFlag">
      <documentation></documentation>
      <input message="tns:getMonitoringDataFlag"/>
      <output message="tns:getMonitoringDataFlagResponse"/>
    </operation>
    <operation name="getObject">
      <documentation></documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
    <operation name="getSection">
      <documentation></documentation>
      <input message="tns:getSection"/>
      <output message="tns:getSectionResponse"/>
    </operation>
    <operation name="getValueType">
      <documentation></documentation>
      <input message="tns:getValueType"/>
      <output message="tns:getValueTypeResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Configuration_Template_Section_DefinitionBinding" type="tns:SoftLayer_Configuration_Template_Section_DefinitionPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getAttributes">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Configuration_Template_Section_DefinitionAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_DefinitionObjectMaskHeader" part="SoftLayer_Configuration_Template_Section_DefinitionObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_DefinitionObjectFilterHeader" part="SoftLayer_Configuration_Template_Section_DefinitionObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_DefinitionInitParametersHeader" part="SoftLayer_Configuration_Template_Section_DefinitionInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getDefaultValue">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Configuration_Template_Section_DefinitionAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_DefinitionObjectMaskHeader" part="SoftLayer_Configuration_Template_Section_DefinitionObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_DefinitionObjectFilterHeader" part="SoftLayer_Configuration_Template_Section_DefinitionObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_DefinitionInitParametersHeader" part="SoftLayer_Configuration_Template_Section_DefinitionInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getGroup">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Configuration_Template_Section_DefinitionAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_DefinitionObjectMaskHeader" part="SoftLayer_Configuration_Template_Section_DefinitionObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_DefinitionObjectFilterHeader" part="SoftLayer_Configuration_Template_Section_DefinitionObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_DefinitionInitParametersHeader" part="SoftLayer_Configuration_Template_Section_DefinitionInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getMonitoringDataFlag">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Configuration_Template_Section_DefinitionAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_DefinitionObjectMaskHeader" part="SoftLayer_Configuration_Template_Section_DefinitionObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_DefinitionObjectFilterHeader" part="SoftLayer_Configuration_Template_Section_DefinitionObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_DefinitionInitParametersHeader" part="SoftLayer_Configuration_Template_Section_DefinitionInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Configuration_Template_Section_DefinitionAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_DefinitionObjectMaskHeader" part="SoftLayer_Configuration_Template_Section_DefinitionObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_DefinitionObjectFilterHeader" part="SoftLayer_Configuration_Template_Section_DefinitionObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_DefinitionInitParametersHeader" part="SoftLayer_Configuration_Template_Section_DefinitionInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getSection">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Configuration_Template_Section_DefinitionAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_DefinitionObjectMaskHeader" part="SoftLayer_Configuration_Template_Section_DefinitionObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_DefinitionObjectFilterHeader" part="SoftLayer_Configuration_Template_Section_DefinitionObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_DefinitionInitParametersHeader" part="SoftLayer_Configuration_Template_Section_DefinitionInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getValueType">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Configuration_Template_Section_DefinitionAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_DefinitionObjectMaskHeader" part="SoftLayer_Configuration_Template_Section_DefinitionObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_DefinitionObjectFilterHeader" part="SoftLayer_Configuration_Template_Section_DefinitionObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_DefinitionInitParametersHeader" part="SoftLayer_Configuration_Template_Section_DefinitionInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Configuration_Template_Section_DefinitionService">
    <port name="SoftLayer_Configuration_Template_Section_DefinitionPort" binding="tns:SoftLayer_Configuration_Template_Section_DefinitionBinding">
      <soap:address location="https://api.softlayer.com/soap/v3/SoftLayer_Configuration_Template_Section_Definition"/>
    </port>
  </service>
</definitions>
