data/Configuration_Template_Section_Definition_Group.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3.1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3.1/" schemaLocation="https://api.softlayer.com/soap/v3.1/SoftLayer_Configuration_Template_Section_Definition_Group?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:complexType name="SoftLayer_Configuration_Template_Section_Definition_GroupInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Configuration_Template_Section_Definition_GroupObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Configuration_Template_Section_Definition_Group"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Configuration_Template_Section_Definition_GroupInitParametersHeader">
    <part name="SoftLayer_Configuration_Template_Section_Definition_GroupInitParameters" type="tns:SoftLayer_Configuration_Template_Section_Definition_GroupInitParameters"/>
  </message>
  <message name="getAllGroups"/>
  <message name="getAllGroupsResponse">
    <part name="getAllGroupsReturn" type="tns:SoftLayer_Configuration_Template_Section_Definition_GroupArray"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Configuration_Template_Section_Definition_Group"/>
  </message>
  <message name="getParent"/>
  <message name="getParentResponse">
    <part name="getParentReturn" type="tns:SoftLayer_Configuration_Template_Section_Definition_Group"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Configuration_Template_Section_Definition_GroupObjectMaskHeader">
    <part name="SoftLayer_Configuration_Template_Section_Definition_GroupObjectMask" type="tns:SoftLayer_Configuration_Template_Section_Definition_GroupObjectMask"/>
  </message>
  <message name="SoftLayer_Configuration_Template_Section_Definition_GroupObjectFilterHeader">
    <part name="SoftLayer_Configuration_Template_Section_Definition_GroupObjectFilter" type="tns:SoftLayer_Configuration_Template_Section_Definition_GroupObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Configuration_Template_Section_Definition_GroupPortType">
    <documentation>Configuration definition groups help categorize definitions. </documentation>
    <operation name="getAllGroups">
      <documentation>Get all configuration definition group objects. 

''getAllGroups'' returns an array of SoftLayer_Configuration_Template_Section_Definition_Group objects upon success. </documentation>
      <input message="tns:getAllGroups"/>
      <output message="tns:getAllGroupsResponse"/>
    </operation>
    <operation name="getObject">
      <documentation></documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
    <operation name="getParent">
      <documentation></documentation>
      <input message="tns:getParent"/>
      <output message="tns:getParentResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Configuration_Template_Section_Definition_GroupBinding" type="tns:SoftLayer_Configuration_Template_Section_Definition_GroupPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getAllGroups">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Configuration_Template_Section_Definition_GroupAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_Definition_GroupObjectMaskHeader" part="SoftLayer_Configuration_Template_Section_Definition_GroupObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_Definition_GroupObjectFilterHeader" part="SoftLayer_Configuration_Template_Section_Definition_GroupObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Configuration_Template_Section_Definition_GroupAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_Definition_GroupObjectMaskHeader" part="SoftLayer_Configuration_Template_Section_Definition_GroupObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_Definition_GroupObjectFilterHeader" part="SoftLayer_Configuration_Template_Section_Definition_GroupObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_Definition_GroupInitParametersHeader" part="SoftLayer_Configuration_Template_Section_Definition_GroupInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getParent">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Configuration_Template_Section_Definition_GroupAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_Definition_GroupObjectMaskHeader" part="SoftLayer_Configuration_Template_Section_Definition_GroupObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_Definition_GroupObjectFilterHeader" part="SoftLayer_Configuration_Template_Section_Definition_GroupObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_Definition_GroupInitParametersHeader" part="SoftLayer_Configuration_Template_Section_Definition_GroupInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Configuration_Template_Section_Definition_GroupService">
    <port name="SoftLayer_Configuration_Template_Section_Definition_GroupPort" binding="tns:SoftLayer_Configuration_Template_Section_Definition_GroupBinding">
      <soap:address location="https://api.softlayer.com/soap/v3.1/SoftLayer_Configuration_Template_Section_Definition_Group"/>
    </port>
  </service>
</definitions>
