data/Configuration_Template_Section_Definition_Type.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3/" schemaLocation="https://api.softlayer.com/soap/v3/SoftLayer_Configuration_Template_Section_Definition_Type?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:complexType name="SoftLayer_Configuration_Template_Section_Definition_TypeInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Configuration_Template_Section_Definition_TypeObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Configuration_Template_Section_Definition_Type"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Configuration_Template_Section_Definition_TypeInitParametersHeader">
    <part name="SoftLayer_Configuration_Template_Section_Definition_TypeInitParameters" type="tns:SoftLayer_Configuration_Template_Section_Definition_TypeInitParameters"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Configuration_Template_Section_Definition_Type"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Configuration_Template_Section_Definition_TypeObjectMaskHeader">
    <part name="SoftLayer_Configuration_Template_Section_Definition_TypeObjectMask" type="tns:SoftLayer_Configuration_Template_Section_Definition_TypeObjectMask"/>
  </message>
  <message name="SoftLayer_Configuration_Template_Section_Definition_TypeObjectFilterHeader">
    <part name="SoftLayer_Configuration_Template_Section_Definition_TypeObjectFilter" type="tns:SoftLayer_Configuration_Template_Section_Definition_TypeObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Configuration_Template_Section_Definition_TypePortType">
    <documentation>SoftLayer_Configuration_Template_Section_Definition_Type further defines the value of a configuration definition. </documentation>
    <operation name="getObject">
      <documentation></documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Configuration_Template_Section_Definition_TypeBinding" type="tns:SoftLayer_Configuration_Template_Section_Definition_TypePortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Configuration_Template_Section_Definition_TypeAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_Definition_TypeObjectMaskHeader" part="SoftLayer_Configuration_Template_Section_Definition_TypeObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_Definition_TypeObjectFilterHeader" part="SoftLayer_Configuration_Template_Section_Definition_TypeObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Configuration_Template_Section_Definition_TypeInitParametersHeader" part="SoftLayer_Configuration_Template_Section_Definition_TypeInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Configuration_Template_Section_Definition_TypeService">
    <port name="SoftLayer_Configuration_Template_Section_Definition_TypePort" binding="tns:SoftLayer_Configuration_Template_Section_Definition_TypeBinding">
      <soap:address location="https://api.softlayer.com/soap/v3/SoftLayer_Configuration_Template_Section_Definition_Type"/>
    </port>
  </service>
</definitions>
