data/Event_Log.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3.1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3.1/" schemaLocation="https://api.softlayer.com/soap/v3.1/SoftLayer_Event_Log?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:complexType name="SoftLayer_Event_LogInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Event_LogObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Event_Log"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Event_LogInitParametersHeader">
    <part name="SoftLayer_Event_LogInitParameters" type="tns:SoftLayer_Event_LogInitParameters"/>
  </message>
  <message name="getAllEventNames">
    <part name="objectName" type="xsd:string"/>
  </message>
  <message name="getAllEventNamesResponse">
    <part name="getAllEventNamesReturn" type="tns:ArrayOfstring"/>
  </message>
  <message name="getAllEventObjectNames"/>
  <message name="getAllEventObjectNamesResponse">
    <part name="getAllEventObjectNamesReturn" type="tns:ArrayOfstring"/>
  </message>
  <message name="getAllObjects"/>
  <message name="getAllObjectsResponse">
    <part name="getAllObjectsReturn" type="tns:SoftLayer_Event_LogArray"/>
  </message>
  <message name="getAllUserTypes"/>
  <message name="getAllUserTypesResponse">
    <part name="getAllUserTypesReturn" type="tns:ArrayOfstring"/>
  </message>
  <message name="getUser"/>
  <message name="getUserResponse">
    <part name="getUserReturn" type="tns:SoftLayer_User_Customer"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Event_LogObjectMaskHeader">
    <part name="SoftLayer_Event_LogObjectMask" type="tns:SoftLayer_Event_LogObjectMask"/>
  </message>
  <message name="SoftLayer_Event_LogObjectFilterHeader">
    <part name="SoftLayer_Event_LogObjectFilter" type="tns:SoftLayer_Event_LogObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Event_LogPortType">
    <documentation>Event Log service lets you find interesting events related to various SoftLayer products and services such as hardware, virtual server or DNS. </documentation>
    <operation name="getAllEventNames">
      <documentation>This all indexed event names. </documentation>
      <input message="tns:getAllEventNames"/>
      <output message="tns:getAllEventNamesResponse"/>
    </operation>
    <operation name="getAllEventObjectNames">
      <documentation>This all indexed event object names. </documentation>
      <input message="tns:getAllEventObjectNames"/>
      <output message="tns:getAllEventObjectNamesResponse"/>
    </operation>
    <operation name="getAllObjects">
      <documentation></documentation>
      <input message="tns:getAllObjects"/>
      <output message="tns:getAllObjectsResponse"/>
    </operation>
    <operation name="getAllUserTypes">
      <documentation></documentation>
      <input message="tns:getAllUserTypes"/>
      <output message="tns:getAllUserTypesResponse"/>
    </operation>
    <operation name="getUser">
      <documentation></documentation>
      <input message="tns:getUser"/>
      <output message="tns:getUserResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Event_LogBinding" type="tns:SoftLayer_Event_LogPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getAllEventNames">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Event_LogAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getAllEventObjectNames">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Event_LogAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getAllObjects">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Event_LogAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Event_LogObjectMaskHeader" part="SoftLayer_Event_LogObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Event_LogObjectFilterHeader" part="SoftLayer_Event_LogObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getAllUserTypes">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Event_LogAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getUser">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Event_LogAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Event_LogObjectMaskHeader" part="SoftLayer_Event_LogObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Event_LogObjectFilterHeader" part="SoftLayer_Event_LogObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Event_LogInitParametersHeader" part="SoftLayer_Event_LogInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Event_LogService">
    <port name="SoftLayer_Event_LogPort" binding="tns:SoftLayer_Event_LogBinding">
      <soap:address location="https://api.softlayer.com/soap/v3.1/SoftLayer_Event_Log"/>
    </port>
  </service>
</definitions>
