data/Layout_Container.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3.1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3.1/" schemaLocation="https://api.softlayer.com/soap/v3.1/SoftLayer_Layout_Container?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:complexType name="SoftLayer_Layout_ContainerInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Layout_ContainerObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Layout_Container"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Layout_ContainerInitParametersHeader">
    <part name="SoftLayer_Layout_ContainerInitParameters" type="tns:SoftLayer_Layout_ContainerInitParameters"/>
  </message>
  <message name="getAllObjects"/>
  <message name="getAllObjectsResponse">
    <part name="getAllObjectsReturn" type="tns:SoftLayer_Layout_ContainerArray"/>
  </message>
  <message name="getLayoutContainerType"/>
  <message name="getLayoutContainerTypeResponse">
    <part name="getLayoutContainerTypeReturn" type="tns:SoftLayer_Layout_Container_Type"/>
  </message>
  <message name="getLayoutItems"/>
  <message name="getLayoutItemsResponse">
    <part name="getLayoutItemsReturn" type="tns:SoftLayer_Layout_ItemArray"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Layout_Container"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Layout_ContainerObjectMaskHeader">
    <part name="SoftLayer_Layout_ContainerObjectMask" type="tns:SoftLayer_Layout_ContainerObjectMask"/>
  </message>
  <message name="SoftLayer_Layout_ContainerObjectFilterHeader">
    <part name="SoftLayer_Layout_ContainerObjectFilter" type="tns:SoftLayer_Layout_ContainerObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Layout_ContainerPortType">
    <documentation>Layout containers are used in the customization of the Portal 4 customer experience. 

A single page in the portal can be thought of as a layout container. The container houses individual [[SoftLayer_Layout_Item|layout items]], which are the elements of the page (e.g., Ticket list). Layout containers can be added to [[SoftLayer_Layout_Profile|layout profiles]], allowing for full customization of the container's related items. </documentation>
    <operation name="getAllObjects">
      <documentation>Use this method to retrieve all active layout containers that can be customized. </documentation>
      <input message="tns:getAllObjects"/>
      <output message="tns:getAllObjectsResponse"/>
    </operation>
    <operation name="getLayoutContainerType">
      <documentation>Retrieve the type of the layout container object</documentation>
      <input message="tns:getLayoutContainerType"/>
      <output message="tns:getLayoutContainerTypeResponse"/>
    </operation>
    <operation name="getLayoutItems">
      <documentation>Retrieve the layout items assigned to this layout container</documentation>
      <input message="tns:getLayoutItems"/>
      <output message="tns:getLayoutItemsResponse"/>
    </operation>
    <operation name="getObject">
      <documentation></documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Layout_ContainerBinding" type="tns:SoftLayer_Layout_ContainerPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getAllObjects">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Layout_ContainerAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Layout_ContainerObjectMaskHeader" part="SoftLayer_Layout_ContainerObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Layout_ContainerObjectFilterHeader" part="SoftLayer_Layout_ContainerObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getLayoutContainerType">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Layout_ContainerAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Layout_ContainerObjectMaskHeader" part="SoftLayer_Layout_ContainerObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Layout_ContainerObjectFilterHeader" part="SoftLayer_Layout_ContainerObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Layout_ContainerInitParametersHeader" part="SoftLayer_Layout_ContainerInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getLayoutItems">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Layout_ContainerAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Layout_ContainerObjectMaskHeader" part="SoftLayer_Layout_ContainerObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Layout_ContainerObjectFilterHeader" part="SoftLayer_Layout_ContainerObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Layout_ContainerInitParametersHeader" part="SoftLayer_Layout_ContainerInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Layout_ContainerAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Layout_ContainerObjectMaskHeader" part="SoftLayer_Layout_ContainerObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Layout_ContainerObjectFilterHeader" part="SoftLayer_Layout_ContainerObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Layout_ContainerInitParametersHeader" part="SoftLayer_Layout_ContainerInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Layout_ContainerService">
    <port name="SoftLayer_Layout_ContainerPort" binding="tns:SoftLayer_Layout_ContainerBinding">
      <soap:address location="https://api.softlayer.com/soap/v3.1/SoftLayer_Layout_Container"/>
    </port>
  </service>
</definitions>
