data/Layout_Item.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3.1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3.1/" schemaLocation="https://api.softlayer.com/soap/v3.1/SoftLayer_Layout_Item?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:complexType name="SoftLayer_Layout_ItemInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Layout_ItemObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Layout_Item"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Layout_ItemInitParametersHeader">
    <part name="SoftLayer_Layout_ItemInitParameters" type="tns:SoftLayer_Layout_ItemInitParameters"/>
  </message>
  <message name="getLayoutItemPreferences"/>
  <message name="getLayoutItemPreferencesResponse">
    <part name="getLayoutItemPreferencesReturn" type="tns:SoftLayer_Layout_PreferenceArray"/>
  </message>
  <message name="getLayoutItemType"/>
  <message name="getLayoutItemTypeResponse">
    <part name="getLayoutItemTypeReturn" type="tns:SoftLayer_Layout_Item_Type"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Layout_Item"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Layout_ItemObjectMaskHeader">
    <part name="SoftLayer_Layout_ItemObjectMask" type="tns:SoftLayer_Layout_ItemObjectMask"/>
  </message>
  <message name="SoftLayer_Layout_ItemObjectFilterHeader">
    <part name="SoftLayer_Layout_ItemObjectFilter" type="tns:SoftLayer_Layout_ItemObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Layout_ItemPortType">
    <documentation>Layout items are used in the customization of the Portal 4 customer experience. 

Each [[SoftLayer_Layout_Container|container]] in the portal contains one or more layout items. These are used to describe elements such as ticket lists. Layout items typically have [[SoftLayer_Layout_Preference|default preferences]], which can be customized once the container is added to a [[SoftLayer_Layout_Profile|layout profile]]. </documentation>
    <operation name="getLayoutItemPreferences">
      <documentation>Retrieve the layout preferences assigned to this layout item</documentation>
      <input message="tns:getLayoutItemPreferences"/>
      <output message="tns:getLayoutItemPreferencesResponse"/>
    </operation>
    <operation name="getLayoutItemType">
      <documentation>Retrieve the type of the layout item object</documentation>
      <input message="tns:getLayoutItemType"/>
      <output message="tns:getLayoutItemTypeResponse"/>
    </operation>
    <operation name="getObject">
      <documentation></documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Layout_ItemBinding" type="tns:SoftLayer_Layout_ItemPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getLayoutItemPreferences">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Layout_ItemAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Layout_ItemObjectMaskHeader" part="SoftLayer_Layout_ItemObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Layout_ItemObjectFilterHeader" part="SoftLayer_Layout_ItemObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Layout_ItemInitParametersHeader" part="SoftLayer_Layout_ItemInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getLayoutItemType">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Layout_ItemAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Layout_ItemObjectMaskHeader" part="SoftLayer_Layout_ItemObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Layout_ItemObjectFilterHeader" part="SoftLayer_Layout_ItemObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Layout_ItemInitParametersHeader" part="SoftLayer_Layout_ItemInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Layout_ItemAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Layout_ItemObjectMaskHeader" part="SoftLayer_Layout_ItemObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Layout_ItemObjectFilterHeader" part="SoftLayer_Layout_ItemObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Layout_ItemInitParametersHeader" part="SoftLayer_Layout_ItemInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Layout_ItemService">
    <port name="SoftLayer_Layout_ItemPort" binding="tns:SoftLayer_Layout_ItemBinding">
      <soap:address location="https://api.softlayer.com/soap/v3.1/SoftLayer_Layout_Item"/>
    </port>
  </service>
</definitions>
