data/Location_Reservation_Rack_Member.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3/" schemaLocation="https://api.softlayer.com/soap/v3/SoftLayer_Location_Reservation_Rack_Member?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:complexType name="SoftLayer_Location_Reservation_Rack_MemberInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Location_Reservation_Rack_MemberObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Location_Reservation_Rack_Member"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Location_Reservation_Rack_MemberInitParametersHeader">
    <part name="SoftLayer_Location_Reservation_Rack_MemberInitParameters" type="tns:SoftLayer_Location_Reservation_Rack_MemberInitParameters"/>
  </message>
  <message name="getLocation"/>
  <message name="getLocationResponse">
    <part name="getLocationReturn" type="tns:SoftLayer_Location"/>
  </message>
  <message name="getLocationReservationRack"/>
  <message name="getLocationReservationRackResponse">
    <part name="getLocationReservationRackReturn" type="tns:SoftLayer_Location_Reservation"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Location_Reservation_Rack_Member"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Location_Reservation_Rack_MemberObjectMaskHeader">
    <part name="SoftLayer_Location_Reservation_Rack_MemberObjectMask" type="tns:SoftLayer_Location_Reservation_Rack_MemberObjectMask"/>
  </message>
  <message name="SoftLayer_Location_Reservation_Rack_MemberObjectFilterHeader">
    <part name="SoftLayer_Location_Reservation_Rack_MemberObjectFilter" type="tns:SoftLayer_Location_Reservation_Rack_MemberObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Location_Reservation_Rack_MemberPortType">
    <documentation></documentation>
    <operation name="getLocation">
      <documentation>Retrieve location relation for the rack member</documentation>
      <input message="tns:getLocation"/>
      <output message="tns:getLocationResponse"/>
    </operation>
    <operation name="getLocationReservationRack">
      <documentation></documentation>
      <input message="tns:getLocationReservationRack"/>
      <output message="tns:getLocationReservationRackResponse"/>
    </operation>
    <operation name="getObject">
      <documentation></documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Location_Reservation_Rack_MemberBinding" type="tns:SoftLayer_Location_Reservation_Rack_MemberPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getLocation">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Location_Reservation_Rack_MemberAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Location_Reservation_Rack_MemberObjectMaskHeader" part="SoftLayer_Location_Reservation_Rack_MemberObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Location_Reservation_Rack_MemberObjectFilterHeader" part="SoftLayer_Location_Reservation_Rack_MemberObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Location_Reservation_Rack_MemberInitParametersHeader" part="SoftLayer_Location_Reservation_Rack_MemberInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getLocationReservationRack">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Location_Reservation_Rack_MemberAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Location_Reservation_Rack_MemberObjectMaskHeader" part="SoftLayer_Location_Reservation_Rack_MemberObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Location_Reservation_Rack_MemberObjectFilterHeader" part="SoftLayer_Location_Reservation_Rack_MemberObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Location_Reservation_Rack_MemberInitParametersHeader" part="SoftLayer_Location_Reservation_Rack_MemberInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Location_Reservation_Rack_MemberAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Location_Reservation_Rack_MemberObjectMaskHeader" part="SoftLayer_Location_Reservation_Rack_MemberObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Location_Reservation_Rack_MemberObjectFilterHeader" part="SoftLayer_Location_Reservation_Rack_MemberObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Location_Reservation_Rack_MemberInitParametersHeader" part="SoftLayer_Location_Reservation_Rack_MemberInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Location_Reservation_Rack_MemberService">
    <port name="SoftLayer_Location_Reservation_Rack_MemberPort" binding="tns:SoftLayer_Location_Reservation_Rack_MemberBinding">
      <soap:address location="https://api.softlayer.com/soap/v3/SoftLayer_Location_Reservation_Rack_Member"/>
    </port>
  </service>
</definitions>
