data/Location_Reservation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3.1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3.1/" schemaLocation="https://api.softlayer.com/soap/v3.1/SoftLayer_Location_Reservation?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:complexType name="SoftLayer_Location_ReservationInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Location_ReservationObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Location_Reservation"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Location_ReservationInitParametersHeader">
    <part name="SoftLayer_Location_ReservationInitParameters" type="tns:SoftLayer_Location_ReservationInitParameters"/>
  </message>
  <message name="getAccount"/>
  <message name="getAccountResponse">
    <part name="getAccountReturn" type="tns:SoftLayer_Account"/>
  </message>
  <message name="getAccountReservations"/>
  <message name="getAccountReservationsResponse">
    <part name="getAccountReservationsReturn" type="tns:SoftLayer_Location_ReservationArray"/>
  </message>
  <message name="getAllotment"/>
  <message name="getAllotmentResponse">
    <part name="getAllotmentReturn" type="tns:SoftLayer_Network_Bandwidth_Version1_Allotment"/>
  </message>
  <message name="getBillingItem"/>
  <message name="getBillingItemResponse">
    <part name="getBillingItemReturn" type="tns:SoftLayer_Billing_Item"/>
  </message>
  <message name="getLocation"/>
  <message name="getLocationResponse">
    <part name="getLocationReturn" type="tns:SoftLayer_Location"/>
  </message>
  <message name="getLocationReservationRack"/>
  <message name="getLocationReservationRackResponse">
    <part name="getLocationReservationRackReturn" type="tns:SoftLayer_Location_Reservation_Rack"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Location_Reservation"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Location_ReservationObjectMaskHeader">
    <part name="SoftLayer_Location_ReservationObjectMask" type="tns:SoftLayer_Location_ReservationObjectMask"/>
  </message>
  <message name="SoftLayer_Location_ReservationObjectFilterHeader">
    <part name="SoftLayer_Location_ReservationObjectFilter" type="tns:SoftLayer_Location_ReservationObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Location_ReservationPortType">
    <documentation></documentation>
    <operation name="getAccount">
      <documentation>Retrieve the account that a billing item belongs to.</documentation>
      <input message="tns:getAccount"/>
      <output message="tns:getAccountResponse"/>
    </operation>
    <operation name="getAccountReservations">
      <documentation></documentation>
      <input message="tns:getAccountReservations"/>
      <output message="tns:getAccountReservationsResponse"/>
    </operation>
    <operation name="getAllotment">
      <documentation>Retrieve the bandwidth allotment that the reservation belongs to.</documentation>
      <input message="tns:getAllotment"/>
      <output message="tns:getAllotmentResponse"/>
    </operation>
    <operation name="getBillingItem">
      <documentation>Retrieve the bandwidth allotment that the reservation belongs to.</documentation>
      <input message="tns:getBillingItem"/>
      <output message="tns:getBillingItemResponse"/>
    </operation>
    <operation name="getLocation">
      <documentation>Retrieve the datacenter location that the reservation belongs to.</documentation>
      <input message="tns:getLocation"/>
      <output message="tns:getLocationResponse"/>
    </operation>
    <operation name="getLocationReservationRack">
      <documentation>Retrieve rack information for the reservation</documentation>
      <input message="tns:getLocationReservationRack"/>
      <output message="tns:getLocationReservationRackResponse"/>
    </operation>
    <operation name="getObject">
      <documentation></documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Location_ReservationBinding" type="tns:SoftLayer_Location_ReservationPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getAccount">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Location_ReservationAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Location_ReservationObjectMaskHeader" part="SoftLayer_Location_ReservationObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Location_ReservationObjectFilterHeader" part="SoftLayer_Location_ReservationObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Location_ReservationInitParametersHeader" part="SoftLayer_Location_ReservationInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getAccountReservations">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Location_ReservationAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Location_ReservationObjectMaskHeader" part="SoftLayer_Location_ReservationObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getAllotment">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Location_ReservationAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Location_ReservationObjectMaskHeader" part="SoftLayer_Location_ReservationObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Location_ReservationObjectFilterHeader" part="SoftLayer_Location_ReservationObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Location_ReservationInitParametersHeader" part="SoftLayer_Location_ReservationInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getBillingItem">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Location_ReservationAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Location_ReservationObjectMaskHeader" part="SoftLayer_Location_ReservationObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Location_ReservationObjectFilterHeader" part="SoftLayer_Location_ReservationObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Location_ReservationInitParametersHeader" part="SoftLayer_Location_ReservationInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getLocation">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Location_ReservationAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Location_ReservationObjectMaskHeader" part="SoftLayer_Location_ReservationObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Location_ReservationObjectFilterHeader" part="SoftLayer_Location_ReservationObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Location_ReservationInitParametersHeader" part="SoftLayer_Location_ReservationInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getLocationReservationRack">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Location_ReservationAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Location_ReservationObjectMaskHeader" part="SoftLayer_Location_ReservationObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Location_ReservationObjectFilterHeader" part="SoftLayer_Location_ReservationObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Location_ReservationInitParametersHeader" part="SoftLayer_Location_ReservationInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Location_ReservationAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Location_ReservationObjectMaskHeader" part="SoftLayer_Location_ReservationObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Location_ReservationObjectFilterHeader" part="SoftLayer_Location_ReservationObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Location_ReservationInitParametersHeader" part="SoftLayer_Location_ReservationInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Location_ReservationService">
    <port name="SoftLayer_Location_ReservationPort" binding="tns:SoftLayer_Location_ReservationBinding">
      <soap:address location="https://api.softlayer.com/soap/v3.1/SoftLayer_Location_Reservation"/>
    </port>
  </service>
</definitions>
