data/Metric_Tracking_Object_Bandwidth_Summary.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3/" schemaLocation="https://api.softlayer.com/soap/v3/SoftLayer_Metric_Tracking_Object_Bandwidth_Summary?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:complexType name="SoftLayer_Metric_Tracking_Object_Bandwidth_SummaryInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Metric_Tracking_Object_Bandwidth_SummaryObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Metric_Tracking_Object_Bandwidth_Summary"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Metric_Tracking_Object_Bandwidth_SummaryInitParametersHeader">
    <part name="SoftLayer_Metric_Tracking_Object_Bandwidth_SummaryInitParameters" type="tns:SoftLayer_Metric_Tracking_Object_Bandwidth_SummaryInitParameters"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Metric_Tracking_Object_Bandwidth_Summary"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Metric_Tracking_Object_Bandwidth_SummaryObjectMaskHeader">
    <part name="SoftLayer_Metric_Tracking_Object_Bandwidth_SummaryObjectMask" type="tns:SoftLayer_Metric_Tracking_Object_Bandwidth_SummaryObjectMask"/>
  </message>
  <message name="SoftLayer_Metric_Tracking_Object_Bandwidth_SummaryObjectFilterHeader">
    <part name="SoftLayer_Metric_Tracking_Object_Bandwidth_SummaryObjectFilter" type="tns:SoftLayer_Metric_Tracking_Object_Bandwidth_SummaryObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Metric_Tracking_Object_Bandwidth_SummaryPortType">
    <documentation></documentation>
    <operation name="getObject">
      <documentation></documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Metric_Tracking_Object_Bandwidth_SummaryBinding" type="tns:SoftLayer_Metric_Tracking_Object_Bandwidth_SummaryPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Metric_Tracking_Object_Bandwidth_SummaryAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Metric_Tracking_Object_Bandwidth_SummaryObjectMaskHeader" part="SoftLayer_Metric_Tracking_Object_Bandwidth_SummaryObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Metric_Tracking_Object_Bandwidth_SummaryObjectFilterHeader" part="SoftLayer_Metric_Tracking_Object_Bandwidth_SummaryObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Metric_Tracking_Object_Bandwidth_SummaryInitParametersHeader" part="SoftLayer_Metric_Tracking_Object_Bandwidth_SummaryInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Metric_Tracking_Object_Bandwidth_SummaryService">
    <port name="SoftLayer_Metric_Tracking_Object_Bandwidth_SummaryPort" binding="tns:SoftLayer_Metric_Tracking_Object_Bandwidth_SummaryBinding">
      <soap:address location="https://api.softlayer.com/soap/v3/SoftLayer_Metric_Tracking_Object_Bandwidth_Summary"/>
    </port>
  </service>
</definitions>
