data/Monitoring_Agent_Configuration_Template_Group_Reference.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3.1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3.1/" schemaLocation="https://api.softlayer.com/soap/v3.1/SoftLayer_Monitoring_Agent_Configuration_Template_Group_Reference?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:complexType name="SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Monitoring_Agent_Configuration_Template_Group_Reference"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceInitParametersHeader">
    <part name="SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceInitParameters" type="tns:SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceInitParameters"/>
  </message>
  <message name="createObject">
    <part name="templateObject" type="tns:SoftLayer_Monitoring_Agent_Configuration_Template_Group_Reference"/>
  </message>
  <message name="createObjectResponse">
    <part name="createObjectReturn" type="tns:SoftLayer_Monitoring_Agent_Configuration_Template_Group_Reference"/>
  </message>
  <message name="createObjects">
    <part name="templateObjects" type="tns:SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceArray"/>
  </message>
  <message name="createObjectsResponse">
    <part name="createObjectsReturn" type="xsd:boolean"/>
  </message>
  <message name="editObject">
    <part name="templateObject" type="tns:SoftLayer_Monitoring_Agent_Configuration_Template_Group_Reference"/>
  </message>
  <message name="editObjectResponse">
    <part name="editObjectReturn" type="xsd:boolean"/>
  </message>
  <message name="editObjects">
    <part name="templateObjects" type="tns:SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceArray"/>
  </message>
  <message name="editObjectsResponse">
    <part name="editObjectsReturn" type="xsd:boolean"/>
  </message>
  <message name="getAllObjects"/>
  <message name="getAllObjectsResponse">
    <part name="getAllObjectsReturn" type="tns:SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceArray"/>
  </message>
  <message name="getConfigurationTemplate"/>
  <message name="getConfigurationTemplateResponse">
    <part name="getConfigurationTemplateReturn" type="tns:SoftLayer_Configuration_Template"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Monitoring_Agent_Configuration_Template_Group_Reference"/>
  </message>
  <message name="getTemplateGroup"/>
  <message name="getTemplateGroupResponse">
    <part name="getTemplateGroupReturn" type="tns:SoftLayer_Monitoring_Agent_Configuration_Template_Group"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceObjectMaskHeader">
    <part name="SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceObjectMask" type="tns:SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceObjectMask"/>
  </message>
  <message name="SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceObjectFilterHeader">
    <part name="SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceObjectFilter" type="tns:SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferencePortType">
    <documentation>This class links the monitoring configuration group to agent configuration templates. </documentation>
    <operation name="createObject">
      <documentation>This method creates a monitoring agent configuration template group reference by passing in an object with the SoftLayer_Monitoring_Agent_Configuration_Template_Group_Reference structure as the $templateObject parameter. </documentation>
      <input message="tns:createObject"/>
      <output message="tns:createObjectResponse"/>
    </operation>
    <operation name="createObjects">
      <documentation>This method creates monitoring agent configuration template group references by passing in an array of objects with the SoftLayer_Monitoring_Agent_Configuration_Template_Group_Reference structure as the $templateObjects parameter. Setting the $bulkCommit parameter to true will commit the changes in one transaction, false will commit after each object is created. </documentation>
      <input message="tns:createObjects"/>
      <output message="tns:createObjectsResponse"/>
    </operation>
    <operation name="editObject">
      <documentation>This method updates a SoftLayer_Monitoring_Agent_Configuration_Template_Group_Reference record by passing in a modified instance of the object. </documentation>
      <input message="tns:editObject"/>
      <output message="tns:editObjectResponse"/>
    </operation>
    <operation name="editObjects">
      <documentation>This method updates a set of SoftLayer_Monitoring_Agent_Configuration_Template_Group_Reference records by passing in an array of modified instances of the objects. Setting the $bulkCommit parameter to true will commit the changes in one transaction, false will commit after each object is updated. </documentation>
      <input message="tns:editObjects"/>
      <output message="tns:editObjectsResponse"/>
    </operation>
    <operation name="getAllObjects">
      <documentation>This method retrieves all SoftLayer_Monitoring_Agent_Configuration_Template_Group_Reference objects accessible to the active user. </documentation>
      <input message="tns:getAllObjects"/>
      <output message="tns:getAllObjectsResponse"/>
    </operation>
    <operation name="getConfigurationTemplate">
      <documentation></documentation>
      <input message="tns:getConfigurationTemplate"/>
      <output message="tns:getConfigurationTemplateResponse"/>
    </operation>
    <operation name="getObject">
      <documentation>This method retrieves a monitoring agent configuration template group reference whose identifier corresponds to the value provided in the initialization parameter passed to the SoftLayer_Monitoring_Agent_Configuration_Template_Group_Reference service. </documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
    <operation name="getTemplateGroup">
      <documentation></documentation>
      <input message="tns:getTemplateGroup"/>
      <output message="tns:getTemplateGroupResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceBinding" type="tns:SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferencePortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="createObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceObjectMaskHeader" part="SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="createObjects">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="editObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceInitParametersHeader" part="SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="editObjects">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getAllObjects">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceObjectMaskHeader" part="SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceObjectFilterHeader" part="SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getConfigurationTemplate">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceObjectMaskHeader" part="SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceObjectFilterHeader" part="SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceInitParametersHeader" part="SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceObjectMaskHeader" part="SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceObjectFilterHeader" part="SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceInitParametersHeader" part="SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getTemplateGroup">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceObjectMaskHeader" part="SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceObjectFilterHeader" part="SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceInitParametersHeader" part="SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceService">
    <port name="SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferencePort" binding="tns:SoftLayer_Monitoring_Agent_Configuration_Template_Group_ReferenceBinding">
      <soap:address location="https://api.softlayer.com/soap/v3.1/SoftLayer_Monitoring_Agent_Configuration_Template_Group_Reference"/>
    </port>
  </service>
</definitions>
