data/Monitoring_Agent_Configuration_Value.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3.1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3.1/" schemaLocation="https://api.softlayer.com/soap/v3.1/SoftLayer_Monitoring_Agent_Configuration_Value?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:complexType name="SoftLayer_Monitoring_Agent_Configuration_ValueInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Monitoring_Agent_Configuration_ValueObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Monitoring_Agent_Configuration_Value"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Monitoring_Agent_Configuration_ValueInitParametersHeader">
    <part name="SoftLayer_Monitoring_Agent_Configuration_ValueInitParameters" type="tns:SoftLayer_Monitoring_Agent_Configuration_ValueInitParameters"/>
  </message>
  <message name="getDefinition"/>
  <message name="getDefinitionResponse">
    <part name="getDefinitionReturn" type="tns:SoftLayer_Configuration_Template_Section_Definition"/>
  </message>
  <message name="getMetricDataType"/>
  <message name="getMetricDataTypeResponse">
    <part name="getMetricDataTypeReturn" type="tns:SoftLayer_Container_Metric_Data_Type"/>
  </message>
  <message name="getMonitoringAgent"/>
  <message name="getMonitoringAgentResponse">
    <part name="getMonitoringAgentReturn" type="tns:SoftLayer_Monitoring_Agent"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Monitoring_Agent_Configuration_Value"/>
  </message>
  <message name="getProfile"/>
  <message name="getProfileResponse">
    <part name="getProfileReturn" type="tns:SoftLayer_Configuration_Template_Section_Profile"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Monitoring_Agent_Configuration_ValueObjectMaskHeader">
    <part name="SoftLayer_Monitoring_Agent_Configuration_ValueObjectMask" type="tns:SoftLayer_Monitoring_Agent_Configuration_ValueObjectMask"/>
  </message>
  <message name="SoftLayer_Monitoring_Agent_Configuration_ValueObjectFilterHeader">
    <part name="SoftLayer_Monitoring_Agent_Configuration_ValueObjectFilter" type="tns:SoftLayer_Monitoring_Agent_Configuration_ValueObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Monitoring_Agent_Configuration_ValuePortType">
    <documentation>Monitoring agent configuration value </documentation>
    <operation name="getDefinition">
      <documentation></documentation>
      <input message="tns:getDefinition"/>
      <output message="tns:getDefinitionResponse"/>
    </operation>
    <operation name="getMetricDataType">
      <documentation>Retrieve the metric data type used to retrieve metric data currently being tracked.</documentation>
      <input message="tns:getMetricDataType"/>
      <output message="tns:getMetricDataTypeResponse"/>
    </operation>
    <operation name="getMonitoringAgent">
      <documentation></documentation>
      <input message="tns:getMonitoringAgent"/>
      <output message="tns:getMonitoringAgentResponse"/>
    </operation>
    <operation name="getObject">
      <documentation></documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
    <operation name="getProfile">
      <documentation></documentation>
      <input message="tns:getProfile"/>
      <output message="tns:getProfileResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Monitoring_Agent_Configuration_ValueBinding" type="tns:SoftLayer_Monitoring_Agent_Configuration_ValuePortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getDefinition">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Monitoring_Agent_Configuration_ValueAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Monitoring_Agent_Configuration_ValueObjectMaskHeader" part="SoftLayer_Monitoring_Agent_Configuration_ValueObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Monitoring_Agent_Configuration_ValueObjectFilterHeader" part="SoftLayer_Monitoring_Agent_Configuration_ValueObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Monitoring_Agent_Configuration_ValueInitParametersHeader" part="SoftLayer_Monitoring_Agent_Configuration_ValueInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getMetricDataType">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Monitoring_Agent_Configuration_ValueAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Monitoring_Agent_Configuration_ValueObjectMaskHeader" part="SoftLayer_Monitoring_Agent_Configuration_ValueObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Monitoring_Agent_Configuration_ValueObjectFilterHeader" part="SoftLayer_Monitoring_Agent_Configuration_ValueObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Monitoring_Agent_Configuration_ValueInitParametersHeader" part="SoftLayer_Monitoring_Agent_Configuration_ValueInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getMonitoringAgent">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Monitoring_Agent_Configuration_ValueAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Monitoring_Agent_Configuration_ValueObjectMaskHeader" part="SoftLayer_Monitoring_Agent_Configuration_ValueObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Monitoring_Agent_Configuration_ValueObjectFilterHeader" part="SoftLayer_Monitoring_Agent_Configuration_ValueObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Monitoring_Agent_Configuration_ValueInitParametersHeader" part="SoftLayer_Monitoring_Agent_Configuration_ValueInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Monitoring_Agent_Configuration_ValueAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Monitoring_Agent_Configuration_ValueObjectMaskHeader" part="SoftLayer_Monitoring_Agent_Configuration_ValueObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Monitoring_Agent_Configuration_ValueObjectFilterHeader" part="SoftLayer_Monitoring_Agent_Configuration_ValueObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Monitoring_Agent_Configuration_ValueInitParametersHeader" part="SoftLayer_Monitoring_Agent_Configuration_ValueInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getProfile">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Monitoring_Agent_Configuration_ValueAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Monitoring_Agent_Configuration_ValueObjectMaskHeader" part="SoftLayer_Monitoring_Agent_Configuration_ValueObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Monitoring_Agent_Configuration_ValueObjectFilterHeader" part="SoftLayer_Monitoring_Agent_Configuration_ValueObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Monitoring_Agent_Configuration_ValueInitParametersHeader" part="SoftLayer_Monitoring_Agent_Configuration_ValueInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Monitoring_Agent_Configuration_ValueService">
    <port name="SoftLayer_Monitoring_Agent_Configuration_ValuePort" binding="tns:SoftLayer_Monitoring_Agent_Configuration_ValueBinding">
      <soap:address location="https://api.softlayer.com/soap/v3.1/SoftLayer_Monitoring_Agent_Configuration_Value"/>
    </port>
  </service>
</definitions>
