data/Network_Media_Transcode_Job.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3.1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3.1/" schemaLocation="https://api.softlayer.com/soap/v3.1/SoftLayer_Network_Media_Transcode_Job?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:complexType name="SoftLayer_Network_Media_Transcode_JobInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Network_Media_Transcode_JobObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Network_Media_Transcode_Job"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Network_Media_Transcode_JobInitParametersHeader">
    <part name="SoftLayer_Network_Media_Transcode_JobInitParameters" type="tns:SoftLayer_Network_Media_Transcode_JobInitParameters"/>
  </message>
  <message name="createObject">
    <part name="templateObject" type="tns:SoftLayer_Network_Media_Transcode_Job"/>
  </message>
  <message name="createObjectResponse">
    <part name="createObjectReturn" type="tns:SoftLayer_Network_Media_Transcode_Job"/>
  </message>
  <message name="getHistory"/>
  <message name="getHistoryResponse">
    <part name="getHistoryReturn" type="tns:SoftLayer_Network_Media_Transcode_Job_HistoryArray"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Network_Media_Transcode_Job"/>
  </message>
  <message name="getTranscodeAccount"/>
  <message name="getTranscodeAccountResponse">
    <part name="getTranscodeAccountReturn" type="tns:SoftLayer_Network_Media_Transcode_Account"/>
  </message>
  <message name="getTranscodeStatus"/>
  <message name="getTranscodeStatusResponse">
    <part name="getTranscodeStatusReturn" type="tns:SoftLayer_Network_Media_Transcode_Job_Status"/>
  </message>
  <message name="getTranscodeStatusName"/>
  <message name="getTranscodeStatusNameResponse">
    <part name="getTranscodeStatusNameReturn" type="xsd:string"/>
  </message>
  <message name="getUser"/>
  <message name="getUserResponse">
    <part name="getUserReturn" type="tns:SoftLayer_User_Customer"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Network_Media_Transcode_JobObjectMaskHeader">
    <part name="SoftLayer_Network_Media_Transcode_JobObjectMask" type="tns:SoftLayer_Network_Media_Transcode_JobObjectMask"/>
  </message>
  <message name="SoftLayer_Network_Media_Transcode_JobObjectFilterHeader">
    <part name="SoftLayer_Network_Media_Transcode_JobObjectFilter" type="tns:SoftLayer_Network_Media_Transcode_JobObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Network_Media_Transcode_JobPortType">
    <documentation>SoftLayer_Network_Media_Transcode_Job holds information on a transcode job. To create a transcode job, use a [[SoftLayer_Network_Media_Transcode_Account|Transcode account]] object. </documentation>
    <operation name="createObject">
      <documentation>With this method, you can create a transcode job. 

The very first step of creating a transcode job is to upload your media files to the /in directory on your Transcode FTP space. Then, you have to pass a [[SoftLayer_Network_Media_Transcode_Job|Transcode job]] object as a parameter for this method. 

There are 4 required properties of SoftLayer_Network_Media_Transcode_Job object: transcodePresetName, transcodePresetGuid, inputFile, and outputFile. A transcode preset is a configuration that defines a certain media output.  You can retrieve all the supported presets with the [[SoftLayer_Network_Media_Transcode_Account::getPresets|getPresets]] method. You can also use [[SoftLayer_Network_Media_Transcode_Account::getPresetDetail|getPresetDetail]] method to get more information on a preset. Use these two methods to determine appropriate values for &amp;quot;transcodePresetName&amp;quot; and &amp;quot;transcodePresetGuid&amp;quot; properties. For an &amp;quot;inputFile&amp;quot;, you must specify a file that exists in the /in directory of your Transcode FTP space. An &amp;quot;outputFile&amp;quot; name will be used by the Transcode server for naming a transcoded file.  An output file name must be in /out directory. If your outputFile name already exists in the /out directory, the Transcode server will append a file name with _n (an underscore and the total number of files with the identical name plus 1). 

The &amp;quot;name&amp;quot; property is optional and it can help you keep track of transcode jobs easily. &amp;quot;autoDeleteDuration&amp;quot; is another optional property that you can specify.  It determines how soon your input file will be deleted. If autoDeleteDuration is set to zero, your input file will be removed immediately after the last transcode job running on it is completed. A value for autoDeleteDuration property is in seconds and the maximum value is 259200 which is 3 days. 

An example SoftLayer_Network_Media_Transcode_Job parameter looks like this: 


* name: My transcoding
* transcodePresetName: F4V 896kbps 640x352 16x9 29.97fps
* transcodePresetGuid: {87E01268-C3E3-4A85-9701-052C9AC42BD4}
* inputFile: /in/my_birthday.wmv
* outputFile: /out/my_birthday_flash


Notice that an output file does not have a file extension.  The Transcode server will append a file extension based on an output format. A newly created transcode job will be in &amp;quot;Pending&amp;quot; status and it will be added to the Transcoding queue. You will receive a notification email whenever there is a status change on your transcode job.  For example, the Transcode server starts to process your transcode job, you will be notified via an email. 

You can add up to 3 pending jobs at a time. Transcode jobs with any other status such as &amp;quot;Complete&amp;quot; or &amp;quot;Error&amp;quot; will not be counted toward your pending jobs. 

Once a job is complete, the Transcode server will place the output file into the /out directory along with a notification email. The files in the /out directory will be removed 3 days after they were created.  You will need to use an FTP client to download transcoded files. 

</documentation>
      <input message="tns:createObject"/>
      <output message="tns:createObjectResponse"/>
    </operation>
    <operation name="getHistory">
      <documentation></documentation>
      <input message="tns:getHistory"/>
      <output message="tns:getHistoryResponse"/>
    </operation>
    <operation name="getObject">
      <documentation></documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
    <operation name="getTranscodeAccount">
      <documentation>Retrieve the transcode service account</documentation>
      <input message="tns:getTranscodeAccount"/>
      <output message="tns:getTranscodeAccountResponse"/>
    </operation>
    <operation name="getTranscodeStatus">
      <documentation>Retrieve the status information of a transcode job</documentation>
      <input message="tns:getTranscodeStatus"/>
      <output message="tns:getTranscodeStatusResponse"/>
    </operation>
    <operation name="getTranscodeStatusName">
      <documentation>Retrieve the status of a transcode job</documentation>
      <input message="tns:getTranscodeStatusName"/>
      <output message="tns:getTranscodeStatusNameResponse"/>
    </operation>
    <operation name="getUser">
      <documentation>Retrieve the SoftLayer user that created the transcode job</documentation>
      <input message="tns:getUser"/>
      <output message="tns:getUserResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Network_Media_Transcode_JobBinding" type="tns:SoftLayer_Network_Media_Transcode_JobPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="createObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Network_Media_Transcode_JobAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Media_Transcode_JobObjectMaskHeader" part="SoftLayer_Network_Media_Transcode_JobObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getHistory">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Network_Media_Transcode_JobAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_Media_Transcode_JobObjectMaskHeader" part="SoftLayer_Network_Media_Transcode_JobObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Media_Transcode_JobObjectFilterHeader" part="SoftLayer_Network_Media_Transcode_JobObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Media_Transcode_JobInitParametersHeader" part="SoftLayer_Network_Media_Transcode_JobInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Network_Media_Transcode_JobAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_Media_Transcode_JobObjectMaskHeader" part="SoftLayer_Network_Media_Transcode_JobObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Media_Transcode_JobObjectFilterHeader" part="SoftLayer_Network_Media_Transcode_JobObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Media_Transcode_JobInitParametersHeader" part="SoftLayer_Network_Media_Transcode_JobInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getTranscodeAccount">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Network_Media_Transcode_JobAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_Media_Transcode_JobObjectMaskHeader" part="SoftLayer_Network_Media_Transcode_JobObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Media_Transcode_JobObjectFilterHeader" part="SoftLayer_Network_Media_Transcode_JobObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Media_Transcode_JobInitParametersHeader" part="SoftLayer_Network_Media_Transcode_JobInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getTranscodeStatus">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Network_Media_Transcode_JobAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_Media_Transcode_JobObjectMaskHeader" part="SoftLayer_Network_Media_Transcode_JobObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Media_Transcode_JobObjectFilterHeader" part="SoftLayer_Network_Media_Transcode_JobObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Media_Transcode_JobInitParametersHeader" part="SoftLayer_Network_Media_Transcode_JobInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getTranscodeStatusName">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Network_Media_Transcode_JobAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_Media_Transcode_JobObjectMaskHeader" part="SoftLayer_Network_Media_Transcode_JobObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Media_Transcode_JobObjectFilterHeader" part="SoftLayer_Network_Media_Transcode_JobObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Media_Transcode_JobInitParametersHeader" part="SoftLayer_Network_Media_Transcode_JobInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getUser">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Network_Media_Transcode_JobAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_Media_Transcode_JobObjectMaskHeader" part="SoftLayer_Network_Media_Transcode_JobObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Media_Transcode_JobObjectFilterHeader" part="SoftLayer_Network_Media_Transcode_JobObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Media_Transcode_JobInitParametersHeader" part="SoftLayer_Network_Media_Transcode_JobInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Network_Media_Transcode_JobService">
    <port name="SoftLayer_Network_Media_Transcode_JobPort" binding="tns:SoftLayer_Network_Media_Transcode_JobBinding">
      <soap:address location="https://api.softlayer.com/soap/v3.1/SoftLayer_Network_Media_Transcode_Job"/>
    </port>
  </service>
</definitions>
