data/Network_LoadBalancer_Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3.1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3.1/" schemaLocation="https://api.softlayer.com/soap/v3.1/SoftLayer_Network_LoadBalancer_Service?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:complexType name="SoftLayer_Network_LoadBalancer_ServiceInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Network_LoadBalancer_ServiceObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Network_LoadBalancer_Service"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Network_LoadBalancer_ServiceInitParametersHeader">
    <part name="SoftLayer_Network_LoadBalancer_ServiceInitParameters" type="tns:SoftLayer_Network_LoadBalancer_ServiceInitParameters"/>
  </message>
  <message name="deleteObject"/>
  <message name="deleteObjectResponse">
    <part name="deleteObjectReturn" type="xsd:boolean"/>
  </message>
  <message name="getGraphImage">
    <part name="graphType" type="xsd:string"/>
    <part name="metric" type="xsd:string"/>
  </message>
  <message name="getGraphImageResponse">
    <part name="getGraphImageReturn" type="xsd:base64Binary"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Network_LoadBalancer_Service"/>
  </message>
  <message name="getStatus"/>
  <message name="getStatusResponse">
    <part name="getStatusReturn" type="tns:SoftLayer_Container_Network_LoadBalancer_StatusEntryArray"/>
  </message>
  <message name="getVip"/>
  <message name="getVipResponse">
    <part name="getVipReturn" type="tns:SoftLayer_Network_LoadBalancer_VirtualIpAddress"/>
  </message>
  <message name="resetPeakConnections"/>
  <message name="resetPeakConnectionsResponse">
    <part name="resetPeakConnectionsReturn" type="xsd:boolean"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Network_LoadBalancer_ServiceObjectMaskHeader">
    <part name="SoftLayer_Network_LoadBalancer_ServiceObjectMask" type="tns:SoftLayer_Network_LoadBalancer_ServiceObjectMask"/>
  </message>
  <message name="SoftLayer_Network_LoadBalancer_ServiceObjectFilterHeader">
    <part name="SoftLayer_Network_LoadBalancer_ServiceObjectFilter" type="tns:SoftLayer_Network_LoadBalancer_ServiceObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Network_LoadBalancer_ServicePortType">
    <documentation>Load balancer services represent the &amp;quot;routes&amp;quot; that the load balancer will have available to route requests. Each service has a source port (located on the load balancer itself), and a destination IP address and port. Any services that share a source port will be used as potential routes for traffic coming into the load balancer on that port.  For instance, if there are two services that both have a source port of 80, both of those services will be used as balanced servers for traffic coming into your virtual IP on port 80.  For a more complete example, consider the following scenario: 


:Virtual IP Address:  123.123.123.123
:Servers on your account:
:12.34.56.78
:23.45.67.89
:You want to set up both HTTP(port 80) and HTTPS (port 443) on each of those servers.
:You will need four services:


{| 
|-
! SourcePort
! DestinationIpAddress
! DestinationPort
|-
| 80
| 12.34.56.78
| 80
|-
| 80
| 23.45.67.89
| 80
|-
| 443
| 12.34.56.78
| 443
|-
| 443
| 23.45.67.89
| 443
|}


The services also have a routing type, these ALSO need to be the same for services that share the same port. For this example, the services with a source port of 80 should have HTTP as their type.  The other two services should have TCP as their type. 

The affect of other variables are listed in their individual documentation. </documentation>
    <operation name="deleteObject">
      <documentation>Calling deleteObject on a particular server will remove it from the load balancer.  This is the only way to remove a service from your load balancer.  If you wish to remove a server, first call this function, then reload the virtualIpAddress object and edit the remaining services to reflect the other changes that you wish to make. </documentation>
      <input message="tns:deleteObject"/>
      <output message="tns:deleteObjectResponse"/>
    </operation>
    <operation name="getGraphImage">
      <documentation>Get the graph image for a load balancer service based on the supplied graph type and metric.  The available graph types are: 'connections' and 'status', and the available metrics are: 'day', 'week' and 'month'. 

This method returns the raw binary image data. </documentation>
      <input message="tns:getGraphImage"/>
      <output message="tns:getGraphImageResponse"/>
    </operation>
    <operation name="getObject">
      <documentation>getObject retrieves the SoftLayer_Network_LoadBalancer_Service object whose ID number corresponds to the ID number of the init parameter passed to the SoftLayer_Network_LoadBalancer_Service service. You can only retrieve services on load balancers assigned to your account, and it is recommended that you simply retrieve the entire load balancer, as an individual service has no explicit purpose without its &amp;quot;siblings&amp;quot;. </documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
    <operation name="getStatus">
      <documentation>Returns an array of SoftLayer_Container_Network_LoadBalancer_StatusEntry objects.  A SoftLayer_Container_Network_LoadBalancer_StatusEntry object has two variables, &amp;quot;Label&amp;quot; and &amp;quot;Value&amp;quot; 

Calling this function executes a command on the physical load balancer itself, and therefore should be called infrequently.  For a general idea of the load balancer service, use the &amp;quot;peakConnections&amp;quot; variable on the Type 

Possible values for &amp;quot;Label&amp;quot; are: 


* IP Address
* Port
* Server Status
* Load Status
* Current Connections
* Total Hits


Not all labels are guaranteed to be returned. </documentation>
      <input message="tns:getStatus"/>
      <output message="tns:getStatusResponse"/>
    </operation>
    <operation name="getVip">
      <documentation>Retrieve the load balancer that this service belongs to.</documentation>
      <input message="tns:getVip"/>
      <output message="tns:getVipResponse"/>
    </operation>
    <operation name="resetPeakConnections">
      <documentation>Calling resetPeakConnections will set the peakConnections variable to zero on this particular object. Peak connections will continue to increase normally after this method call, it will only temporarily reset the statistic to zero, until the next time it is polled. </documentation>
      <input message="tns:resetPeakConnections"/>
      <output message="tns:resetPeakConnectionsResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Network_LoadBalancer_ServiceBinding" type="tns:SoftLayer_Network_LoadBalancer_ServicePortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="deleteObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Network_LoadBalancer_ServiceAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_LoadBalancer_ServiceInitParametersHeader" part="SoftLayer_Network_LoadBalancer_ServiceInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getGraphImage">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Network_LoadBalancer_ServiceAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_LoadBalancer_ServiceInitParametersHeader" part="SoftLayer_Network_LoadBalancer_ServiceInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Network_LoadBalancer_ServiceAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_LoadBalancer_ServiceObjectMaskHeader" part="SoftLayer_Network_LoadBalancer_ServiceObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_LoadBalancer_ServiceObjectFilterHeader" part="SoftLayer_Network_LoadBalancer_ServiceObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_LoadBalancer_ServiceInitParametersHeader" part="SoftLayer_Network_LoadBalancer_ServiceInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getStatus">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Network_LoadBalancer_ServiceAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_LoadBalancer_ServiceInitParametersHeader" part="SoftLayer_Network_LoadBalancer_ServiceInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getVip">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Network_LoadBalancer_ServiceAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_LoadBalancer_ServiceObjectMaskHeader" part="SoftLayer_Network_LoadBalancer_ServiceObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_LoadBalancer_ServiceObjectFilterHeader" part="SoftLayer_Network_LoadBalancer_ServiceObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_LoadBalancer_ServiceInitParametersHeader" part="SoftLayer_Network_LoadBalancer_ServiceInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="resetPeakConnections">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Network_LoadBalancer_ServiceAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_LoadBalancer_ServiceInitParametersHeader" part="SoftLayer_Network_LoadBalancer_ServiceInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Network_LoadBalancer_ServiceService">
    <port name="SoftLayer_Network_LoadBalancer_ServicePort" binding="tns:SoftLayer_Network_LoadBalancer_ServiceBinding">
      <soap:address location="https://api.softlayer.com/soap/v3.1/SoftLayer_Network_LoadBalancer_Service"/>
    </port>
  </service>
</definitions>
