data/Network_LoadBalancer_Global_Account.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3/" schemaLocation="https://api.softlayer.com/soap/v3/SoftLayer_Network_LoadBalancer_Global_Account?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:complexType name="SoftLayer_Network_LoadBalancer_Global_AccountInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Network_LoadBalancer_Global_AccountObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Network_LoadBalancer_Global_Account"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Network_LoadBalancer_Global_AccountInitParametersHeader">
    <part name="SoftLayer_Network_LoadBalancer_Global_AccountInitParameters" type="tns:SoftLayer_Network_LoadBalancer_Global_AccountInitParameters"/>
  </message>
  <message name="addNsRecord"/>
  <message name="addNsRecordResponse">
    <part name="addNsRecordReturn" type="xsd:boolean"/>
  </message>
  <message name="editObject">
    <part name="templateObject" type="tns:SoftLayer_Network_LoadBalancer_Global_Account"/>
  </message>
  <message name="editObjectResponse">
    <part name="editObjectReturn" type="xsd:boolean"/>
  </message>
  <message name="getAccount"/>
  <message name="getAccountResponse">
    <part name="getAccountReturn" type="tns:SoftLayer_Account"/>
  </message>
  <message name="getBillingItem"/>
  <message name="getBillingItemResponse">
    <part name="getBillingItemReturn" type="tns:SoftLayer_Billing_Item"/>
  </message>
  <message name="getHosts"/>
  <message name="getHostsResponse">
    <part name="getHostsReturn" type="tns:SoftLayer_Network_LoadBalancer_Global_HostArray"/>
  </message>
  <message name="getLoadBalanceType"/>
  <message name="getLoadBalanceTypeResponse">
    <part name="getLoadBalanceTypeReturn" type="tns:SoftLayer_Network_LoadBalancer_Global_Type"/>
  </message>
  <message name="getManagedResourceFlag"/>
  <message name="getManagedResourceFlagResponse">
    <part name="getManagedResourceFlagReturn" type="xsd:boolean"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Network_LoadBalancer_Global_Account"/>
  </message>
  <message name="removeNsRecord"/>
  <message name="removeNsRecordResponse">
    <part name="removeNsRecordReturn" type="xsd:boolean"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Network_LoadBalancer_Global_AccountObjectMaskHeader">
    <part name="SoftLayer_Network_LoadBalancer_Global_AccountObjectMask" type="tns:SoftLayer_Network_LoadBalancer_Global_AccountObjectMask"/>
  </message>
  <message name="SoftLayer_Network_LoadBalancer_Global_AccountObjectFilterHeader">
    <part name="SoftLayer_Network_LoadBalancer_Global_AccountObjectFilter" type="tns:SoftLayer_Network_LoadBalancer_Global_AccountObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Network_LoadBalancer_Global_AccountPortType">
    <documentation>A global load balancer account enables you to load balance traffic between servers that are in geographically diverse locations.  SoftLayer's global load balancers act as a highly modified DNS server.  SoftLayer's global load balancers work by accepting DNS requests for a specific hostname, choosing a host from a load balancing pool using the load balance method specified, and returning a destination IP address through a DNS response. 

A global load balancer account can be created by ordering it as an additional service through the SoftLayer customer portal.  You can modify your new global load balancer account once it's created and provisioned.  There is a delay before your global load balancer account is created because the purchase has to be approved by SoftLayer sales and provisioned. 

Hosts are created and modified through the [[SoftLayer_Network_LoadBalancer_Global_Account::editObject|editObject]] method instead of directly through the [[SoftLayer_Network_LoadBalancer_Global_Host|global load balancer host service]].  This allows you to update the properties of a global load balancer account and the hosts that make up the load balancing pool in a single request. 

To have SoftLayer's global load balancers respond to DNS requests, a nameserver resource record must be added for the hostname on your global load balancer account.  If your globally load balanced domain is hosted on the SoftLayer nameservers, the [[SoftLayer_Network_LoadBalancer_Global_Account::addNsRecord|addNsRecord]] method will create the required nameserver resource record in the zone file for you.  If your globally load balanced domain is hosted on any other nameservers, you will need to add the nameserver resource record yourself.  The SoftLayer Knowledge Layer contains information about [http://knowledgelayer.softlayer.com/questions/421/ configuring DNS] for a globally load balanced domain. 

Use the [[SoftLayer_Network_LoadBalancer_Global_Host::deleteObject]] method to remove a host from your global load balancing pool. 

Global load balancer accounts can only be removed by opening a ticket with the SoftLayer accounting team and request that the global load balancer service be canceled. </documentation>
    <operation name="addNsRecord">
      <documentation>If your globally load balanced domain is hosted on the SoftLayer nameservers this method will add the required NS resource record to your DNS zone file and remove any A records that match the host portion of a global load balancer account hostname.  A NS resource record is required to be able to use your SoftLayer global load balancer account. Please make sure the zone file for the hostname listed on your SoftLayer global load balancer account is setup prior to using this method.  If your globally load balanced domain is hosted on any other nameservers this method will not be able to add the required NS record. </documentation>
      <input message="tns:addNsRecord"/>
      <output message="tns:addNsRecordResponse"/>
    </operation>
    <operation name="editObject">
      <documentation>Edit the properties of a global load balancer account by passing in a modified instance of the object. The global load balancer account properties you are able to edit are: fallback ip, load balance type id, and notes. Hosts that belong to your SoftLayer global load balancer account are created and modified through this method. An example templateObject that updates global load balancer account properties, updates the properties of a host, and adds a new host is shown below: 


* id: 2
* loadBalanceTypeId: 2
* notes: Notes updated
* fallbackIp: 1.1.1.1
* hosts:
** id: 19
** destinationIp: 2.2.2.2
** weight: 25
** healthCheck: http
** destinationPort: 80
** enabled: 1&amp;lt;br /&amp;gt;&amp;lt;br /&amp;gt;
** destinationIp: 3.3.3.3
** weight: 25
** healthCheck: http
** destinationPort: 80
** enabled: 1




The first section contains the properties of the global load balancer account that will be updated, while the second section contains the elements of the 'hosts' property of the global load balancer account.  The first host listed will have its properties updated because the 'id' property of the host is set, meaning the global load balancer host with an id of 19 will be updated. The second host listed will be created because it lacks the 'id' property. 

There is a limit to the maximum number of hosts that you are allowed to add, and is defined by the allowedNumberOfHosts property on the global load balancer account.  The destination IP address of a host must be an IP address that belongs to your SoftLayer Account, or a local load balancer virtual IP address that belongs to your account.  The destination IP address and destination port are required and must be provided when creating a host. </documentation>
      <input message="tns:editObject"/>
      <output message="tns:editObjectResponse"/>
    </operation>
    <operation name="getAccount">
      <documentation>Retrieve your SoftLayer customer account.</documentation>
      <input message="tns:getAccount"/>
      <output message="tns:getAccountResponse"/>
    </operation>
    <operation name="getBillingItem">
      <documentation>Retrieve the current billing item for a Global Load Balancer account.</documentation>
      <input message="tns:getBillingItem"/>
      <output message="tns:getBillingItemResponse"/>
    </operation>
    <operation name="getHosts">
      <documentation>Retrieve the hosts in the load balancing pool for a global load balancer account.</documentation>
      <input message="tns:getHosts"/>
      <output message="tns:getHostsResponse"/>
    </operation>
    <operation name="getLoadBalanceType">
      <documentation>Retrieve the load balance method of a global load balancer account</documentation>
      <input message="tns:getLoadBalanceType"/>
      <output message="tns:getLoadBalanceTypeResponse"/>
    </operation>
    <operation name="getManagedResourceFlag">
      <documentation>Retrieve a flag indicating that the global load balancer is a managed resource.</documentation>
      <input message="tns:getManagedResourceFlag"/>
      <output message="tns:getManagedResourceFlagResponse"/>
    </operation>
    <operation name="getObject">
      <documentation>getObject retrieves the SoftLayer_Network_LoadBalancer_Global_Account object whose ID number corresponds to the ID number of the init paramater passed to the SoftLayer_Network_LoadBalancer_Global_Account service. You can only retrieve a global load balancer account that is assigned to your SoftLayer customer account. </documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
    <operation name="removeNsRecord">
      <documentation>If your globally load balanced domain is hosted on the SoftLayer nameservers this method will remove the NS resource record from your DNS zone file. Removing the NS resource record will basically disable your global load balancer account since no DNS requests will be forwarded to the global load balancers. Any A records that were removed when the NS resource record was added will not be created for you.  If your globally load balanced domain is hosted on any other nameservers this method will not be able to remove the required NS record. </documentation>
      <input message="tns:removeNsRecord"/>
      <output message="tns:removeNsRecordResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Network_LoadBalancer_Global_AccountBinding" type="tns:SoftLayer_Network_LoadBalancer_Global_AccountPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="addNsRecord">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_LoadBalancer_Global_AccountAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_LoadBalancer_Global_AccountInitParametersHeader" part="SoftLayer_Network_LoadBalancer_Global_AccountInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="editObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_LoadBalancer_Global_AccountAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_LoadBalancer_Global_AccountInitParametersHeader" part="SoftLayer_Network_LoadBalancer_Global_AccountInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getAccount">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_LoadBalancer_Global_AccountAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_LoadBalancer_Global_AccountObjectMaskHeader" part="SoftLayer_Network_LoadBalancer_Global_AccountObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_LoadBalancer_Global_AccountObjectFilterHeader" part="SoftLayer_Network_LoadBalancer_Global_AccountObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_LoadBalancer_Global_AccountInitParametersHeader" part="SoftLayer_Network_LoadBalancer_Global_AccountInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getBillingItem">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_LoadBalancer_Global_AccountAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_LoadBalancer_Global_AccountObjectMaskHeader" part="SoftLayer_Network_LoadBalancer_Global_AccountObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_LoadBalancer_Global_AccountObjectFilterHeader" part="SoftLayer_Network_LoadBalancer_Global_AccountObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_LoadBalancer_Global_AccountInitParametersHeader" part="SoftLayer_Network_LoadBalancer_Global_AccountInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getHosts">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_LoadBalancer_Global_AccountAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_LoadBalancer_Global_AccountObjectMaskHeader" part="SoftLayer_Network_LoadBalancer_Global_AccountObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_LoadBalancer_Global_AccountObjectFilterHeader" part="SoftLayer_Network_LoadBalancer_Global_AccountObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_LoadBalancer_Global_AccountInitParametersHeader" part="SoftLayer_Network_LoadBalancer_Global_AccountInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getLoadBalanceType">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_LoadBalancer_Global_AccountAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_LoadBalancer_Global_AccountObjectMaskHeader" part="SoftLayer_Network_LoadBalancer_Global_AccountObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_LoadBalancer_Global_AccountObjectFilterHeader" part="SoftLayer_Network_LoadBalancer_Global_AccountObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_LoadBalancer_Global_AccountInitParametersHeader" part="SoftLayer_Network_LoadBalancer_Global_AccountInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getManagedResourceFlag">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_LoadBalancer_Global_AccountAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_LoadBalancer_Global_AccountObjectMaskHeader" part="SoftLayer_Network_LoadBalancer_Global_AccountObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_LoadBalancer_Global_AccountObjectFilterHeader" part="SoftLayer_Network_LoadBalancer_Global_AccountObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_LoadBalancer_Global_AccountInitParametersHeader" part="SoftLayer_Network_LoadBalancer_Global_AccountInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_LoadBalancer_Global_AccountAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_LoadBalancer_Global_AccountObjectMaskHeader" part="SoftLayer_Network_LoadBalancer_Global_AccountObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_LoadBalancer_Global_AccountObjectFilterHeader" part="SoftLayer_Network_LoadBalancer_Global_AccountObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_LoadBalancer_Global_AccountInitParametersHeader" part="SoftLayer_Network_LoadBalancer_Global_AccountInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="removeNsRecord">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_LoadBalancer_Global_AccountAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_LoadBalancer_Global_AccountInitParametersHeader" part="SoftLayer_Network_LoadBalancer_Global_AccountInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Network_LoadBalancer_Global_AccountService">
    <port name="SoftLayer_Network_LoadBalancer_Global_AccountPort" binding="tns:SoftLayer_Network_LoadBalancer_Global_AccountBinding">
      <soap:address location="https://api.softlayer.com/soap/v3/SoftLayer_Network_LoadBalancer_Global_Account"/>
    </port>
  </service>
</definitions>
