data/Network_Application_Delivery_Controller_LoadBalancer_Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3.1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3.1/" schemaLocation="https://api.softlayer.com/soap/v3.1/SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_Service?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:complexType name="SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_Service"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceInitParametersHeader">
    <part name="SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceInitParameters" type="tns:SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceInitParameters"/>
  </message>
  <message name="deleteObject"/>
  <message name="deleteObjectResponse">
    <part name="deleteObjectReturn" type="xsd:boolean"/>
  </message>
  <message name="getGraphImage">
    <part name="graphType" type="xsd:string"/>
    <part name="metric" type="xsd:string"/>
  </message>
  <message name="getGraphImageResponse">
    <part name="getGraphImageReturn" type="xsd:base64Binary"/>
  </message>
  <message name="getGroupReferences"/>
  <message name="getGroupReferencesResponse">
    <part name="getGroupReferencesReturn" type="tns:SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_Service_Group_CrossReferenceArray"/>
  </message>
  <message name="getGroups"/>
  <message name="getGroupsResponse">
    <part name="getGroupsReturn" type="tns:SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_Service_GroupArray"/>
  </message>
  <message name="getHealthChecks"/>
  <message name="getHealthChecksResponse">
    <part name="getHealthChecksReturn" type="tns:SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_Health_CheckArray"/>
  </message>
  <message name="getIpAddress"/>
  <message name="getIpAddressResponse">
    <part name="getIpAddressReturn" type="tns:SoftLayer_Network_Subnet_IpAddress"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_Service"/>
  </message>
  <message name="toggleStatus"/>
  <message name="toggleStatusResponse">
    <part name="toggleStatusReturn" type="xsd:boolean"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceObjectMaskHeader">
    <part name="SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceObjectMask" type="tns:SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceObjectMask"/>
  </message>
  <message name="SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceObjectFilterHeader">
    <part name="SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceObjectFilter" type="tns:SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServicePortType">
    <documentation></documentation>
    <operation name="deleteObject">
      <documentation></documentation>
      <input message="tns:deleteObject"/>
      <output message="tns:deleteObjectResponse"/>
    </operation>
    <operation name="getGraphImage">
      <documentation>Get the graph image for a load balancer service based on the supplied graph type and metric.  The available graph types are: 'connections' and 'status', and the available metrics are: 'day', 'week' and 'month'. 

This method returns the raw binary image data. </documentation>
      <input message="tns:getGraphImage"/>
      <output message="tns:getGraphImageResponse"/>
    </operation>
    <operation name="getGroupReferences">
      <documentation></documentation>
      <input message="tns:getGroupReferences"/>
      <output message="tns:getGroupReferencesResponse"/>
    </operation>
    <operation name="getGroups">
      <documentation></documentation>
      <input message="tns:getGroups"/>
      <output message="tns:getGroupsResponse"/>
    </operation>
    <operation name="getHealthChecks">
      <documentation></documentation>
      <input message="tns:getHealthChecks"/>
      <output message="tns:getHealthChecksResponse"/>
    </operation>
    <operation name="getIpAddress">
      <documentation></documentation>
      <input message="tns:getIpAddress"/>
      <output message="tns:getIpAddressResponse"/>
    </operation>
    <operation name="getObject">
      <documentation></documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
    <operation name="toggleStatus">
      <documentation></documentation>
      <input message="tns:toggleStatus"/>
      <output message="tns:toggleStatusResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceBinding" type="tns:SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServicePortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="deleteObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceInitParametersHeader" part="SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getGraphImage">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceInitParametersHeader" part="SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getGroupReferences">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceObjectMaskHeader" part="SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceObjectFilterHeader" part="SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceInitParametersHeader" part="SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getGroups">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceObjectMaskHeader" part="SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceObjectFilterHeader" part="SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceInitParametersHeader" part="SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getHealthChecks">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceObjectMaskHeader" part="SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceObjectFilterHeader" part="SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceInitParametersHeader" part="SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getIpAddress">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceObjectMaskHeader" part="SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceObjectFilterHeader" part="SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceInitParametersHeader" part="SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceObjectMaskHeader" part="SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceObjectFilterHeader" part="SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceInitParametersHeader" part="SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="toggleStatus">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceInitParametersHeader" part="SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceService">
    <port name="SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServicePort" binding="tns:SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_ServiceBinding">
      <soap:address location="https://api.softlayer.com/soap/v3.1/SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_Service"/>
    </port>
  </service>
</definitions>
