data/Network_Subnet_IpAddress_Global.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3/" schemaLocation="https://api.softlayer.com/soap/v3/SoftLayer_Network_Subnet_IpAddress_Global?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:complexType name="SoftLayer_Network_Subnet_IpAddress_GlobalInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Network_Subnet_IpAddress_GlobalObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Network_Subnet_IpAddress_Global"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Network_Subnet_IpAddress_GlobalInitParametersHeader">
    <part name="SoftLayer_Network_Subnet_IpAddress_GlobalInitParameters" type="tns:SoftLayer_Network_Subnet_IpAddress_GlobalInitParameters"/>
  </message>
  <message name="getAccount"/>
  <message name="getAccountResponse">
    <part name="getAccountReturn" type="tns:SoftLayer_Account"/>
  </message>
  <message name="getActiveTransaction"/>
  <message name="getActiveTransactionResponse">
    <part name="getActiveTransactionReturn" type="tns:SoftLayer_Provisioning_Version1_Transaction"/>
  </message>
  <message name="getBillingItem"/>
  <message name="getBillingItemResponse">
    <part name="getBillingItemReturn" type="tns:SoftLayer_Billing_Item_Network_Subnet_IpAddress_Global"/>
  </message>
  <message name="getDestinationIpAddress"/>
  <message name="getDestinationIpAddressResponse">
    <part name="getDestinationIpAddressReturn" type="tns:SoftLayer_Network_Subnet_IpAddress"/>
  </message>
  <message name="getIpAddress"/>
  <message name="getIpAddressResponse">
    <part name="getIpAddressReturn" type="tns:SoftLayer_Network_Subnet_IpAddress"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Network_Subnet_IpAddress_Global"/>
  </message>
  <message name="route">
    <part name="newEndPointIpAddress" type="xsd:string"/>
  </message>
  <message name="routeResponse">
    <part name="routeReturn" type="tns:SoftLayer_Provisioning_Version1_Transaction"/>
  </message>
  <message name="unroute"/>
  <message name="unrouteResponse">
    <part name="unrouteReturn" type="tns:SoftLayer_Provisioning_Version1_Transaction"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Network_Subnet_IpAddress_GlobalObjectMaskHeader">
    <part name="SoftLayer_Network_Subnet_IpAddress_GlobalObjectMask" type="tns:SoftLayer_Network_Subnet_IpAddress_GlobalObjectMask"/>
  </message>
  <message name="SoftLayer_Network_Subnet_IpAddress_GlobalObjectFilterHeader">
    <part name="SoftLayer_Network_Subnet_IpAddress_GlobalObjectFilter" type="tns:SoftLayer_Network_Subnet_IpAddress_GlobalObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Network_Subnet_IpAddress_GlobalPortType">
    <documentation>Global IP Addresses are static IP addresses that can be routed to any server within the SoftLayer network. Global IP Addresses are not restricted to routing within the same datacenter. </documentation>
    <operation name="getAccount">
      <documentation></documentation>
      <input message="tns:getAccount"/>
      <output message="tns:getAccountResponse"/>
    </operation>
    <operation name="getActiveTransaction">
      <documentation>Retrieve the active transaction associated with this Global IP.</documentation>
      <input message="tns:getActiveTransaction"/>
      <output message="tns:getActiveTransactionResponse"/>
    </operation>
    <operation name="getBillingItem">
      <documentation>Retrieve the billing item for this Global IP.</documentation>
      <input message="tns:getBillingItem"/>
      <output message="tns:getBillingItemResponse"/>
    </operation>
    <operation name="getDestinationIpAddress">
      <documentation></documentation>
      <input message="tns:getDestinationIpAddress"/>
      <output message="tns:getDestinationIpAddressResponse"/>
    </operation>
    <operation name="getIpAddress">
      <documentation></documentation>
      <input message="tns:getIpAddress"/>
      <output message="tns:getIpAddressResponse"/>
    </operation>
    <operation name="getObject">
      <documentation></documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
    <operation name="route">
      <documentation>This function is used to create a new transaction to modify a global IP route. Routes are updated in one to two minutes depending on the number of transactions that are pending for a router. </documentation>
      <input message="tns:route"/>
      <output message="tns:routeResponse"/>
    </operation>
    <operation name="unroute">
      <documentation>This function is used to create a new transaction to unroute a global IP address. Routes are updated in one to two minutes depending on the number of transactions that are pending for a router. </documentation>
      <input message="tns:unroute"/>
      <output message="tns:unrouteResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Network_Subnet_IpAddress_GlobalBinding" type="tns:SoftLayer_Network_Subnet_IpAddress_GlobalPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getAccount">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Subnet_IpAddress_GlobalAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_Subnet_IpAddress_GlobalObjectMaskHeader" part="SoftLayer_Network_Subnet_IpAddress_GlobalObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Subnet_IpAddress_GlobalObjectFilterHeader" part="SoftLayer_Network_Subnet_IpAddress_GlobalObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Subnet_IpAddress_GlobalInitParametersHeader" part="SoftLayer_Network_Subnet_IpAddress_GlobalInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getActiveTransaction">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Subnet_IpAddress_GlobalAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_Subnet_IpAddress_GlobalObjectMaskHeader" part="SoftLayer_Network_Subnet_IpAddress_GlobalObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Subnet_IpAddress_GlobalObjectFilterHeader" part="SoftLayer_Network_Subnet_IpAddress_GlobalObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Subnet_IpAddress_GlobalInitParametersHeader" part="SoftLayer_Network_Subnet_IpAddress_GlobalInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getBillingItem">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Subnet_IpAddress_GlobalAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_Subnet_IpAddress_GlobalObjectMaskHeader" part="SoftLayer_Network_Subnet_IpAddress_GlobalObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Subnet_IpAddress_GlobalObjectFilterHeader" part="SoftLayer_Network_Subnet_IpAddress_GlobalObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Subnet_IpAddress_GlobalInitParametersHeader" part="SoftLayer_Network_Subnet_IpAddress_GlobalInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getDestinationIpAddress">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Subnet_IpAddress_GlobalAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_Subnet_IpAddress_GlobalObjectMaskHeader" part="SoftLayer_Network_Subnet_IpAddress_GlobalObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Subnet_IpAddress_GlobalObjectFilterHeader" part="SoftLayer_Network_Subnet_IpAddress_GlobalObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Subnet_IpAddress_GlobalInitParametersHeader" part="SoftLayer_Network_Subnet_IpAddress_GlobalInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getIpAddress">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Subnet_IpAddress_GlobalAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_Subnet_IpAddress_GlobalObjectMaskHeader" part="SoftLayer_Network_Subnet_IpAddress_GlobalObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Subnet_IpAddress_GlobalObjectFilterHeader" part="SoftLayer_Network_Subnet_IpAddress_GlobalObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Subnet_IpAddress_GlobalInitParametersHeader" part="SoftLayer_Network_Subnet_IpAddress_GlobalInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Subnet_IpAddress_GlobalAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_Subnet_IpAddress_GlobalObjectMaskHeader" part="SoftLayer_Network_Subnet_IpAddress_GlobalObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Subnet_IpAddress_GlobalObjectFilterHeader" part="SoftLayer_Network_Subnet_IpAddress_GlobalObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Subnet_IpAddress_GlobalInitParametersHeader" part="SoftLayer_Network_Subnet_IpAddress_GlobalInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="route">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Subnet_IpAddress_GlobalAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Subnet_IpAddress_GlobalInitParametersHeader" part="SoftLayer_Network_Subnet_IpAddress_GlobalInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Subnet_IpAddress_GlobalObjectMaskHeader" part="SoftLayer_Network_Subnet_IpAddress_GlobalObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="unroute">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Subnet_IpAddress_GlobalAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Subnet_IpAddress_GlobalInitParametersHeader" part="SoftLayer_Network_Subnet_IpAddress_GlobalInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Subnet_IpAddress_GlobalObjectMaskHeader" part="SoftLayer_Network_Subnet_IpAddress_GlobalObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Network_Subnet_IpAddress_GlobalService">
    <port name="SoftLayer_Network_Subnet_IpAddress_GlobalPort" binding="tns:SoftLayer_Network_Subnet_IpAddress_GlobalBinding">
      <soap:address location="https://api.softlayer.com/soap/v3/SoftLayer_Network_Subnet_IpAddress_Global"/>
    </port>
  </service>
</definitions>
