data/Network_Media_Transcode_Account.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3/" schemaLocation="https://api.softlayer.com/soap/v3/SoftLayer_Network_Media_Transcode_Account?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:complexType name="SoftLayer_Network_Media_Transcode_AccountInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Network_Media_Transcode_AccountObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Network_Media_Transcode_Account"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Network_Media_Transcode_AccountInitParametersHeader">
    <part name="SoftLayer_Network_Media_Transcode_AccountInitParameters" type="tns:SoftLayer_Network_Media_Transcode_AccountInitParameters"/>
  </message>
  <message name="createTranscodeAccount"/>
  <message name="createTranscodeAccountResponse">
    <part name="createTranscodeAccountReturn" type="xsd:boolean"/>
  </message>
  <message name="createTranscodeJob">
    <part name="newJob" type="tns:SoftLayer_Network_Media_Transcode_Job"/>
  </message>
  <message name="createTranscodeJobResponse">
    <part name="createTranscodeJobReturn" type="xsd:boolean"/>
  </message>
  <message name="getAccount"/>
  <message name="getAccountResponse">
    <part name="getAccountReturn" type="tns:SoftLayer_Account"/>
  </message>
  <message name="getDirectoryInformation">
    <part name="directoryName" type="xsd:string"/>
    <part name="extensionFilter" type="xsd:string"/>
  </message>
  <message name="getDirectoryInformationResponse">
    <part name="getDirectoryInformationReturn" type="tns:SoftLayer_Container_Network_Directory_ListingArray"/>
  </message>
  <message name="getFileDetail">
    <part name="source" type="xsd:string"/>
  </message>
  <message name="getFileDetailResponse">
    <part name="getFileDetailReturn" type="tns:SoftLayer_Container_Network_Media_Information"/>
  </message>
  <message name="getFtpAttributes"/>
  <message name="getFtpAttributesResponse">
    <part name="getFtpAttributesReturn" type="tns:SoftLayer_Container_Network_Authentication_Data"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Network_Media_Transcode_Account"/>
  </message>
  <message name="getPresetDetail">
    <part name="guid" type="xsd:string"/>
  </message>
  <message name="getPresetDetailResponse">
    <part name="getPresetDetailReturn" type="tns:SoftLayer_Container_Network_Media_Transcode_Preset_ElementArray"/>
  </message>
  <message name="getPresets"/>
  <message name="getPresetsResponse">
    <part name="getPresetsReturn" type="tns:SoftLayer_Container_Network_Media_Transcode_PresetArray"/>
  </message>
  <message name="getTranscodeJobs"/>
  <message name="getTranscodeJobsResponse">
    <part name="getTranscodeJobsReturn" type="tns:SoftLayer_Network_Media_Transcode_JobArray"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Network_Media_Transcode_AccountObjectMaskHeader">
    <part name="SoftLayer_Network_Media_Transcode_AccountObjectMask" type="tns:SoftLayer_Network_Media_Transcode_AccountObjectMask"/>
  </message>
  <message name="SoftLayer_Network_Media_Transcode_AccountObjectFilterHeader">
    <part name="SoftLayer_Network_Media_Transcode_AccountObjectFilter" type="tns:SoftLayer_Network_Media_Transcode_AccountObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Network_Media_Transcode_AccountPortType">
    <documentation>Transcoding is a service which allows you to transcode media files to different formats. For example, if you have a Windows Media Video file you wish to stream in Flash Video format, transcoding would be the process to make this change. Individual SoftLayer customer can have a single Transcode account and you need to create a Transcode account to use the service. To create a Transcode account, go to the &amp;quot;Private Network&amp;quot; -&amp;gt; &amp;quot;Transcoding&amp;quot; page in the SoftLayer [https://manage.softlayer.com customer portal] or invoke [[SoftLayer_Network_Media_Transcode_Account::createTranscodeAccount|createTranscodeAccount]] method. 

SoftLayer Transcoding service supports a large number of video and audio codecs. This means you can transcode many different types of movies.  Refer to [http://knowledgelayer.softlayer.com/questions/409/SoftLayer+Transcoding+FAQ Transcode FAQ] for supported codes and media containers. Transcode server also has hundreds of pre-defined output formats that you can choose from. 

A Transcode account object allows you to communicate with the Transcode FTP (transcode.service.softlayer.com server) server and Transcode server. You can retrieve a directory listing, details on a media file, Transcode output presets, and Transcode FTP login credentials. Most importantly, you can create transcode jobs through your Transcode account. 

When a Transcode account is created, it creates an FTP account on the Transcode FTP. You can upload your media files to the /in directory and you can download transcoded media files from the /out directory. You can keep the files 3 days from the creation date. They will be automatically deleted after this point. For more details on the Transcode FTP server, refer to [[SoftLayer_Network_Media_Transcode_Account::getFtpAttributes|getFtpAttributes]] method. </documentation>
    <operation name="createTranscodeAccount">
      <documentation>With this method, you can create a transcode account.  Individual SoftLayer account can have a single Transcode account. You have to pass your SoftLayer account id as a parameter. </documentation>
      <input message="tns:createTranscodeAccount"/>
      <output message="tns:createTranscodeAccountResponse"/>
    </operation>
    <operation name="createTranscodeJob">
      <documentation>'''Note'''. This method is obsolete. Please use the [[SoftLayer_Network_Media_Transcode_Job::createObject|createObject]] method on SoftLayer_Network_Media_Transcode_Job object instead. SoftLayer_Network_Media_Transcode_Job::createObject returns an object of a newly created Transcode Job. 

With this method, you can create a transcode job. 

The very first step of creating a transcode job is to upload your media files to the /in directory on your Transcode FTP space. Then, you have to pass a [[SoftLayer_Network_Media_Transcode_Job|Transcode job]] object as a parameter for this method. 

There are 4 required properties of SoftLayer_Network_Media_Transcode_Job object: transcodePresetName, transcodePresetGuid, inputFile, and outputFile. A transcode preset is a configuration that defines a certain media output.  You can retrieve all the supported presets with the [[SoftLayer_Network_Media_Transcode_Account::getPresets|getPresets]] method. You can also use [[SoftLayer_Network_Media_Transcode_Account::getPresetDetail|getPresetDetail]] method to get more information on a preset. Use these two methods to determine appropriate values for &amp;quot;transcodePresetName&amp;quot; and &amp;quot;transcodePresetGuid&amp;quot; properties. For an &amp;quot;inputFile&amp;quot;, you must specify a file that exists in the /in directory of your Transcode FTP space. An &amp;quot;outputFile&amp;quot; name will be used by the Transcode server for naming a transcoded file.  An output file name must be in /out directory. If your outputFile name already exists in the /out directory, the Transcode server will append a file name with _n (an underscore and the total number of files with the identical name plus 1). 

The &amp;quot;name&amp;quot; property is optional and it can help you keep track of transcode jobs easily. &amp;quot;autoDeleteDuration&amp;quot; is another optional property that you can specify.  It determines how soon your input file will be deleted. If autoDeleteDuration is set to zero, your input file will be removed immediately after the last transcode job running on it is completed. A value for autoDeleteDuration property is in seconds and the maximum value is 259200 which is 3 days. 

An example SoftLayer_Network_Media_Transcode_Job parameter looks like this: 


* name: My transcoding
* transcodePresetName: F4V 896kbps 640x352 16x9 29.97fps
* transcodePresetGuid: {87E01268-C3E3-4A85-9701-052C9AC42BD4}
* inputFile: /in/my_birthday.wmv
* outputFile: /out/my_birthday_flash


Notice that an output file does not have a file extension.  The Transcode server will append a file extension based on an output format. A newly created transcode job will be in &amp;quot;Pending&amp;quot; status and it will be added to the Transcoding queue. You will receive a notification email whenever there is a status change on your transcode job.  For example, the Transcode server starts to process your transcode job, you will be notified via an email. 

You can add up to 3 pending jobs at a time. Transcode jobs with any other status such as &amp;quot;Complete&amp;quot; or &amp;quot;Error&amp;quot; will not be counted toward your pending jobs. 

Once a job is complete, the Transcode server will place the output file into the /out directory along with a notification email. The files in the /out directory will be removed 3 days after they were created.  You will need to use an FTP client to download transcoded files. 

</documentation>
      <input message="tns:createTranscodeJob"/>
      <output message="tns:createTranscodeJobResponse"/>
    </operation>
    <operation name="getAccount">
      <documentation>Retrieve the SoftLayer account information</documentation>
      <input message="tns:getAccount"/>
      <output message="tns:getAccountResponse"/>
    </operation>
    <operation name="getDirectoryInformation">
      <documentation>This method returns a collection of SoftLayer_Container_Network_Ftp_Directory objects. You can retrieve directory information for /in and /out directories. A [[SoftLayer_Container_Network_Directory_Listing|Directory Listing]] object contains a type (indicating whether it is a file or a directory), name and file count if it is a directory. </documentation>
      <input message="tns:getDirectoryInformation"/>
      <output message="tns:getDirectoryInformationResponse"/>
    </operation>
    <operation name="getFileDetail">
      <documentation>This method returns detailed information of a media file that resides in the Transcode FTP server. A [[SoftLayer_Container_Network_Media_Information|media information]] object contains media details such as file size, media format, frame rate, aspect ratio and so on.  This information is merely for reference purposes. You should not rely on this data. Our library grabs small pieces of data from a media file to gather media details.  This information may not be available for some files. </documentation>
      <input message="tns:getFileDetail"/>
      <output message="tns:getFileDetailResponse"/>
    </operation>
    <operation name="getFtpAttributes">
      <documentation>This method returns your Transcode FTP login credentials to the transcode.service.softlayer.com server. 

The Transcode FTP server is available via the SoftLayer private network. There is no API method that you can upload a file to Transcode server so you need to use an FTP client. You will have /in and /out directories on the Transcode FTP server.  You will have read-write privileges for /in directory and read-only privilege for /out directory. All the files in both /in and /out directories will be deleted after 72 hours from the creation date. </documentation>
      <input message="tns:getFtpAttributes"/>
      <output message="tns:getFtpAttributesResponse"/>
    </operation>
    <operation name="getObject">
      <documentation>getObject method retrieves the SoftLayer_Network_Media_Transcode_Account object whose ID number corresponds to the ID number of the initial parameter passed to the SoftLayer_Network_Media_Transcode_Account service. You can only retrieve a Transcode account assigned to your SoftLayer customer account. </documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
    <operation name="getPresetDetail">
      <documentation>This method returns an array of [[SoftLayer_Container_Network_Media_Transcode_Preset_Element|preset element]] objects. Each preset has its own collection of preset elements such as encoder, frame rate, aspect ratio and so on. Each element object has a default value for itself and an array of [[SoftLayer_Container_Network_Media_Transcode_Preset_Element_Option|element option]] objects. For example, &amp;quot;Frame Rate&amp;quot; element for &amp;quot;Windows Media 9 - Download - 1 Mbps - NTSC - Constrained VBR&amp;quot; preset has 19 element options. 15.0 frame rate is selected by default.  Currently, you are not able to change the default value. Customizing these values may be possible in the future. </documentation>
      <input message="tns:getPresetDetail"/>
      <output message="tns:getPresetDetailResponse"/>
    </operation>
    <operation name="getPresets">
      <documentation>A transcode preset is a configuration that defines a certain media output. This method returns an array of transcoding preset objects supported by SoftLayer's Transcode server. Each [[SoftLayer_Container_Network_Media_Transcode_Preset|preset object]] contains a GUID property. You will need a GUID string when you create a new transcode job. </documentation>
      <input message="tns:getPresets"/>
      <output message="tns:getPresetsResponse"/>
    </operation>
    <operation name="getTranscodeJobs">
      <documentation>Retrieve transcode jobs</documentation>
      <input message="tns:getTranscodeJobs"/>
      <output message="tns:getTranscodeJobsResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Network_Media_Transcode_AccountBinding" type="tns:SoftLayer_Network_Media_Transcode_AccountPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="createTranscodeAccount">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Media_Transcode_AccountAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="createTranscodeJob">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Media_Transcode_AccountAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Media_Transcode_AccountInitParametersHeader" part="SoftLayer_Network_Media_Transcode_AccountInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getAccount">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Media_Transcode_AccountAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_Media_Transcode_AccountObjectMaskHeader" part="SoftLayer_Network_Media_Transcode_AccountObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Media_Transcode_AccountObjectFilterHeader" part="SoftLayer_Network_Media_Transcode_AccountObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Media_Transcode_AccountInitParametersHeader" part="SoftLayer_Network_Media_Transcode_AccountInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getDirectoryInformation">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Media_Transcode_AccountAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Media_Transcode_AccountInitParametersHeader" part="SoftLayer_Network_Media_Transcode_AccountInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getFileDetail">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Media_Transcode_AccountAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Media_Transcode_AccountInitParametersHeader" part="SoftLayer_Network_Media_Transcode_AccountInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getFtpAttributes">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Media_Transcode_AccountAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Media_Transcode_AccountInitParametersHeader" part="SoftLayer_Network_Media_Transcode_AccountInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Media_Transcode_AccountAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_Media_Transcode_AccountObjectMaskHeader" part="SoftLayer_Network_Media_Transcode_AccountObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Media_Transcode_AccountObjectFilterHeader" part="SoftLayer_Network_Media_Transcode_AccountObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Media_Transcode_AccountInitParametersHeader" part="SoftLayer_Network_Media_Transcode_AccountInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getPresetDetail">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Media_Transcode_AccountAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Media_Transcode_AccountInitParametersHeader" part="SoftLayer_Network_Media_Transcode_AccountInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getPresets">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Media_Transcode_AccountAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Media_Transcode_AccountInitParametersHeader" part="SoftLayer_Network_Media_Transcode_AccountInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getTranscodeJobs">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Media_Transcode_AccountAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_Media_Transcode_AccountObjectMaskHeader" part="SoftLayer_Network_Media_Transcode_AccountObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Media_Transcode_AccountObjectFilterHeader" part="SoftLayer_Network_Media_Transcode_AccountObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Media_Transcode_AccountInitParametersHeader" part="SoftLayer_Network_Media_Transcode_AccountInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Network_Media_Transcode_AccountService">
    <port name="SoftLayer_Network_Media_Transcode_AccountPort" binding="tns:SoftLayer_Network_Media_Transcode_AccountBinding">
      <soap:address location="https://api.softlayer.com/soap/v3/SoftLayer_Network_Media_Transcode_Account"/>
    </port>
  </service>
</definitions>
