data/Network_Tunnel_Module_Context.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3/" schemaLocation="https://api.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_Context?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:complexType name="SoftLayer_Network_Tunnel_Module_ContextInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Network_Tunnel_Module_ContextObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Network_Tunnel_Module_Context"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Network_Tunnel_Module_ContextInitParametersHeader">
    <part name="SoftLayer_Network_Tunnel_Module_ContextInitParameters" type="tns:SoftLayer_Network_Tunnel_Module_ContextInitParameters"/>
  </message>
  <message name="addCustomerSubnetToNetworkTunnel">
    <part name="subnetId" type="xsd:int"/>
  </message>
  <message name="addCustomerSubnetToNetworkTunnelResponse">
    <part name="addCustomerSubnetToNetworkTunnelReturn" type="xsd:boolean"/>
  </message>
  <message name="addPrivateSubnetToNetworkTunnel">
    <part name="subnetId" type="xsd:int"/>
  </message>
  <message name="addPrivateSubnetToNetworkTunnelResponse">
    <part name="addPrivateSubnetToNetworkTunnelReturn" type="xsd:boolean"/>
  </message>
  <message name="addServiceSubnetToNetworkTunnel">
    <part name="subnetId" type="xsd:int"/>
  </message>
  <message name="addServiceSubnetToNetworkTunnelResponse">
    <part name="addServiceSubnetToNetworkTunnelReturn" type="xsd:boolean"/>
  </message>
  <message name="applyConfigurationsToDevice"/>
  <message name="applyConfigurationsToDeviceResponse">
    <part name="applyConfigurationsToDeviceReturn" type="xsd:boolean"/>
  </message>
  <message name="createAddressTranslation">
    <part name="translation" type="tns:SoftLayer_Network_Tunnel_Module_Context_Address_Translation"/>
  </message>
  <message name="createAddressTranslationResponse">
    <part name="createAddressTranslationReturn" type="tns:SoftLayer_Network_Tunnel_Module_Context_Address_Translation"/>
  </message>
  <message name="createAddressTranslations">
    <part name="translations" type="tns:SoftLayer_Network_Tunnel_Module_Context_Address_TranslationArray"/>
  </message>
  <message name="createAddressTranslationsResponse">
    <part name="createAddressTranslationsReturn" type="tns:SoftLayer_Network_Tunnel_Module_Context_Address_TranslationArray"/>
  </message>
  <message name="deleteAddressTranslation">
    <part name="translationId" type="xsd:int"/>
  </message>
  <message name="deleteAddressTranslationResponse">
    <part name="deleteAddressTranslationReturn" type="xsd:boolean"/>
  </message>
  <message name="downloadAddressTranslationConfigurations"/>
  <message name="downloadAddressTranslationConfigurationsResponse">
    <part name="downloadAddressTranslationConfigurationsReturn" type="tns:SoftLayer_Container_Utility_File_Entity"/>
  </message>
  <message name="downloadParameterConfigurations"/>
  <message name="downloadParameterConfigurationsResponse">
    <part name="downloadParameterConfigurationsReturn" type="tns:SoftLayer_Container_Utility_File_Entity"/>
  </message>
  <message name="editAddressTranslation">
    <part name="translation" type="tns:SoftLayer_Network_Tunnel_Module_Context_Address_Translation"/>
  </message>
  <message name="editAddressTranslationResponse">
    <part name="editAddressTranslationReturn" type="tns:SoftLayer_Network_Tunnel_Module_Context_Address_Translation"/>
  </message>
  <message name="editAddressTranslations">
    <part name="translations" type="tns:SoftLayer_Network_Tunnel_Module_Context_Address_TranslationArray"/>
  </message>
  <message name="editAddressTranslationsResponse">
    <part name="editAddressTranslationsReturn" type="tns:SoftLayer_Network_Tunnel_Module_Context_Address_TranslationArray"/>
  </message>
  <message name="editObject">
    <part name="templateObject" type="tns:SoftLayer_Network_Tunnel_Module_Context"/>
  </message>
  <message name="editObjectResponse">
    <part name="editObjectReturn" type="xsd:boolean"/>
  </message>
  <message name="getAccount"/>
  <message name="getAccountResponse">
    <part name="getAccountReturn" type="tns:SoftLayer_Account"/>
  </message>
  <message name="getActiveTransaction"/>
  <message name="getActiveTransactionResponse">
    <part name="getActiveTransactionReturn" type="tns:SoftLayer_Provisioning_Version1_Transaction"/>
  </message>
  <message name="getAddressTranslationConfigurations"/>
  <message name="getAddressTranslationConfigurationsResponse">
    <part name="getAddressTranslationConfigurationsReturn" type="xsd:string"/>
  </message>
  <message name="getAddressTranslations"/>
  <message name="getAddressTranslationsResponse">
    <part name="getAddressTranslationsReturn" type="tns:SoftLayer_Network_Tunnel_Module_Context_Address_TranslationArray"/>
  </message>
  <message name="getAllAvailableServiceSubnets"/>
  <message name="getAllAvailableServiceSubnetsResponse">
    <part name="getAllAvailableServiceSubnetsReturn" type="tns:SoftLayer_Network_SubnetArray"/>
  </message>
  <message name="getAuthenticationDefault"/>
  <message name="getAuthenticationDefaultResponse">
    <part name="getAuthenticationDefaultReturn" type="xsd:string"/>
  </message>
  <message name="getAuthenticationOptions"/>
  <message name="getAuthenticationOptionsResponse">
    <part name="getAuthenticationOptionsReturn" type="tns:ArrayOfstring"/>
  </message>
  <message name="getBillingItem"/>
  <message name="getBillingItemResponse">
    <part name="getBillingItemReturn" type="tns:SoftLayer_Billing_Item"/>
  </message>
  <message name="getCustomerSubnets"/>
  <message name="getCustomerSubnetsResponse">
    <part name="getCustomerSubnetsReturn" type="tns:SoftLayer_Network_Customer_SubnetArray"/>
  </message>
  <message name="getDatacenter"/>
  <message name="getDatacenterResponse">
    <part name="getDatacenterReturn" type="tns:SoftLayer_Location"/>
  </message>
  <message name="getDiffieHellmanGroupDefault"/>
  <message name="getDiffieHellmanGroupDefaultResponse">
    <part name="getDiffieHellmanGroupDefaultReturn" type="xsd:int"/>
  </message>
  <message name="getDiffieHellmanGroupOptions"/>
  <message name="getDiffieHellmanGroupOptionsResponse">
    <part name="getDiffieHellmanGroupOptionsReturn" type="tns:ArrayOfint"/>
  </message>
  <message name="getEncryptionDefault"/>
  <message name="getEncryptionDefaultResponse">
    <part name="getEncryptionDefaultReturn" type="xsd:string"/>
  </message>
  <message name="getEncryptionOptions"/>
  <message name="getEncryptionOptionsResponse">
    <part name="getEncryptionOptionsReturn" type="tns:ArrayOfstring"/>
  </message>
  <message name="getInternalSubnets"/>
  <message name="getInternalSubnetsResponse">
    <part name="getInternalSubnetsReturn" type="tns:SoftLayer_Network_SubnetArray"/>
  </message>
  <message name="getKeylifeLimits"/>
  <message name="getKeylifeLimitsResponse">
    <part name="getKeylifeLimitsReturn" type="tns:ArrayOfint"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Network_Tunnel_Module_Context"/>
  </message>
  <message name="getParameterConfigurationsForCustomerView"/>
  <message name="getParameterConfigurationsForCustomerViewResponse">
    <part name="getParameterConfigurationsForCustomerViewReturn" type="xsd:string"/>
  </message>
  <message name="getPhaseOneKeylifeDefault"/>
  <message name="getPhaseOneKeylifeDefaultResponse">
    <part name="getPhaseOneKeylifeDefaultReturn" type="xsd:string"/>
  </message>
  <message name="getPhaseTwoKeylifeDefault"/>
  <message name="getPhaseTwoKeylifeDefaultResponse">
    <part name="getPhaseTwoKeylifeDefaultReturn" type="xsd:string"/>
  </message>
  <message name="getServiceSubnets"/>
  <message name="getServiceSubnetsResponse">
    <part name="getServiceSubnetsReturn" type="tns:SoftLayer_Network_SubnetArray"/>
  </message>
  <message name="getStaticRouteSubnets"/>
  <message name="getStaticRouteSubnetsResponse">
    <part name="getStaticRouteSubnetsReturn" type="tns:SoftLayer_Network_SubnetArray"/>
  </message>
  <message name="getTransactionHistory"/>
  <message name="getTransactionHistoryResponse">
    <part name="getTransactionHistoryReturn" type="tns:SoftLayer_Provisioning_Version1_TransactionArray"/>
  </message>
  <message name="removeCustomerSubnetFromNetworkTunnel">
    <part name="subnetId" type="xsd:int"/>
  </message>
  <message name="removeCustomerSubnetFromNetworkTunnelResponse">
    <part name="removeCustomerSubnetFromNetworkTunnelReturn" type="xsd:boolean"/>
  </message>
  <message name="removePrivateSubnetFromNetworkTunnel">
    <part name="subnetId" type="xsd:int"/>
  </message>
  <message name="removePrivateSubnetFromNetworkTunnelResponse">
    <part name="removePrivateSubnetFromNetworkTunnelReturn" type="xsd:boolean"/>
  </message>
  <message name="removeServiceSubnetFromNetworkTunnel">
    <part name="subnetId" type="xsd:int"/>
  </message>
  <message name="removeServiceSubnetFromNetworkTunnelResponse">
    <part name="removeServiceSubnetFromNetworkTunnelReturn" type="xsd:boolean"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Network_Tunnel_Module_ContextObjectMaskHeader">
    <part name="SoftLayer_Network_Tunnel_Module_ContextObjectMask" type="tns:SoftLayer_Network_Tunnel_Module_ContextObjectMask"/>
  </message>
  <message name="SoftLayer_Network_Tunnel_Module_ContextObjectFilterHeader">
    <part name="SoftLayer_Network_Tunnel_Module_ContextObjectFilter" type="tns:SoftLayer_Network_Tunnel_Module_ContextObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Network_Tunnel_Module_ContextPortType">
    <documentation>A SoftLayer network tunnel allows customer to authenticate and encrypt all IP traffic between two locations. 

Manage the entire network tunnel using this service.  The SoftLayer_Network_Tunnel_Module_Context allows customers to manage subnets on both ends of the network tunnel.  Address translations can also be managed.  SoftLayer also provides the ability to apply the network tunnel configurations on the SoftLayer network devices. </documentation>
    <operation name="addCustomerSubnetToNetworkTunnel">
      <documentation>Associates a remote subnet to the network tunnel.  When a remote subnet is associated, a network tunnel will allow the customer (remote) network to communicate with the private and service subnets on the SoftLayer network which are on the other end of this network tunnel. 

NOTE:  A network tunnel's configurations must be applied to the network device in order for the association described above to take effect. </documentation>
      <input message="tns:addCustomerSubnetToNetworkTunnel"/>
      <output message="tns:addCustomerSubnetToNetworkTunnelResponse"/>
    </operation>
    <operation name="addPrivateSubnetToNetworkTunnel">
      <documentation>Associates a private subnet to the network tunnel.  When a private subnet is associated, the network tunnel will allow the customer (remote) network to access the private subnet. 

NOTE:  A network tunnel's configurations must be applied to the network device in order for the association described above to take effect. </documentation>
      <input message="tns:addPrivateSubnetToNetworkTunnel"/>
      <output message="tns:addPrivateSubnetToNetworkTunnelResponse"/>
    </operation>
    <operation name="addServiceSubnetToNetworkTunnel">
      <documentation>Associates a service subnet to the network tunnel.  When a service subnet is associated, a network tunnel will allow the customer (remote) network to communicate with the private and service subnets on the SoftLayer network which are on the other end of this network tunnel.  Service subnets provide access to SoftLayer services such as the customer management portal and the SoftLayer API. 

NOTE:  A network tunnel's configurations must be applied to the network device in order for the association described above to take effect. </documentation>
      <input message="tns:addServiceSubnetToNetworkTunnel"/>
      <output message="tns:addServiceSubnetToNetworkTunnelResponse"/>
    </operation>
    <operation name="applyConfigurationsToDevice">
      <documentation>A transaction will be created to apply the IPSec network tunnel's configuration to SoftLayer network devices.  During this time, an IPSec network tunnel cannot be modified in anyway.  Only one network tunnel configuration transaction can be created.  If a transaction has been created or is running, a new transaction cannot be created until the previous transaction completes. </documentation>
      <input message="tns:applyConfigurationsToDevice"/>
      <output message="tns:applyConfigurationsToDeviceResponse"/>
    </operation>
    <operation name="createAddressTranslation">
      <documentation>Create an address translation for a network tunnel. 

To create an address translation, ip addresses from an assigned /30 static route subnet are used.  Address translations deliver packets to a destination ip address that is on a customer (remote) subnet. 

NOTE:  A network tunnel's configurations must be applied to the network device in order for an address translation to be created. </documentation>
      <input message="tns:createAddressTranslation"/>
      <output message="tns:createAddressTranslationResponse"/>
    </operation>
    <operation name="createAddressTranslations">
      <documentation>This has the same functionality as the SoftLayer_Network_Tunnel_Module_Context::createAddressTranslation.  However, it allows multiple translations to be passed in for creation. 

NOTE:  A network tunnel's configurations must be applied to the network device in order for the address translations to be created. </documentation>
      <input message="tns:createAddressTranslations"/>
      <output message="tns:createAddressTranslationsResponse"/>
    </operation>
    <operation name="deleteAddressTranslation">
      <documentation>Remove an existing address translation from a network tunnel. 

Address translations deliver packets to a destination ip address that is on a customer subnet (remote). 

NOTE:  A network tunnel's configurations must be applied to the network device in order for an address translation to be deleted. </documentation>
      <input message="tns:deleteAddressTranslation"/>
      <output message="tns:deleteAddressTranslationResponse"/>
    </operation>
    <operation name="downloadAddressTranslationConfigurations">
      <documentation>Provides all of the address translation configurations for an IPSec VPN tunnel in a text file </documentation>
      <input message="tns:downloadAddressTranslationConfigurations"/>
      <output message="tns:downloadAddressTranslationConfigurationsResponse"/>
    </operation>
    <operation name="downloadParameterConfigurations">
      <documentation>Provides all of the configurations for an IPSec VPN network tunnel in a text file </documentation>
      <input message="tns:downloadParameterConfigurations"/>
      <output message="tns:downloadParameterConfigurationsResponse"/>
    </operation>
    <operation name="editAddressTranslation">
      <documentation>Edit name, source (SoftLayer IP) ip address and/or destination (Customer IP) ip address for an existing address translation for a network tunnel. 

Address translations deliver packets to a destination ip address that is on a customer (remote) subnet. 

NOTE:  A network tunnel's configurations must be applied to the network device in order for an address translation to be created. </documentation>
      <input message="tns:editAddressTranslation"/>
      <output message="tns:editAddressTranslationResponse"/>
    </operation>
    <operation name="editAddressTranslations">
      <documentation>Edit name, source (SoftLayer IP) ip address and/or destination (Customer IP) ip address for existing address translations for a network tunnel. 

Address translations deliver packets to a destination ip address that is on a customer (remote) subnet. 

NOTE:  A network tunnel's configurations must be applied to the network device in order for an address translation to be modified. </documentation>
      <input message="tns:editAddressTranslations"/>
      <output message="tns:editAddressTranslationsResponse"/>
    </operation>
    <operation name="editObject">
      <documentation>Negotiation parameters for both phases one and two are editable. Here are the phase one and two parameters that can modified: 


*Phase One
**Authentication
***Default value is set to MD5.
***Valid Options are: MD5, SHA1, SHA256.
**Encryption
***Default value is set to 3DES.
***Valid Options are: DES, 3DES, AES128, AES192, AES256.
**Diffie-Hellman Group
***Default value is set to 2.
***Valid Options are: 0 (None), 1, 2, 5.
**Keylife
***Default value is set to 3600.
***Limits are:  MIN = 120, MAX = 172800
**Preshared Key
*Phase Two
**Authentication
***Default value is set to MD5.
***Valid Options are: MD5, SHA1, SHA256.
**Encryption
***Default value is set to 3DES.
***Valid Options are: DES, 3DES, AES128, AES192, AES256.
**Diffie-Hellman Group
***Default value is set to 2.
***Valid Options are: 0 (None), 1, 2, 5.
**Keylife
***Default value is set to 28800.
***Limits are:  MIN = 120, MAX = 172800
**Perfect Forward Secrecy
***Valid Options are: Off = 0, On = 1.
***NOTE:  If perfect forward secrecy is turned On (set to 1), then a phase 2 diffie-hellman group is required.


The remote peer address for the network tunnel may also be modified if needed.  Invalid options will not be accepted and will cause an exception to be thrown.  There are properties that provide valid options and limits for each negotiation parameter.  Those properties are as follows: 
* encryptionDefault
* encryptionOptions
* authenticationDefault
* authenticationOptions
* diffieHellmanGroupDefault
* diffieHellmanGroupOptions
* phaseOneKeylifeDefault
* phaseTwoKeylifeDefault
* keylifeLimits


Configurations cannot be modified if a network tunnel's requires complex manual setups/configuration modifications by the SoftLayer Network department.  If the former is required, the configurations for the network tunnel will be locked until the manual configurations are complete. A network tunnel's configurations are applied via a transaction.  If a network tunnel configuration change transaction is currently running, the network tunnel's setting cannot be modified until the running transaction completes. 

NOTE:  A network tunnel's configurations must be applied to the network device in order for the modifications made to take effect. </documentation>
      <input message="tns:editObject"/>
      <output message="tns:editObjectResponse"/>
    </operation>
    <operation name="getAccount">
      <documentation>Retrieve the account that a network tunnel belongs to.</documentation>
      <input message="tns:getAccount"/>
      <output message="tns:getAccountResponse"/>
    </operation>
    <operation name="getActiveTransaction">
      <documentation>Retrieve the transaction that is currently applying configurations for the network tunnel.</documentation>
      <input message="tns:getActiveTransaction"/>
      <output message="tns:getActiveTransactionResponse"/>
    </operation>
    <operation name="getAddressTranslationConfigurations">
      <documentation>The address translations will be returned.  All the translations will be formatted so that the configurations can be copied into a host file. 

Format: 

{address translation SoftLayer IP Address}        {address translation name} </documentation>
      <input message="tns:getAddressTranslationConfigurations"/>
      <output message="tns:getAddressTranslationConfigurationsResponse"/>
    </operation>
    <operation name="getAddressTranslations">
      <documentation>Retrieve a network tunnel's address translations.</documentation>
      <input message="tns:getAddressTranslations"/>
      <output message="tns:getAddressTranslationsResponse"/>
    </operation>
    <operation name="getAllAvailableServiceSubnets">
      <documentation>Retrieve subnets that provide access to SoftLayer services such as the management portal and the SoftLayer API.</documentation>
      <input message="tns:getAllAvailableServiceSubnets"/>
      <output message="tns:getAllAvailableServiceSubnetsResponse"/>
    </operation>
    <operation name="getAuthenticationDefault">
      <documentation>The default authentication type used for both phases of the negotiation process.  The default value is set to MD5. </documentation>
      <input message="tns:getAuthenticationDefault"/>
      <output message="tns:getAuthenticationDefaultResponse"/>
    </operation>
    <operation name="getAuthenticationOptions">
      <documentation>Authentication options available for both phases of the negotiation process. 

The authentication options are as follows: 
* MD5
* SHA1
* SHA256</documentation>
      <input message="tns:getAuthenticationOptions"/>
      <output message="tns:getAuthenticationOptionsResponse"/>
    </operation>
    <operation name="getBillingItem">
      <documentation>Retrieve the current billing item for network tunnel.</documentation>
      <input message="tns:getBillingItem"/>
      <output message="tns:getBillingItemResponse"/>
    </operation>
    <operation name="getCustomerSubnets">
      <documentation>Retrieve remote subnets that are allowed access through a network tunnel.</documentation>
      <input message="tns:getCustomerSubnets"/>
      <output message="tns:getCustomerSubnetsResponse"/>
    </operation>
    <operation name="getDatacenter">
      <documentation>Retrieve the datacenter location for one end of the network tunnel that allows access to account's private subnets.</documentation>
      <input message="tns:getDatacenter"/>
      <output message="tns:getDatacenterResponse"/>
    </operation>
    <operation name="getDiffieHellmanGroupDefault">
      <documentation>The default Diffie-Hellman group used for both phases of the negotiation process.  The default value is set to 2. </documentation>
      <input message="tns:getDiffieHellmanGroupDefault"/>
      <output message="tns:getDiffieHellmanGroupDefaultResponse"/>
    </operation>
    <operation name="getDiffieHellmanGroupOptions">
      <documentation>The Diffie-Hellman group options used for both phases of the negotiation process. 

The diffie-hellman group options are as follows: 
* 0 (None)
* 1
* 2
* 5</documentation>
      <input message="tns:getDiffieHellmanGroupOptions"/>
      <output message="tns:getDiffieHellmanGroupOptionsResponse"/>
    </operation>
    <operation name="getEncryptionDefault">
      <documentation>The default encryption type used for both phases of the negotiation process.  The default value is set to 3DES. </documentation>
      <input message="tns:getEncryptionDefault"/>
      <output message="tns:getEncryptionDefaultResponse"/>
    </operation>
    <operation name="getEncryptionOptions">
      <documentation>Encryption options available for both phases of the negotiation process. 

The valid encryption options are as follows: 
* DES
* 3DES
* AES128
* AES192
* AES256</documentation>
      <input message="tns:getEncryptionOptions"/>
      <output message="tns:getEncryptionOptionsResponse"/>
    </operation>
    <operation name="getInternalSubnets">
      <documentation>Retrieve private subnets that can be accessed through the network tunnel.</documentation>
      <input message="tns:getInternalSubnets"/>
      <output message="tns:getInternalSubnetsResponse"/>
    </operation>
    <operation name="getKeylifeLimits">
      <documentation>The keylife limits.  Keylife max limit is set to 120.  Keylife min limit is set to 172800.</documentation>
      <input message="tns:getKeylifeLimits"/>
      <output message="tns:getKeylifeLimitsResponse"/>
    </operation>
    <operation name="getObject">
      <documentation>getObject retrieves the SoftLayer_Network_Tunnel_Module_Context object whose ID number corresponds to the ID number of the init parameter passed to the SoftLayer_Network_Tunnel_Module_Context service. The IPSec network tunnel will be returned if it is associated with the account and the user has proper permission to manage network tunnels. </documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
    <operation name="getParameterConfigurationsForCustomerView">
      <documentation>All of the IPSec VPN tunnel's configurations will be returned.  It will list all of phase one and two negotiation parameters.  Both remote and local subnets will be provided as well.  This is useful when the configurations need to be passed on to another team and/or company for internal network configuration. </documentation>
      <input message="tns:getParameterConfigurationsForCustomerView"/>
      <output message="tns:getParameterConfigurationsForCustomerViewResponse"/>
    </operation>
    <operation name="getPhaseOneKeylifeDefault">
      <documentation>The default phase 1 keylife used if a value is not provided.  The default value is set to 3600. </documentation>
      <input message="tns:getPhaseOneKeylifeDefault"/>
      <output message="tns:getPhaseOneKeylifeDefaultResponse"/>
    </operation>
    <operation name="getPhaseTwoKeylifeDefault">
      <documentation>The default phase 2 keylife used if a value is not provided.  The default value is set to 28800. </documentation>
      <input message="tns:getPhaseTwoKeylifeDefault"/>
      <output message="tns:getPhaseTwoKeylifeDefaultResponse"/>
    </operation>
    <operation name="getServiceSubnets">
      <documentation>Retrieve service subnets that can be access through the network tunnel.</documentation>
      <input message="tns:getServiceSubnets"/>
      <output message="tns:getServiceSubnetsResponse"/>
    </operation>
    <operation name="getStaticRouteSubnets">
      <documentation>Retrieve subnets used for a network tunnel's address translations.</documentation>
      <input message="tns:getStaticRouteSubnets"/>
      <output message="tns:getStaticRouteSubnetsResponse"/>
    </operation>
    <operation name="getTransactionHistory">
      <documentation>Retrieve the transaction history for this network tunnel.</documentation>
      <input message="tns:getTransactionHistory"/>
      <output message="tns:getTransactionHistoryResponse"/>
    </operation>
    <operation name="removeCustomerSubnetFromNetworkTunnel">
      <documentation>Disassociate a customer subnet (remote) from a network tunnel.  When a remote subnet is disassociated, that subnet will not able to communicate with private and service subnets on the SoftLayer network. 

NOTE:  A network tunnel's configurations must be applied to the network device in order for the disassociation described above to take effect. </documentation>
      <input message="tns:removeCustomerSubnetFromNetworkTunnel"/>
      <output message="tns:removeCustomerSubnetFromNetworkTunnelResponse"/>
    </operation>
    <operation name="removePrivateSubnetFromNetworkTunnel">
      <documentation>Disassociate a private subnet from a network tunnel.  When a private subnet is disassociated, the customer (remote) subnet on the other end of the tunnel will not able to communicate with the private subnet that was just disassociated. 

NOTE:  A network tunnel's configurations must be applied to the network device in order for the disassociation described above to take effect. </documentation>
      <input message="tns:removePrivateSubnetFromNetworkTunnel"/>
      <output message="tns:removePrivateSubnetFromNetworkTunnelResponse"/>
    </operation>
    <operation name="removeServiceSubnetFromNetworkTunnel">
      <documentation>Disassociate a service subnet from a network tunnel.  When a service subnet is disassociated, that customer (remote) subnet on the other end of the network tunnel will not able to communicate with that service subnet on the SoftLayer network. 

NOTE:  A network tunnel's configurations must be applied to the network device in order for the disassociation described above to take effect. </documentation>
      <input message="tns:removeServiceSubnetFromNetworkTunnel"/>
      <output message="tns:removeServiceSubnetFromNetworkTunnelResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Network_Tunnel_Module_ContextBinding" type="tns:SoftLayer_Network_Tunnel_Module_ContextPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="addCustomerSubnetToNetworkTunnel">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextInitParametersHeader" part="SoftLayer_Network_Tunnel_Module_ContextInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="addPrivateSubnetToNetworkTunnel">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextInitParametersHeader" part="SoftLayer_Network_Tunnel_Module_ContextInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="addServiceSubnetToNetworkTunnel">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextInitParametersHeader" part="SoftLayer_Network_Tunnel_Module_ContextInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="applyConfigurationsToDevice">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextInitParametersHeader" part="SoftLayer_Network_Tunnel_Module_ContextInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="createAddressTranslation">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextInitParametersHeader" part="SoftLayer_Network_Tunnel_Module_ContextInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextObjectMaskHeader" part="SoftLayer_Network_Tunnel_Module_ContextObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="createAddressTranslations">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextInitParametersHeader" part="SoftLayer_Network_Tunnel_Module_ContextInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextObjectMaskHeader" part="SoftLayer_Network_Tunnel_Module_ContextObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="deleteAddressTranslation">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextInitParametersHeader" part="SoftLayer_Network_Tunnel_Module_ContextInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="downloadAddressTranslationConfigurations">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextInitParametersHeader" part="SoftLayer_Network_Tunnel_Module_ContextInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="downloadParameterConfigurations">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextInitParametersHeader" part="SoftLayer_Network_Tunnel_Module_ContextInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="editAddressTranslation">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextInitParametersHeader" part="SoftLayer_Network_Tunnel_Module_ContextInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextObjectMaskHeader" part="SoftLayer_Network_Tunnel_Module_ContextObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="editAddressTranslations">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextInitParametersHeader" part="SoftLayer_Network_Tunnel_Module_ContextInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextObjectMaskHeader" part="SoftLayer_Network_Tunnel_Module_ContextObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="editObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextInitParametersHeader" part="SoftLayer_Network_Tunnel_Module_ContextInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getAccount">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextObjectMaskHeader" part="SoftLayer_Network_Tunnel_Module_ContextObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextObjectFilterHeader" part="SoftLayer_Network_Tunnel_Module_ContextObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextInitParametersHeader" part="SoftLayer_Network_Tunnel_Module_ContextInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getActiveTransaction">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextObjectMaskHeader" part="SoftLayer_Network_Tunnel_Module_ContextObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextObjectFilterHeader" part="SoftLayer_Network_Tunnel_Module_ContextObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextInitParametersHeader" part="SoftLayer_Network_Tunnel_Module_ContextInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getAddressTranslationConfigurations">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextInitParametersHeader" part="SoftLayer_Network_Tunnel_Module_ContextInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getAddressTranslations">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextObjectMaskHeader" part="SoftLayer_Network_Tunnel_Module_ContextObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextObjectFilterHeader" part="SoftLayer_Network_Tunnel_Module_ContextObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextInitParametersHeader" part="SoftLayer_Network_Tunnel_Module_ContextInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getAllAvailableServiceSubnets">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextObjectMaskHeader" part="SoftLayer_Network_Tunnel_Module_ContextObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextObjectFilterHeader" part="SoftLayer_Network_Tunnel_Module_ContextObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextInitParametersHeader" part="SoftLayer_Network_Tunnel_Module_ContextInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getAuthenticationDefault">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getAuthenticationOptions">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getBillingItem">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextObjectMaskHeader" part="SoftLayer_Network_Tunnel_Module_ContextObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextObjectFilterHeader" part="SoftLayer_Network_Tunnel_Module_ContextObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextInitParametersHeader" part="SoftLayer_Network_Tunnel_Module_ContextInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getCustomerSubnets">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextObjectMaskHeader" part="SoftLayer_Network_Tunnel_Module_ContextObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextObjectFilterHeader" part="SoftLayer_Network_Tunnel_Module_ContextObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextInitParametersHeader" part="SoftLayer_Network_Tunnel_Module_ContextInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getDatacenter">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextObjectMaskHeader" part="SoftLayer_Network_Tunnel_Module_ContextObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextObjectFilterHeader" part="SoftLayer_Network_Tunnel_Module_ContextObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextInitParametersHeader" part="SoftLayer_Network_Tunnel_Module_ContextInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getDiffieHellmanGroupDefault">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getDiffieHellmanGroupOptions">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getEncryptionDefault">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getEncryptionOptions">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getInternalSubnets">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextObjectMaskHeader" part="SoftLayer_Network_Tunnel_Module_ContextObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextObjectFilterHeader" part="SoftLayer_Network_Tunnel_Module_ContextObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextInitParametersHeader" part="SoftLayer_Network_Tunnel_Module_ContextInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getKeylifeLimits">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextObjectMaskHeader" part="SoftLayer_Network_Tunnel_Module_ContextObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextObjectFilterHeader" part="SoftLayer_Network_Tunnel_Module_ContextObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextInitParametersHeader" part="SoftLayer_Network_Tunnel_Module_ContextInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getParameterConfigurationsForCustomerView">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextInitParametersHeader" part="SoftLayer_Network_Tunnel_Module_ContextInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getPhaseOneKeylifeDefault">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getPhaseTwoKeylifeDefault">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getServiceSubnets">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextObjectMaskHeader" part="SoftLayer_Network_Tunnel_Module_ContextObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextObjectFilterHeader" part="SoftLayer_Network_Tunnel_Module_ContextObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextInitParametersHeader" part="SoftLayer_Network_Tunnel_Module_ContextInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getStaticRouteSubnets">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextObjectMaskHeader" part="SoftLayer_Network_Tunnel_Module_ContextObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextObjectFilterHeader" part="SoftLayer_Network_Tunnel_Module_ContextObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextInitParametersHeader" part="SoftLayer_Network_Tunnel_Module_ContextInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getTransactionHistory">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextObjectMaskHeader" part="SoftLayer_Network_Tunnel_Module_ContextObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextObjectFilterHeader" part="SoftLayer_Network_Tunnel_Module_ContextObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextInitParametersHeader" part="SoftLayer_Network_Tunnel_Module_ContextInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="removeCustomerSubnetFromNetworkTunnel">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextInitParametersHeader" part="SoftLayer_Network_Tunnel_Module_ContextInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="removePrivateSubnetFromNetworkTunnel">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextInitParametersHeader" part="SoftLayer_Network_Tunnel_Module_ContextInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="removeServiceSubnetFromNetworkTunnel">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_ContextAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Tunnel_Module_ContextInitParametersHeader" part="SoftLayer_Network_Tunnel_Module_ContextInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Network_Tunnel_Module_ContextService">
    <port name="SoftLayer_Network_Tunnel_Module_ContextPort" binding="tns:SoftLayer_Network_Tunnel_Module_ContextBinding">
      <soap:address location="https://api.softlayer.com/soap/v3/SoftLayer_Network_Tunnel_Module_Context"/>
    </port>
  </service>
</definitions>
