data/Network_Firewall_AccessControlList.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3/" schemaLocation="https://api.softlayer.com/soap/v3/SoftLayer_Network_Firewall_AccessControlList?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:complexType name="SoftLayer_Network_Firewall_AccessControlListInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Network_Firewall_AccessControlListObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Network_Firewall_AccessControlList"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Network_Firewall_AccessControlListInitParametersHeader">
    <part name="SoftLayer_Network_Firewall_AccessControlListInitParameters" type="tns:SoftLayer_Network_Firewall_AccessControlListInitParameters"/>
  </message>
  <message name="getNetworkFirewallUpdateRequests"/>
  <message name="getNetworkFirewallUpdateRequestsResponse">
    <part name="getNetworkFirewallUpdateRequestsReturn" type="tns:SoftLayer_Network_Firewall_Update_RequestArray"/>
  </message>
  <message name="getNetworkVlan"/>
  <message name="getNetworkVlanResponse">
    <part name="getNetworkVlanReturn" type="tns:SoftLayer_Network_Vlan"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Network_Firewall_AccessControlList"/>
  </message>
  <message name="getRules"/>
  <message name="getRulesResponse">
    <part name="getRulesReturn" type="tns:SoftLayer_Network_Vlan_Firewall_RuleArray"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Network_Firewall_AccessControlListObjectMaskHeader">
    <part name="SoftLayer_Network_Firewall_AccessControlListObjectMask" type="tns:SoftLayer_Network_Firewall_AccessControlListObjectMask"/>
  </message>
  <message name="SoftLayer_Network_Firewall_AccessControlListObjectFilterHeader">
    <part name="SoftLayer_Network_Firewall_AccessControlListObjectFilter" type="tns:SoftLayer_Network_Firewall_AccessControlListObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Network_Firewall_AccessControlListPortType">
    <documentation>The SoftLayer_Network_Firewall_AccessControlList service accesses general information relating to a single SoftLayer firewall access control list.  This is the object which ties the running rules to a specific context. The current running rule set can be pulled from this service. Use the [[SoftLayer Network Firewall Template]] service to pull SoftLayer recommended rule set templates. Use the [[SoftLayer Network Firewall Update Request]] service to submit a firewall update request. </documentation>
    <operation name="getNetworkFirewallUpdateRequests">
      <documentation>Retrieve the update requests made for this firewall.</documentation>
      <input message="tns:getNetworkFirewallUpdateRequests"/>
      <output message="tns:getNetworkFirewallUpdateRequestsResponse"/>
    </operation>
    <operation name="getNetworkVlan">
      <documentation></documentation>
      <input message="tns:getNetworkVlan"/>
      <output message="tns:getNetworkVlanResponse"/>
    </operation>
    <operation name="getObject">
      <documentation>getObject returns a SoftLayer_Network_Firewall_AccessControlList object. You can only get objects for servers attached to your account that have a network firewall enabled. </documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
    <operation name="getRules">
      <documentation>Retrieve the currently running rule set of this context access control list firewall.</documentation>
      <input message="tns:getRules"/>
      <output message="tns:getRulesResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Network_Firewall_AccessControlListBinding" type="tns:SoftLayer_Network_Firewall_AccessControlListPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getNetworkFirewallUpdateRequests">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Firewall_AccessControlListAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_Firewall_AccessControlListObjectMaskHeader" part="SoftLayer_Network_Firewall_AccessControlListObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Firewall_AccessControlListObjectFilterHeader" part="SoftLayer_Network_Firewall_AccessControlListObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Firewall_AccessControlListInitParametersHeader" part="SoftLayer_Network_Firewall_AccessControlListInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getNetworkVlan">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Firewall_AccessControlListAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_Firewall_AccessControlListObjectMaskHeader" part="SoftLayer_Network_Firewall_AccessControlListObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Firewall_AccessControlListObjectFilterHeader" part="SoftLayer_Network_Firewall_AccessControlListObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Firewall_AccessControlListInitParametersHeader" part="SoftLayer_Network_Firewall_AccessControlListInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Firewall_AccessControlListAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_Firewall_AccessControlListObjectMaskHeader" part="SoftLayer_Network_Firewall_AccessControlListObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Firewall_AccessControlListObjectFilterHeader" part="SoftLayer_Network_Firewall_AccessControlListObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Firewall_AccessControlListInitParametersHeader" part="SoftLayer_Network_Firewall_AccessControlListInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getRules">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Network_Firewall_AccessControlListAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Network_Firewall_AccessControlListObjectMaskHeader" part="SoftLayer_Network_Firewall_AccessControlListObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Firewall_AccessControlListObjectFilterHeader" part="SoftLayer_Network_Firewall_AccessControlListObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Network_Firewall_AccessControlListInitParametersHeader" part="SoftLayer_Network_Firewall_AccessControlListInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Network_Firewall_AccessControlListService">
    <port name="SoftLayer_Network_Firewall_AccessControlListPort" binding="tns:SoftLayer_Network_Firewall_AccessControlListBinding">
      <soap:address location="https://api.softlayer.com/soap/v3/SoftLayer_Network_Firewall_AccessControlList"/>
    </port>
  </service>
</definitions>
