data/Notification_User_Subscriber_Mobile.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3/" schemaLocation="https://api.softlayer.com/soap/v3/SoftLayer_Notification_User_Subscriber_Mobile?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:complexType name="SoftLayer_Notification_User_Subscriber_MobileInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Notification_User_Subscriber_MobileObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Notification_User_Subscriber_Mobile"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Notification_User_Subscriber_MobileInitParametersHeader">
    <part name="SoftLayer_Notification_User_Subscriber_MobileInitParameters" type="tns:SoftLayer_Notification_User_Subscriber_MobileInitParameters"/>
  </message>
  <message name="clearSnoozeTimer"/>
  <message name="clearSnoozeTimerResponse">
    <part name="clearSnoozeTimerReturn" type="xsd:boolean"/>
  </message>
  <message name="createObject">
    <part name="templateObject" type="tns:SoftLayer_Notification_User_Subscriber_Mobile"/>
  </message>
  <message name="createObjectResponse">
    <part name="createObjectReturn" type="xsd:boolean"/>
  </message>
  <message name="editObject">
    <part name="templateObject" type="tns:SoftLayer_Notification_User_Subscriber_Mobile"/>
  </message>
  <message name="editObjectResponse">
    <part name="editObjectReturn" type="xsd:boolean"/>
  </message>
  <message name="getDeliveryMethods"/>
  <message name="getDeliveryMethodsResponse">
    <part name="getDeliveryMethodsReturn" type="tns:SoftLayer_Notification_Delivery_MethodArray"/>
  </message>
  <message name="getNotification"/>
  <message name="getNotificationResponse">
    <part name="getNotificationReturn" type="tns:SoftLayer_Notification"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Notification_User_Subscriber_Mobile"/>
  </message>
  <message name="getPreferences"/>
  <message name="getPreferencesResponse">
    <part name="getPreferencesReturn" type="tns:SoftLayer_Notification_User_Subscriber_PreferenceArray"/>
  </message>
  <message name="getPreferencesDetails"/>
  <message name="getPreferencesDetailsResponse">
    <part name="getPreferencesDetailsReturn" type="tns:SoftLayer_Notification_PreferenceArray"/>
  </message>
  <message name="getResourceRecord"/>
  <message name="getResourceRecordResponse">
    <part name="getResourceRecordReturn" type="tns:SoftLayer_Notification_User_Subscriber_Resource"/>
  </message>
  <message name="getUserRecord"/>
  <message name="getUserRecordResponse">
    <part name="getUserRecordReturn" type="tns:SoftLayer_User_Customer"/>
  </message>
  <message name="setSnoozeTimer">
    <part name="start" type="xsd:int"/>
    <part name="end" type="xsd:int"/>
  </message>
  <message name="setSnoozeTimerResponse">
    <part name="setSnoozeTimerReturn" type="xsd:boolean"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Notification_User_Subscriber_MobileObjectMaskHeader">
    <part name="SoftLayer_Notification_User_Subscriber_MobileObjectMask" type="tns:SoftLayer_Notification_User_Subscriber_MobileObjectMask"/>
  </message>
  <message name="SoftLayer_Notification_User_Subscriber_MobileObjectFilterHeader">
    <part name="SoftLayer_Notification_User_Subscriber_MobileObjectFilter" type="tns:SoftLayer_Notification_User_Subscriber_MobileObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Notification_User_Subscriber_MobilePortType">
    <documentation>SoftLayer Customers can subscribe to receive notifications for various notification types.  This service also allows you to &amp;quot;turn on&amp;quot; or &amp;quot;turn off&amp;quot; notification messages sent to a subscriber for certain notifications. </documentation>
    <operation name="clearSnoozeTimer">
      <documentation></documentation>
      <input message="tns:clearSnoozeTimer"/>
      <output message="tns:clearSnoozeTimerResponse"/>
    </operation>
    <operation name="createObject">
      <documentation>Use the method to create a new subscription for a notification.  This method is the entry method to the notification system. Certain properties are required to create a subscription while others are optional. 

The required property is the resourceRecord property which is type SoftLayer_Notification_User_Subscriber_Resource.  For the resourceRecord property, the only property that needs to be populated is the resourceTableId.  The resourceTableId is the unique identifier of a SoftLayer service to create the subscription for.  For example, the unique identifier of the Storage Evault service to create the subscription on. 

Optional properties that can be set is the preferences property.  The preference property is an array SoftLayer_Notification_User_Subscriber_Preference. By default, the system will populate the preferences with the default values if no preferences are passed in.  The preferences passed in must be the preferences related to the notification subscribing to.  The notification preferences and preference details (such as minimum and maximum values) can be retrieved using the SoftLayer_Notification service.  The properties that need to be populated for preferences are the notificationPreferenceId and value. 

For example to create a subscriber for a Storage EVault service to be notified 15 times during a billing cycle and to be notified when the vault usage reaches 85% of its allowed capacity use the following structure: 


*userRecordId = 1111
*notificationId = 3
*resourceRecord
**resourceTableId = 1234
*preferences[1]
**notificationPreferenceId = 2
**value = 85
*preference[2]
**notificationPreferenceId = 3
**value = 15

</documentation>
      <input message="tns:createObject"/>
      <output message="tns:createObjectResponse"/>
    </operation>
    <operation name="editObject">
      <documentation>The subscriber's subscription status can be &amp;quot;turned off&amp;quot; or &amp;quot;turned on&amp;quot; if the subscription is not required. 

Subscriber preferences may also be edited.  To edit the preferences, you must pass in the id off the preferences to edit.  Here is an example of structure to pass in.  In this example, the structure will set the subscriber status to active and the threshold preference to 90 and the limit preference to 20 


*id = 1111
*active = 1
*preferences[1]
**id = 11
**value = 90
*preference[2]
**id = 12
**value = 20</documentation>
      <input message="tns:editObject"/>
      <output message="tns:editObjectResponse"/>
    </operation>
    <operation name="getDeliveryMethods">
      <documentation>Retrieve the delivery methods used to send the subscribed notification.</documentation>
      <input message="tns:getDeliveryMethods"/>
      <output message="tns:getDeliveryMethodsResponse"/>
    </operation>
    <operation name="getNotification">
      <documentation>Retrieve notification subscribed to.</documentation>
      <input message="tns:getNotification"/>
      <output message="tns:getNotificationResponse"/>
    </operation>
    <operation name="getObject">
      <documentation></documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
    <operation name="getPreferences">
      <documentation>Retrieve associated subscriber preferences used for the notification subscription. For example, preferences include number of deliveries (limit) and threshold.</documentation>
      <input message="tns:getPreferences"/>
      <output message="tns:getPreferencesResponse"/>
    </operation>
    <operation name="getPreferencesDetails">
      <documentation>Retrieve preference details such as description, minimum and maximum limits, default value and unit of measure.</documentation>
      <input message="tns:getPreferencesDetails"/>
      <output message="tns:getPreferencesDetailsResponse"/>
    </operation>
    <operation name="getResourceRecord">
      <documentation>Retrieve the subscriber id to resource id mapping.</documentation>
      <input message="tns:getResourceRecord"/>
      <output message="tns:getResourceRecordResponse"/>
    </operation>
    <operation name="getUserRecord">
      <documentation>Retrieve user record for the subscription.</documentation>
      <input message="tns:getUserRecord"/>
      <output message="tns:getUserRecordResponse"/>
    </operation>
    <operation name="setSnoozeTimer">
      <documentation></documentation>
      <input message="tns:setSnoozeTimer"/>
      <output message="tns:setSnoozeTimerResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Notification_User_Subscriber_MobileBinding" type="tns:SoftLayer_Notification_User_Subscriber_MobilePortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="clearSnoozeTimer">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Notification_User_Subscriber_MobileAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_User_Subscriber_MobileInitParametersHeader" part="SoftLayer_Notification_User_Subscriber_MobileInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="createObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Notification_User_Subscriber_MobileAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="editObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Notification_User_Subscriber_MobileAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_User_Subscriber_MobileInitParametersHeader" part="SoftLayer_Notification_User_Subscriber_MobileInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getDeliveryMethods">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Notification_User_Subscriber_MobileAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Notification_User_Subscriber_MobileObjectMaskHeader" part="SoftLayer_Notification_User_Subscriber_MobileObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_User_Subscriber_MobileObjectFilterHeader" part="SoftLayer_Notification_User_Subscriber_MobileObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_User_Subscriber_MobileInitParametersHeader" part="SoftLayer_Notification_User_Subscriber_MobileInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getNotification">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Notification_User_Subscriber_MobileAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Notification_User_Subscriber_MobileObjectMaskHeader" part="SoftLayer_Notification_User_Subscriber_MobileObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_User_Subscriber_MobileObjectFilterHeader" part="SoftLayer_Notification_User_Subscriber_MobileObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_User_Subscriber_MobileInitParametersHeader" part="SoftLayer_Notification_User_Subscriber_MobileInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Notification_User_Subscriber_MobileAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Notification_User_Subscriber_MobileObjectMaskHeader" part="SoftLayer_Notification_User_Subscriber_MobileObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_User_Subscriber_MobileObjectFilterHeader" part="SoftLayer_Notification_User_Subscriber_MobileObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_User_Subscriber_MobileInitParametersHeader" part="SoftLayer_Notification_User_Subscriber_MobileInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getPreferences">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Notification_User_Subscriber_MobileAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Notification_User_Subscriber_MobileObjectMaskHeader" part="SoftLayer_Notification_User_Subscriber_MobileObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_User_Subscriber_MobileObjectFilterHeader" part="SoftLayer_Notification_User_Subscriber_MobileObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_User_Subscriber_MobileInitParametersHeader" part="SoftLayer_Notification_User_Subscriber_MobileInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getPreferencesDetails">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Notification_User_Subscriber_MobileAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Notification_User_Subscriber_MobileObjectMaskHeader" part="SoftLayer_Notification_User_Subscriber_MobileObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_User_Subscriber_MobileObjectFilterHeader" part="SoftLayer_Notification_User_Subscriber_MobileObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_User_Subscriber_MobileInitParametersHeader" part="SoftLayer_Notification_User_Subscriber_MobileInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getResourceRecord">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Notification_User_Subscriber_MobileAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Notification_User_Subscriber_MobileObjectMaskHeader" part="SoftLayer_Notification_User_Subscriber_MobileObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_User_Subscriber_MobileObjectFilterHeader" part="SoftLayer_Notification_User_Subscriber_MobileObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_User_Subscriber_MobileInitParametersHeader" part="SoftLayer_Notification_User_Subscriber_MobileInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getUserRecord">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Notification_User_Subscriber_MobileAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Notification_User_Subscriber_MobileObjectMaskHeader" part="SoftLayer_Notification_User_Subscriber_MobileObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_User_Subscriber_MobileObjectFilterHeader" part="SoftLayer_Notification_User_Subscriber_MobileObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_User_Subscriber_MobileInitParametersHeader" part="SoftLayer_Notification_User_Subscriber_MobileInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="setSnoozeTimer">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Notification_User_Subscriber_MobileAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_User_Subscriber_MobileInitParametersHeader" part="SoftLayer_Notification_User_Subscriber_MobileInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Notification_User_Subscriber_MobileService">
    <port name="SoftLayer_Notification_User_Subscriber_MobilePort" binding="tns:SoftLayer_Notification_User_Subscriber_MobileBinding">
      <soap:address location="https://api.softlayer.com/soap/v3/SoftLayer_Notification_User_Subscriber_Mobile"/>
    </port>
  </service>
</definitions>
