data/Notification_Occurrence_Event.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3.1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3.1/" schemaLocation="https://api.softlayer.com/soap/v3.1/SoftLayer_Notification_Occurrence_Event?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:complexType name="SoftLayer_Notification_Occurrence_EventInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Notification_Occurrence_EventObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Notification_Occurrence_Event"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Notification_Occurrence_EventInitParametersHeader">
    <part name="SoftLayer_Notification_Occurrence_EventInitParameters" type="tns:SoftLayer_Notification_Occurrence_EventInitParameters"/>
  </message>
  <message name="acknowledgeNotification"/>
  <message name="acknowledgeNotificationResponse">
    <part name="acknowledgeNotificationReturn" type="xsd:boolean"/>
  </message>
  <message name="getAllObjects"/>
  <message name="getAllObjectsResponse">
    <part name="getAllObjectsReturn" type="tns:SoftLayer_Notification_Occurrence_EventArray"/>
  </message>
  <message name="getAttachedFile">
    <part name="attachmentId" type="xsd:int"/>
  </message>
  <message name="getAttachedFileResponse">
    <part name="getAttachedFileReturn" type="xsd:base64Binary"/>
  </message>
  <message name="getAttachments"/>
  <message name="getAttachmentsResponse">
    <part name="getAttachmentsReturn" type="tns:SoftLayer_Notification_Occurrence_Event_AttachmentArray"/>
  </message>
  <message name="getFirstUpdate"/>
  <message name="getFirstUpdateResponse">
    <part name="getFirstUpdateReturn" type="tns:SoftLayer_Notification_Occurrence_Update"/>
  </message>
  <message name="getImpactedAccountCount"/>
  <message name="getImpactedAccountCountResponse">
    <part name="getImpactedAccountCountReturn" type="xsd:int"/>
  </message>
  <message name="getImpactedAccounts"/>
  <message name="getImpactedAccountsResponse">
    <part name="getImpactedAccountsReturn" type="tns:SoftLayer_Notification_Occurrence_AccountArray"/>
  </message>
  <message name="getImpactedDeviceCount"/>
  <message name="getImpactedDeviceCountResponse">
    <part name="getImpactedDeviceCountReturn" type="xsd:int"/>
  </message>
  <message name="getImpactedDevices"/>
  <message name="getImpactedDevicesResponse">
    <part name="getImpactedDevicesReturn" type="tns:SoftLayer_Notification_Occurrence_ResourceArray"/>
  </message>
  <message name="getImpactedResources"/>
  <message name="getImpactedResourcesResponse">
    <part name="getImpactedResourcesReturn" type="tns:SoftLayer_Notification_Occurrence_ResourceArray"/>
  </message>
  <message name="getImpactedUsers"/>
  <message name="getImpactedUsersResponse">
    <part name="getImpactedUsersReturn" type="tns:SoftLayer_Notification_Occurrence_UserArray"/>
  </message>
  <message name="getLastUpdate"/>
  <message name="getLastUpdateResponse">
    <part name="getLastUpdateReturn" type="tns:SoftLayer_Notification_Occurrence_Update"/>
  </message>
  <message name="getNotificationOccurrenceEventType"/>
  <message name="getNotificationOccurrenceEventTypeResponse">
    <part name="getNotificationOccurrenceEventTypeReturn" type="tns:SoftLayer_Notification_Occurrence_Event_Type"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Notification_Occurrence_Event"/>
  </message>
  <message name="getStatusCode"/>
  <message name="getStatusCodeResponse">
    <part name="getStatusCodeReturn" type="tns:SoftLayer_Notification_Occurrence_Status_Code"/>
  </message>
  <message name="getUpdates"/>
  <message name="getUpdatesResponse">
    <part name="getUpdatesReturn" type="tns:SoftLayer_Notification_Occurrence_UpdateArray"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Notification_Occurrence_EventObjectMaskHeader">
    <part name="SoftLayer_Notification_Occurrence_EventObjectMask" type="tns:SoftLayer_Notification_Occurrence_EventObjectMask"/>
  </message>
  <message name="SoftLayer_Notification_Occurrence_EventObjectFilterHeader">
    <part name="SoftLayer_Notification_Occurrence_EventObjectFilter" type="tns:SoftLayer_Notification_Occurrence_EventObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Notification_Occurrence_EventPortType">
    <documentation>The SoftLayer_Notification_Occurrence_Event service represents all events with potential to cause a disruption in service. </documentation>
    <operation name="acknowledgeNotification">
      <documentation>&amp;lt;&amp;lt;&amp;lt;&amp;lt; EOT</documentation>
      <input message="tns:acknowledgeNotification"/>
      <output message="tns:acknowledgeNotificationResponse"/>
    </operation>
    <operation name="getAllObjects">
      <documentation></documentation>
      <input message="tns:getAllObjects"/>
      <output message="tns:getAllObjectsResponse"/>
    </operation>
    <operation name="getAttachedFile">
      <documentation>Retrieve the contents of the file attached to a SoftLayer event by it's given identifier. </documentation>
      <input message="tns:getAttachedFile"/>
      <output message="tns:getAttachedFileResponse"/>
    </operation>
    <operation name="getAttachments">
      <documentation>Retrieve a collection of attachments for this event which provide supplementary information to impacted users some examples are RFO (Reason For Outage) and root cause analysis documents.</documentation>
      <input message="tns:getAttachments"/>
      <output message="tns:getAttachmentsResponse"/>
    </operation>
    <operation name="getFirstUpdate">
      <documentation>Retrieve the first update for this event.</documentation>
      <input message="tns:getFirstUpdate"/>
      <output message="tns:getFirstUpdateResponse"/>
    </operation>
    <operation name="getImpactedAccountCount">
      <documentation>This method will return the number of impacted owned accounts associated with this event for the current user. </documentation>
      <input message="tns:getImpactedAccountCount"/>
      <output message="tns:getImpactedAccountCountResponse"/>
    </operation>
    <operation name="getImpactedAccounts">
      <documentation>Retrieve a collection of accounts impacted by this event. Each impacted account record relates directly to a [[SoftLayer_Account]].</documentation>
      <input message="tns:getImpactedAccounts"/>
      <output message="tns:getImpactedAccountsResponse"/>
    </operation>
    <operation name="getImpactedDeviceCount">
      <documentation>This method will return the number of impacted devices associated with this event for the current user. </documentation>
      <input message="tns:getImpactedDeviceCount"/>
      <output message="tns:getImpactedDeviceCountResponse"/>
    </operation>
    <operation name="getImpactedDevices">
      <documentation>This method will return a collection of SoftLayer_Notification_Occurrence_Resource objects which is a listing of the current users' impacted devices that are associated with this event. </documentation>
      <input message="tns:getImpactedDevices"/>
      <output message="tns:getImpactedDevicesResponse"/>
    </operation>
    <operation name="getImpactedResources">
      <documentation>Retrieve a collection of resources impacted by this event. Each record will relate to some physical resource that the user has access to such as [[SoftLayer_Hardware]] or [[SoftLayer_Virtual_Guest]].</documentation>
      <input message="tns:getImpactedResources"/>
      <output message="tns:getImpactedResourcesResponse"/>
    </operation>
    <operation name="getImpactedUsers">
      <documentation>Retrieve a collection of users impacted by this event. Each impacted user record relates directly to a [[SoftLayer_User_Customer]].</documentation>
      <input message="tns:getImpactedUsers"/>
      <output message="tns:getImpactedUsersResponse"/>
    </operation>
    <operation name="getLastUpdate">
      <documentation>Retrieve the last update for this event.</documentation>
      <input message="tns:getLastUpdate"/>
      <output message="tns:getLastUpdateResponse"/>
    </operation>
    <operation name="getNotificationOccurrenceEventType">
      <documentation>Retrieve the type of event such as planned or unplanned maintenance.</documentation>
      <input message="tns:getNotificationOccurrenceEventType"/>
      <output message="tns:getNotificationOccurrenceEventTypeResponse"/>
    </operation>
    <operation name="getObject">
      <documentation></documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
    <operation name="getStatusCode">
      <documentation></documentation>
      <input message="tns:getStatusCode"/>
      <output message="tns:getStatusCodeResponse"/>
    </operation>
    <operation name="getUpdates">
      <documentation>Retrieve all updates for this event.</documentation>
      <input message="tns:getUpdates"/>
      <output message="tns:getUpdatesResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Notification_Occurrence_EventBinding" type="tns:SoftLayer_Notification_Occurrence_EventPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="acknowledgeNotification">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Notification_Occurrence_EventAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventInitParametersHeader" part="SoftLayer_Notification_Occurrence_EventInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getAllObjects">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Notification_Occurrence_EventAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventObjectMaskHeader" part="SoftLayer_Notification_Occurrence_EventObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventObjectFilterHeader" part="SoftLayer_Notification_Occurrence_EventObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getAttachedFile">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Notification_Occurrence_EventAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventInitParametersHeader" part="SoftLayer_Notification_Occurrence_EventInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getAttachments">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Notification_Occurrence_EventAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventObjectMaskHeader" part="SoftLayer_Notification_Occurrence_EventObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventObjectFilterHeader" part="SoftLayer_Notification_Occurrence_EventObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventInitParametersHeader" part="SoftLayer_Notification_Occurrence_EventInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getFirstUpdate">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Notification_Occurrence_EventAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventObjectMaskHeader" part="SoftLayer_Notification_Occurrence_EventObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventObjectFilterHeader" part="SoftLayer_Notification_Occurrence_EventObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventInitParametersHeader" part="SoftLayer_Notification_Occurrence_EventInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getImpactedAccountCount">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Notification_Occurrence_EventAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventInitParametersHeader" part="SoftLayer_Notification_Occurrence_EventInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getImpactedAccounts">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Notification_Occurrence_EventAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventObjectMaskHeader" part="SoftLayer_Notification_Occurrence_EventObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventObjectFilterHeader" part="SoftLayer_Notification_Occurrence_EventObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventInitParametersHeader" part="SoftLayer_Notification_Occurrence_EventInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getImpactedDeviceCount">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Notification_Occurrence_EventAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventInitParametersHeader" part="SoftLayer_Notification_Occurrence_EventInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getImpactedDevices">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Notification_Occurrence_EventAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventInitParametersHeader" part="SoftLayer_Notification_Occurrence_EventInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventObjectMaskHeader" part="SoftLayer_Notification_Occurrence_EventObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getImpactedResources">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Notification_Occurrence_EventAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventObjectMaskHeader" part="SoftLayer_Notification_Occurrence_EventObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventObjectFilterHeader" part="SoftLayer_Notification_Occurrence_EventObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventInitParametersHeader" part="SoftLayer_Notification_Occurrence_EventInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getImpactedUsers">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Notification_Occurrence_EventAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventObjectMaskHeader" part="SoftLayer_Notification_Occurrence_EventObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventObjectFilterHeader" part="SoftLayer_Notification_Occurrence_EventObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventInitParametersHeader" part="SoftLayer_Notification_Occurrence_EventInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getLastUpdate">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Notification_Occurrence_EventAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventObjectMaskHeader" part="SoftLayer_Notification_Occurrence_EventObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventObjectFilterHeader" part="SoftLayer_Notification_Occurrence_EventObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventInitParametersHeader" part="SoftLayer_Notification_Occurrence_EventInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getNotificationOccurrenceEventType">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Notification_Occurrence_EventAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventObjectMaskHeader" part="SoftLayer_Notification_Occurrence_EventObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventObjectFilterHeader" part="SoftLayer_Notification_Occurrence_EventObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventInitParametersHeader" part="SoftLayer_Notification_Occurrence_EventInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Notification_Occurrence_EventAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventObjectMaskHeader" part="SoftLayer_Notification_Occurrence_EventObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventObjectFilterHeader" part="SoftLayer_Notification_Occurrence_EventObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventInitParametersHeader" part="SoftLayer_Notification_Occurrence_EventInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getStatusCode">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Notification_Occurrence_EventAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventObjectMaskHeader" part="SoftLayer_Notification_Occurrence_EventObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventObjectFilterHeader" part="SoftLayer_Notification_Occurrence_EventObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventInitParametersHeader" part="SoftLayer_Notification_Occurrence_EventInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getUpdates">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Notification_Occurrence_EventAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventObjectMaskHeader" part="SoftLayer_Notification_Occurrence_EventObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventObjectFilterHeader" part="SoftLayer_Notification_Occurrence_EventObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Notification_Occurrence_EventInitParametersHeader" part="SoftLayer_Notification_Occurrence_EventInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Notification_Occurrence_EventService">
    <port name="SoftLayer_Notification_Occurrence_EventPort" binding="tns:SoftLayer_Notification_Occurrence_EventBinding">
      <soap:address location="https://api.softlayer.com/soap/v3.1/SoftLayer_Notification_Occurrence_Event"/>
    </port>
  </service>
</definitions>
