data/Product_Package_Server.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3.1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3.1/" schemaLocation="https://api.softlayer.com/soap/v3.1/SoftLayer_Product_Package_Server?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:complexType name="SoftLayer_Product_Package_ServerInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Product_Package_ServerObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Product_Package_Server"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Product_Package_ServerInitParametersHeader">
    <part name="SoftLayer_Product_Package_ServerInitParameters" type="tns:SoftLayer_Product_Package_ServerInitParameters"/>
  </message>
  <message name="getAllObjects"/>
  <message name="getAllObjectsResponse">
    <part name="getAllObjectsReturn" type="tns:SoftLayer_Product_Package_ServerArray"/>
  </message>
  <message name="getCatalog"/>
  <message name="getCatalogResponse">
    <part name="getCatalogReturn" type="tns:SoftLayer_Product_Catalog"/>
  </message>
  <message name="getItem"/>
  <message name="getItemResponse">
    <part name="getItemReturn" type="tns:SoftLayer_Product_Item"/>
  </message>
  <message name="getItemPrice"/>
  <message name="getItemPriceResponse">
    <part name="getItemPriceReturn" type="tns:SoftLayer_Product_Item_Price"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Product_Package_Server"/>
  </message>
  <message name="getPackage"/>
  <message name="getPackageResponse">
    <part name="getPackageReturn" type="tns:SoftLayer_Product_Package"/>
  </message>
  <message name="getPreset"/>
  <message name="getPresetResponse">
    <part name="getPresetReturn" type="tns:SoftLayer_Product_Package_Preset"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Product_Package_ServerObjectMaskHeader">
    <part name="SoftLayer_Product_Package_ServerObjectMask" type="tns:SoftLayer_Product_Package_ServerObjectMask"/>
  </message>
  <message name="SoftLayer_Product_Package_ServerObjectFilterHeader">
    <part name="SoftLayer_Product_Package_ServerObjectFilter" type="tns:SoftLayer_Product_Package_ServerObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Product_Package_ServerPortType">
    <documentation></documentation>
    <operation name="getAllObjects">
      <documentation>This method will grab all the package servers. </documentation>
      <input message="tns:getAllObjects"/>
      <output message="tns:getAllObjectsResponse"/>
    </operation>
    <operation name="getCatalog">
      <documentation></documentation>
      <input message="tns:getCatalog"/>
      <output message="tns:getCatalogResponse"/>
    </operation>
    <operation name="getItem">
      <documentation></documentation>
      <input message="tns:getItem"/>
      <output message="tns:getItemResponse"/>
    </operation>
    <operation name="getItemPrice">
      <documentation></documentation>
      <input message="tns:getItemPrice"/>
      <output message="tns:getItemPriceResponse"/>
    </operation>
    <operation name="getObject">
      <documentation></documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
    <operation name="getPackage">
      <documentation></documentation>
      <input message="tns:getPackage"/>
      <output message="tns:getPackageResponse"/>
    </operation>
    <operation name="getPreset">
      <documentation></documentation>
      <input message="tns:getPreset"/>
      <output message="tns:getPresetResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Product_Package_ServerBinding" type="tns:SoftLayer_Product_Package_ServerPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getAllObjects">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Product_Package_ServerAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Product_Package_ServerObjectMaskHeader" part="SoftLayer_Product_Package_ServerObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Product_Package_ServerObjectFilterHeader" part="SoftLayer_Product_Package_ServerObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getCatalog">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Product_Package_ServerAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Product_Package_ServerObjectMaskHeader" part="SoftLayer_Product_Package_ServerObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Product_Package_ServerObjectFilterHeader" part="SoftLayer_Product_Package_ServerObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Product_Package_ServerInitParametersHeader" part="SoftLayer_Product_Package_ServerInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getItem">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Product_Package_ServerAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Product_Package_ServerObjectMaskHeader" part="SoftLayer_Product_Package_ServerObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Product_Package_ServerObjectFilterHeader" part="SoftLayer_Product_Package_ServerObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Product_Package_ServerInitParametersHeader" part="SoftLayer_Product_Package_ServerInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getItemPrice">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Product_Package_ServerAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Product_Package_ServerObjectMaskHeader" part="SoftLayer_Product_Package_ServerObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Product_Package_ServerObjectFilterHeader" part="SoftLayer_Product_Package_ServerObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Product_Package_ServerInitParametersHeader" part="SoftLayer_Product_Package_ServerInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Product_Package_ServerAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Product_Package_ServerObjectMaskHeader" part="SoftLayer_Product_Package_ServerObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Product_Package_ServerObjectFilterHeader" part="SoftLayer_Product_Package_ServerObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Product_Package_ServerInitParametersHeader" part="SoftLayer_Product_Package_ServerInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getPackage">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Product_Package_ServerAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Product_Package_ServerObjectMaskHeader" part="SoftLayer_Product_Package_ServerObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Product_Package_ServerObjectFilterHeader" part="SoftLayer_Product_Package_ServerObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Product_Package_ServerInitParametersHeader" part="SoftLayer_Product_Package_ServerInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getPreset">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Product_Package_ServerAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Product_Package_ServerObjectMaskHeader" part="SoftLayer_Product_Package_ServerObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Product_Package_ServerObjectFilterHeader" part="SoftLayer_Product_Package_ServerObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Product_Package_ServerInitParametersHeader" part="SoftLayer_Product_Package_ServerInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Product_Package_ServerService">
    <port name="SoftLayer_Product_Package_ServerPort" binding="tns:SoftLayer_Product_Package_ServerBinding">
      <soap:address location="https://api.softlayer.com/soap/v3.1/SoftLayer_Product_Package_Server"/>
    </port>
  </service>
</definitions>
