data/Product_Item_Price_Premium.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3/" schemaLocation="https://api.softlayer.com/soap/v3/SoftLayer_Product_Item_Price_Premium?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:complexType name="SoftLayer_Product_Item_Price_PremiumInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Product_Item_Price_PremiumObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Product_Item_Price_Premium"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Product_Item_Price_PremiumInitParametersHeader">
    <part name="SoftLayer_Product_Item_Price_PremiumInitParameters" type="tns:SoftLayer_Product_Item_Price_PremiumInitParameters"/>
  </message>
  <message name="getItemPrice"/>
  <message name="getItemPriceResponse">
    <part name="getItemPriceReturn" type="tns:SoftLayer_Product_Item_Price"/>
  </message>
  <message name="getLocation"/>
  <message name="getLocationResponse">
    <part name="getLocationReturn" type="tns:SoftLayer_Location"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Product_Item_Price_Premium"/>
  </message>
  <message name="getPackage"/>
  <message name="getPackageResponse">
    <part name="getPackageReturn" type="tns:SoftLayer_Product_Package"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Product_Item_Price_PremiumObjectMaskHeader">
    <part name="SoftLayer_Product_Item_Price_PremiumObjectMask" type="tns:SoftLayer_Product_Item_Price_PremiumObjectMask"/>
  </message>
  <message name="SoftLayer_Product_Item_Price_PremiumObjectFilterHeader">
    <part name="SoftLayer_Product_Item_Price_PremiumObjectFilter" type="tns:SoftLayer_Product_Item_Price_PremiumObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Product_Item_Price_PremiumPortType">
    <documentation></documentation>
    <operation name="getItemPrice">
      <documentation></documentation>
      <input message="tns:getItemPrice"/>
      <output message="tns:getItemPriceResponse"/>
    </operation>
    <operation name="getLocation">
      <documentation></documentation>
      <input message="tns:getLocation"/>
      <output message="tns:getLocationResponse"/>
    </operation>
    <operation name="getObject">
      <documentation></documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
    <operation name="getPackage">
      <documentation></documentation>
      <input message="tns:getPackage"/>
      <output message="tns:getPackageResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Product_Item_Price_PremiumBinding" type="tns:SoftLayer_Product_Item_Price_PremiumPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getItemPrice">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Product_Item_Price_PremiumAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Product_Item_Price_PremiumObjectMaskHeader" part="SoftLayer_Product_Item_Price_PremiumObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Product_Item_Price_PremiumObjectFilterHeader" part="SoftLayer_Product_Item_Price_PremiumObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Product_Item_Price_PremiumInitParametersHeader" part="SoftLayer_Product_Item_Price_PremiumInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getLocation">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Product_Item_Price_PremiumAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Product_Item_Price_PremiumObjectMaskHeader" part="SoftLayer_Product_Item_Price_PremiumObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Product_Item_Price_PremiumObjectFilterHeader" part="SoftLayer_Product_Item_Price_PremiumObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Product_Item_Price_PremiumInitParametersHeader" part="SoftLayer_Product_Item_Price_PremiumInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Product_Item_Price_PremiumAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Product_Item_Price_PremiumObjectMaskHeader" part="SoftLayer_Product_Item_Price_PremiumObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Product_Item_Price_PremiumObjectFilterHeader" part="SoftLayer_Product_Item_Price_PremiumObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Product_Item_Price_PremiumInitParametersHeader" part="SoftLayer_Product_Item_Price_PremiumInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getPackage">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Product_Item_Price_PremiumAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Product_Item_Price_PremiumObjectMaskHeader" part="SoftLayer_Product_Item_Price_PremiumObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Product_Item_Price_PremiumObjectFilterHeader" part="SoftLayer_Product_Item_Price_PremiumObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Product_Item_Price_PremiumInitParametersHeader" part="SoftLayer_Product_Item_Price_PremiumInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Product_Item_Price_PremiumService">
    <port name="SoftLayer_Product_Item_Price_PremiumPort" binding="tns:SoftLayer_Product_Item_Price_PremiumBinding">
      <soap:address location="https://api.softlayer.com/soap/v3/SoftLayer_Product_Item_Price_Premium"/>
    </port>
  </service>
</definitions>
