data/Provisioning_Maintenance_Slots.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3/" schemaLocation="https://api.softlayer.com/soap/v3/SoftLayer_Provisioning_Maintenance_Slots?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:complexType name="SoftLayer_Provisioning_Maintenance_SlotsInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Provisioning_Maintenance_SlotsObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Provisioning_Maintenance_Slots"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Provisioning_Maintenance_SlotsInitParametersHeader">
    <part name="SoftLayer_Provisioning_Maintenance_SlotsInitParameters" type="tns:SoftLayer_Provisioning_Maintenance_SlotsInitParameters"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Provisioning_Maintenance_Slots"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Provisioning_Maintenance_SlotsObjectMaskHeader">
    <part name="SoftLayer_Provisioning_Maintenance_SlotsObjectMask" type="tns:SoftLayer_Provisioning_Maintenance_SlotsObjectMask"/>
  </message>
  <message name="SoftLayer_Provisioning_Maintenance_SlotsObjectFilterHeader">
    <part name="SoftLayer_Provisioning_Maintenance_SlotsObjectFilter" type="tns:SoftLayer_Provisioning_Maintenance_SlotsObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Provisioning_Maintenance_SlotsPortType">
    <documentation>The SoftLayer_Provisioning_Maintenance_Slots service returns available maintenance slots at SoftLayer data centers. </documentation>
    <operation name="getObject">
      <documentation></documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Provisioning_Maintenance_SlotsBinding" type="tns:SoftLayer_Provisioning_Maintenance_SlotsPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Provisioning_Maintenance_SlotsAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Provisioning_Maintenance_SlotsObjectMaskHeader" part="SoftLayer_Provisioning_Maintenance_SlotsObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Provisioning_Maintenance_SlotsObjectFilterHeader" part="SoftLayer_Provisioning_Maintenance_SlotsObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Provisioning_Maintenance_SlotsInitParametersHeader" part="SoftLayer_Provisioning_Maintenance_SlotsInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Provisioning_Maintenance_SlotsService">
    <port name="SoftLayer_Provisioning_Maintenance_SlotsPort" binding="tns:SoftLayer_Provisioning_Maintenance_SlotsBinding">
      <soap:address location="https://api.softlayer.com/soap/v3/SoftLayer_Provisioning_Maintenance_Slots"/>
    </port>
  </service>
</definitions>
