data/Resource_Group.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3/" schemaLocation="https://api.softlayer.com/soap/v3/SoftLayer_Resource_Group?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:complexType name="SoftLayer_Resource_GroupInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Resource_GroupObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Resource_Group"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Resource_GroupInitParametersHeader">
    <part name="SoftLayer_Resource_GroupInitParameters" type="tns:SoftLayer_Resource_GroupInitParameters"/>
  </message>
  <message name="editObject">
    <part name="templateObject" type="tns:SoftLayer_Resource_Group"/>
  </message>
  <message name="editObjectResponse">
    <part name="editObjectReturn" type="xsd:boolean"/>
  </message>
  <message name="getAncestorGroups"/>
  <message name="getAncestorGroupsResponse">
    <part name="getAncestorGroupsReturn" type="tns:SoftLayer_Resource_GroupArray"/>
  </message>
  <message name="getAttributes"/>
  <message name="getAttributesResponse">
    <part name="getAttributesReturn" type="tns:SoftLayer_Resource_Group_AttributeArray"/>
  </message>
  <message name="getHardwareMembers"/>
  <message name="getHardwareMembersResponse">
    <part name="getHardwareMembersReturn" type="tns:SoftLayer_Resource_Group_MemberArray"/>
  </message>
  <message name="getMembers"/>
  <message name="getMembersResponse">
    <part name="getMembersReturn" type="tns:SoftLayer_Resource_Group_MemberArray"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Resource_Group"/>
  </message>
  <message name="getRootResourceGroup"/>
  <message name="getRootResourceGroupResponse">
    <part name="getRootResourceGroupReturn" type="tns:SoftLayer_Resource_Group"/>
  </message>
  <message name="getSubnetMembers"/>
  <message name="getSubnetMembersResponse">
    <part name="getSubnetMembersReturn" type="tns:SoftLayer_Resource_Group_MemberArray"/>
  </message>
  <message name="getTemplate"/>
  <message name="getTemplateResponse">
    <part name="getTemplateReturn" type="tns:SoftLayer_Resource_Group_Template"/>
  </message>
  <message name="getVlanMembers"/>
  <message name="getVlanMembersResponse">
    <part name="getVlanMembersReturn" type="tns:SoftLayer_Resource_Group_MemberArray"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Resource_GroupObjectMaskHeader">
    <part name="SoftLayer_Resource_GroupObjectMask" type="tns:SoftLayer_Resource_GroupObjectMask"/>
  </message>
  <message name="SoftLayer_Resource_GroupObjectFilterHeader">
    <part name="SoftLayer_Resource_GroupObjectFilter" type="tns:SoftLayer_Resource_GroupObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Resource_GroupPortType">
    <documentation>SoftLayer's resource group service allows users to access a broad overview of the resource group and its members </documentation>
    <operation name="editObject">
      <documentation></documentation>
      <input message="tns:editObject"/>
      <output message="tns:editObjectResponse"/>
    </operation>
    <operation name="getAncestorGroups">
      <documentation>Retrieve a resource group's associated group ancestors.</documentation>
      <input message="tns:getAncestorGroups"/>
      <output message="tns:getAncestorGroupsResponse"/>
    </operation>
    <operation name="getAttributes">
      <documentation>Retrieve a resource group's associated attributes.</documentation>
      <input message="tns:getAttributes"/>
      <output message="tns:getAttributesResponse"/>
    </operation>
    <operation name="getHardwareMembers">
      <documentation>Retrieve a resource group's associated hardware members.</documentation>
      <input message="tns:getHardwareMembers"/>
      <output message="tns:getHardwareMembersResponse"/>
    </operation>
    <operation name="getMembers">
      <documentation>Retrieve a resource group's associated members.</documentation>
      <input message="tns:getMembers"/>
      <output message="tns:getMembersResponse"/>
    </operation>
    <operation name="getObject">
      <documentation></documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
    <operation name="getRootResourceGroup">
      <documentation>Retrieve a resource group's associated root resource group.</documentation>
      <input message="tns:getRootResourceGroup"/>
      <output message="tns:getRootResourceGroupResponse"/>
    </operation>
    <operation name="getSubnetMembers">
      <documentation>Retrieve a resource group's associated subnet members.</documentation>
      <input message="tns:getSubnetMembers"/>
      <output message="tns:getSubnetMembersResponse"/>
    </operation>
    <operation name="getTemplate">
      <documentation>Retrieve a resource group's associated template.</documentation>
      <input message="tns:getTemplate"/>
      <output message="tns:getTemplateResponse"/>
    </operation>
    <operation name="getVlanMembers">
      <documentation>Retrieve a resource group's associated VLAN members.</documentation>
      <input message="tns:getVlanMembers"/>
      <output message="tns:getVlanMembersResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Resource_GroupBinding" type="tns:SoftLayer_Resource_GroupPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="editObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Resource_GroupAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Resource_GroupInitParametersHeader" part="SoftLayer_Resource_GroupInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getAncestorGroups">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Resource_GroupAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Resource_GroupObjectMaskHeader" part="SoftLayer_Resource_GroupObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Resource_GroupObjectFilterHeader" part="SoftLayer_Resource_GroupObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Resource_GroupInitParametersHeader" part="SoftLayer_Resource_GroupInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getAttributes">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Resource_GroupAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Resource_GroupObjectMaskHeader" part="SoftLayer_Resource_GroupObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Resource_GroupObjectFilterHeader" part="SoftLayer_Resource_GroupObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Resource_GroupInitParametersHeader" part="SoftLayer_Resource_GroupInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getHardwareMembers">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Resource_GroupAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Resource_GroupObjectMaskHeader" part="SoftLayer_Resource_GroupObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Resource_GroupObjectFilterHeader" part="SoftLayer_Resource_GroupObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Resource_GroupInitParametersHeader" part="SoftLayer_Resource_GroupInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getMembers">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Resource_GroupAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Resource_GroupObjectMaskHeader" part="SoftLayer_Resource_GroupObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Resource_GroupObjectFilterHeader" part="SoftLayer_Resource_GroupObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Resource_GroupInitParametersHeader" part="SoftLayer_Resource_GroupInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Resource_GroupAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Resource_GroupObjectMaskHeader" part="SoftLayer_Resource_GroupObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Resource_GroupObjectFilterHeader" part="SoftLayer_Resource_GroupObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Resource_GroupInitParametersHeader" part="SoftLayer_Resource_GroupInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getRootResourceGroup">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Resource_GroupAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Resource_GroupObjectMaskHeader" part="SoftLayer_Resource_GroupObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Resource_GroupObjectFilterHeader" part="SoftLayer_Resource_GroupObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Resource_GroupInitParametersHeader" part="SoftLayer_Resource_GroupInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getSubnetMembers">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Resource_GroupAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Resource_GroupObjectMaskHeader" part="SoftLayer_Resource_GroupObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Resource_GroupObjectFilterHeader" part="SoftLayer_Resource_GroupObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Resource_GroupInitParametersHeader" part="SoftLayer_Resource_GroupInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getTemplate">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Resource_GroupAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Resource_GroupObjectMaskHeader" part="SoftLayer_Resource_GroupObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Resource_GroupObjectFilterHeader" part="SoftLayer_Resource_GroupObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Resource_GroupInitParametersHeader" part="SoftLayer_Resource_GroupInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getVlanMembers">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Resource_GroupAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Resource_GroupObjectMaskHeader" part="SoftLayer_Resource_GroupObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Resource_GroupObjectFilterHeader" part="SoftLayer_Resource_GroupObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Resource_GroupInitParametersHeader" part="SoftLayer_Resource_GroupInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Resource_GroupService">
    <port name="SoftLayer_Resource_GroupPort" binding="tns:SoftLayer_Resource_GroupBinding">
      <soap:address location="https://api.softlayer.com/soap/v3/SoftLayer_Resource_Group"/>
    </port>
  </service>
</definitions>
