data/Scale_Asset_Virtual_Guest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3/" schemaLocation="https://api.softlayer.com/soap/v3/SoftLayer_Scale_Asset_Virtual_Guest?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:complexType name="SoftLayer_Scale_Asset_Virtual_GuestInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Scale_Asset_Virtual_GuestObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Scale_Asset_Virtual_Guest"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Scale_Asset_Virtual_GuestInitParametersHeader">
    <part name="SoftLayer_Scale_Asset_Virtual_GuestInitParameters" type="tns:SoftLayer_Scale_Asset_Virtual_GuestInitParameters"/>
  </message>
  <message name="createObject">
    <part name="templateObject" type="tns:SoftLayer_Scale_Asset_Virtual_Guest"/>
  </message>
  <message name="createObjectResponse">
    <part name="createObjectReturn" type="tns:SoftLayer_Scale_Asset_Virtual_Guest"/>
  </message>
  <message name="deleteObject"/>
  <message name="deleteObjectResponse">
    <part name="deleteObjectReturn" type="xsd:boolean"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Scale_Asset_Virtual_Guest"/>
  </message>
  <message name="getScaleGroup"/>
  <message name="getScaleGroupResponse">
    <part name="getScaleGroupReturn" type="tns:SoftLayer_Scale_Group"/>
  </message>
  <message name="getVirtualGuest"/>
  <message name="getVirtualGuestResponse">
    <part name="getVirtualGuestReturn" type="tns:SoftLayer_Virtual_Guest"/>
  </message>
  <message name="getVirtualGuestId"/>
  <message name="getVirtualGuestIdResponse">
    <part name="getVirtualGuestIdReturn" type="xsd:int"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Scale_Asset_Virtual_GuestObjectMaskHeader">
    <part name="SoftLayer_Scale_Asset_Virtual_GuestObjectMask" type="tns:SoftLayer_Scale_Asset_Virtual_GuestObjectMask"/>
  </message>
  <message name="SoftLayer_Scale_Asset_Virtual_GuestObjectFilterHeader">
    <part name="SoftLayer_Scale_Asset_Virtual_GuestObjectFilter" type="tns:SoftLayer_Scale_Asset_Virtual_GuestObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Scale_Asset_Virtual_GuestPortType">
    <documentation>A guest asset is a fixed asset of scale group. It is not automatically scaled up or down in any way. Its purpose is to provide information (e.g. metrics) to policies to affect scaling decisions. </documentation>
    <operation name="createObject">
      <documentation></documentation>
      <input message="tns:createObject"/>
      <output message="tns:createObjectResponse"/>
    </operation>
    <operation name="deleteObject">
      <documentation></documentation>
      <input message="tns:deleteObject"/>
      <output message="tns:deleteObjectResponse"/>
    </operation>
    <operation name="getObject">
      <documentation></documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
    <operation name="getScaleGroup">
      <documentation>Retrieve the group this asset belongs to.</documentation>
      <input message="tns:getScaleGroup"/>
      <output message="tns:getScaleGroupResponse"/>
    </operation>
    <operation name="getVirtualGuest">
      <documentation>Retrieve the guest for this asset.</documentation>
      <input message="tns:getVirtualGuest"/>
      <output message="tns:getVirtualGuestResponse"/>
    </operation>
    <operation name="getVirtualGuestId">
      <documentation>Retrieve the identifier of the guest for this asset.</documentation>
      <input message="tns:getVirtualGuestId"/>
      <output message="tns:getVirtualGuestIdResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Scale_Asset_Virtual_GuestBinding" type="tns:SoftLayer_Scale_Asset_Virtual_GuestPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="createObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Scale_Asset_Virtual_GuestAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_Asset_Virtual_GuestObjectMaskHeader" part="SoftLayer_Scale_Asset_Virtual_GuestObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="deleteObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Scale_Asset_Virtual_GuestAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_Asset_Virtual_GuestInitParametersHeader" part="SoftLayer_Scale_Asset_Virtual_GuestInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Scale_Asset_Virtual_GuestAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Scale_Asset_Virtual_GuestObjectMaskHeader" part="SoftLayer_Scale_Asset_Virtual_GuestObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_Asset_Virtual_GuestObjectFilterHeader" part="SoftLayer_Scale_Asset_Virtual_GuestObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_Asset_Virtual_GuestInitParametersHeader" part="SoftLayer_Scale_Asset_Virtual_GuestInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getScaleGroup">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Scale_Asset_Virtual_GuestAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Scale_Asset_Virtual_GuestObjectMaskHeader" part="SoftLayer_Scale_Asset_Virtual_GuestObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_Asset_Virtual_GuestObjectFilterHeader" part="SoftLayer_Scale_Asset_Virtual_GuestObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_Asset_Virtual_GuestInitParametersHeader" part="SoftLayer_Scale_Asset_Virtual_GuestInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getVirtualGuest">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Scale_Asset_Virtual_GuestAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Scale_Asset_Virtual_GuestObjectMaskHeader" part="SoftLayer_Scale_Asset_Virtual_GuestObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_Asset_Virtual_GuestObjectFilterHeader" part="SoftLayer_Scale_Asset_Virtual_GuestObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_Asset_Virtual_GuestInitParametersHeader" part="SoftLayer_Scale_Asset_Virtual_GuestInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getVirtualGuestId">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Scale_Asset_Virtual_GuestAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Scale_Asset_Virtual_GuestObjectMaskHeader" part="SoftLayer_Scale_Asset_Virtual_GuestObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_Asset_Virtual_GuestObjectFilterHeader" part="SoftLayer_Scale_Asset_Virtual_GuestObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_Asset_Virtual_GuestInitParametersHeader" part="SoftLayer_Scale_Asset_Virtual_GuestInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Scale_Asset_Virtual_GuestService">
    <port name="SoftLayer_Scale_Asset_Virtual_GuestPort" binding="tns:SoftLayer_Scale_Asset_Virtual_GuestBinding">
      <soap:address location="https://api.softlayer.com/soap/v3/SoftLayer_Scale_Asset_Virtual_Guest"/>
    </port>
  </service>
</definitions>
