data/Scale_LoadBalancer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3/" schemaLocation="https://api.softlayer.com/soap/v3/SoftLayer_Scale_LoadBalancer?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:complexType name="SoftLayer_Scale_LoadBalancerInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Scale_LoadBalancerObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Scale_LoadBalancer"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Scale_LoadBalancerInitParametersHeader">
    <part name="SoftLayer_Scale_LoadBalancerInitParameters" type="tns:SoftLayer_Scale_LoadBalancerInitParameters"/>
  </message>
  <message name="createObject">
    <part name="templateObject" type="tns:SoftLayer_Scale_LoadBalancer"/>
  </message>
  <message name="createObjectResponse">
    <part name="createObjectReturn" type="tns:SoftLayer_Scale_LoadBalancer"/>
  </message>
  <message name="deleteObject"/>
  <message name="deleteObjectResponse">
    <part name="deleteObjectReturn" type="xsd:boolean"/>
  </message>
  <message name="editObject">
    <part name="templateObject" type="tns:SoftLayer_Scale_LoadBalancer"/>
  </message>
  <message name="editObjectResponse">
    <part name="editObjectReturn" type="xsd:boolean"/>
  </message>
  <message name="getAllocationPercent"/>
  <message name="getAllocationPercentResponse">
    <part name="getAllocationPercentReturn" type="xsd:int"/>
  </message>
  <message name="getHealthCheck"/>
  <message name="getHealthCheckResponse">
    <part name="getHealthCheckReturn" type="tns:SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_Health_Check"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Scale_LoadBalancer"/>
  </message>
  <message name="getRoutingMethod"/>
  <message name="getRoutingMethodResponse">
    <part name="getRoutingMethodReturn" type="tns:SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_Routing_Method"/>
  </message>
  <message name="getRoutingType"/>
  <message name="getRoutingTypeResponse">
    <part name="getRoutingTypeReturn" type="tns:SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_Routing_Type"/>
  </message>
  <message name="getScaleGroup"/>
  <message name="getScaleGroupResponse">
    <part name="getScaleGroupReturn" type="tns:SoftLayer_Scale_Group"/>
  </message>
  <message name="getVirtualIpAddressId"/>
  <message name="getVirtualIpAddressIdResponse">
    <part name="getVirtualIpAddressIdReturn" type="xsd:int"/>
  </message>
  <message name="getVirtualServer"/>
  <message name="getVirtualServerResponse">
    <part name="getVirtualServerReturn" type="tns:SoftLayer_Network_Application_Delivery_Controller_LoadBalancer_VirtualServer"/>
  </message>
  <message name="getVirtualServerPort"/>
  <message name="getVirtualServerPortResponse">
    <part name="getVirtualServerPortReturn" type="xsd:int"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Scale_LoadBalancerObjectMaskHeader">
    <part name="SoftLayer_Scale_LoadBalancerObjectMask" type="tns:SoftLayer_Scale_LoadBalancerObjectMask"/>
  </message>
  <message name="SoftLayer_Scale_LoadBalancerObjectFilterHeader">
    <part name="SoftLayer_Scale_LoadBalancerObjectFilter" type="tns:SoftLayer_Scale_LoadBalancerObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Scale_LoadBalancerPortType">
    <documentation>A scale load balancer is a configuration for a load balancer virtual server that autoscaled members will be automatically configured for. </documentation>
    <operation name="createObject">
      <documentation></documentation>
      <input message="tns:createObject"/>
      <output message="tns:createObjectResponse"/>
    </operation>
    <operation name="deleteObject">
      <documentation></documentation>
      <input message="tns:deleteObject"/>
      <output message="tns:deleteObjectResponse"/>
    </operation>
    <operation name="editObject">
      <documentation></documentation>
      <input message="tns:editObject"/>
      <output message="tns:editObjectResponse"/>
    </operation>
    <operation name="getAllocationPercent">
      <documentation>Retrieve the percentage of connections allocated to this virtual server.</documentation>
      <input message="tns:getAllocationPercent"/>
      <output message="tns:getAllocationPercentResponse"/>
    </operation>
    <operation name="getHealthCheck">
      <documentation>Retrieve the health check for this configuration.</documentation>
      <input message="tns:getHealthCheck"/>
      <output message="tns:getHealthCheckResponse"/>
    </operation>
    <operation name="getObject">
      <documentation></documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
    <operation name="getRoutingMethod">
      <documentation>Retrieve the routing method.</documentation>
      <input message="tns:getRoutingMethod"/>
      <output message="tns:getRoutingMethodResponse"/>
    </operation>
    <operation name="getRoutingType">
      <documentation>Retrieve the routing type.</documentation>
      <input message="tns:getRoutingType"/>
      <output message="tns:getRoutingTypeResponse"/>
    </operation>
    <operation name="getScaleGroup">
      <documentation>Retrieve the group this load balancer configuration is for.</documentation>
      <input message="tns:getScaleGroup"/>
      <output message="tns:getScaleGroupResponse"/>
    </operation>
    <operation name="getVirtualIpAddressId">
      <documentation>Retrieve the ID of the virtual IP address.</documentation>
      <input message="tns:getVirtualIpAddressId"/>
      <output message="tns:getVirtualIpAddressIdResponse"/>
    </operation>
    <operation name="getVirtualServer">
      <documentation>Retrieve the virtual server for this configuration.</documentation>
      <input message="tns:getVirtualServer"/>
      <output message="tns:getVirtualServerResponse"/>
    </operation>
    <operation name="getVirtualServerPort">
      <documentation>Retrieve the port on the virtual server.</documentation>
      <input message="tns:getVirtualServerPort"/>
      <output message="tns:getVirtualServerPortResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Scale_LoadBalancerBinding" type="tns:SoftLayer_Scale_LoadBalancerPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="createObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Scale_LoadBalancerAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_LoadBalancerObjectMaskHeader" part="SoftLayer_Scale_LoadBalancerObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="deleteObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Scale_LoadBalancerAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_LoadBalancerInitParametersHeader" part="SoftLayer_Scale_LoadBalancerInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="editObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Scale_LoadBalancerAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_LoadBalancerInitParametersHeader" part="SoftLayer_Scale_LoadBalancerInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getAllocationPercent">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Scale_LoadBalancerAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Scale_LoadBalancerObjectMaskHeader" part="SoftLayer_Scale_LoadBalancerObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_LoadBalancerObjectFilterHeader" part="SoftLayer_Scale_LoadBalancerObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_LoadBalancerInitParametersHeader" part="SoftLayer_Scale_LoadBalancerInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getHealthCheck">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Scale_LoadBalancerAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Scale_LoadBalancerObjectMaskHeader" part="SoftLayer_Scale_LoadBalancerObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_LoadBalancerObjectFilterHeader" part="SoftLayer_Scale_LoadBalancerObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_LoadBalancerInitParametersHeader" part="SoftLayer_Scale_LoadBalancerInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Scale_LoadBalancerAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Scale_LoadBalancerObjectMaskHeader" part="SoftLayer_Scale_LoadBalancerObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_LoadBalancerObjectFilterHeader" part="SoftLayer_Scale_LoadBalancerObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_LoadBalancerInitParametersHeader" part="SoftLayer_Scale_LoadBalancerInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getRoutingMethod">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Scale_LoadBalancerAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Scale_LoadBalancerObjectMaskHeader" part="SoftLayer_Scale_LoadBalancerObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_LoadBalancerObjectFilterHeader" part="SoftLayer_Scale_LoadBalancerObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_LoadBalancerInitParametersHeader" part="SoftLayer_Scale_LoadBalancerInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getRoutingType">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Scale_LoadBalancerAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Scale_LoadBalancerObjectMaskHeader" part="SoftLayer_Scale_LoadBalancerObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_LoadBalancerObjectFilterHeader" part="SoftLayer_Scale_LoadBalancerObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_LoadBalancerInitParametersHeader" part="SoftLayer_Scale_LoadBalancerInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getScaleGroup">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Scale_LoadBalancerAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Scale_LoadBalancerObjectMaskHeader" part="SoftLayer_Scale_LoadBalancerObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_LoadBalancerObjectFilterHeader" part="SoftLayer_Scale_LoadBalancerObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_LoadBalancerInitParametersHeader" part="SoftLayer_Scale_LoadBalancerInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getVirtualIpAddressId">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Scale_LoadBalancerAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Scale_LoadBalancerObjectMaskHeader" part="SoftLayer_Scale_LoadBalancerObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_LoadBalancerObjectFilterHeader" part="SoftLayer_Scale_LoadBalancerObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_LoadBalancerInitParametersHeader" part="SoftLayer_Scale_LoadBalancerInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getVirtualServer">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Scale_LoadBalancerAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Scale_LoadBalancerObjectMaskHeader" part="SoftLayer_Scale_LoadBalancerObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_LoadBalancerObjectFilterHeader" part="SoftLayer_Scale_LoadBalancerObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_LoadBalancerInitParametersHeader" part="SoftLayer_Scale_LoadBalancerInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getVirtualServerPort">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Scale_LoadBalancerAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Scale_LoadBalancerObjectMaskHeader" part="SoftLayer_Scale_LoadBalancerObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_LoadBalancerObjectFilterHeader" part="SoftLayer_Scale_LoadBalancerObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_LoadBalancerInitParametersHeader" part="SoftLayer_Scale_LoadBalancerInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Scale_LoadBalancerService">
    <port name="SoftLayer_Scale_LoadBalancerPort" binding="tns:SoftLayer_Scale_LoadBalancerBinding">
      <soap:address location="https://api.softlayer.com/soap/v3/SoftLayer_Scale_LoadBalancer"/>
    </port>
  </service>
</definitions>
