data/Scale_Policy_Trigger_ResourceUse.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3/" schemaLocation="https://api.softlayer.com/soap/v3/SoftLayer_Scale_Policy_Trigger_ResourceUse?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:complexType name="SoftLayer_Scale_Policy_Trigger_ResourceUseInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Scale_Policy_Trigger_ResourceUseObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Scale_Policy_Trigger_ResourceUse"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Scale_Policy_Trigger_ResourceUseInitParametersHeader">
    <part name="SoftLayer_Scale_Policy_Trigger_ResourceUseInitParameters" type="tns:SoftLayer_Scale_Policy_Trigger_ResourceUseInitParameters"/>
  </message>
  <message name="createObject">
    <part name="templateObject" type="tns:SoftLayer_Scale_Policy_Trigger_ResourceUse"/>
  </message>
  <message name="createObjectResponse">
    <part name="createObjectReturn" type="tns:SoftLayer_Scale_Policy_Trigger_ResourceUse"/>
  </message>
  <message name="deleteObject"/>
  <message name="deleteObjectResponse">
    <part name="deleteObjectReturn" type="xsd:boolean"/>
  </message>
  <message name="editObject">
    <part name="templateObject" type="tns:SoftLayer_Scale_Policy_Trigger_ResourceUse"/>
  </message>
  <message name="editObjectResponse">
    <part name="editObjectReturn" type="xsd:boolean"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Scale_Policy_Trigger_ResourceUse"/>
  </message>
  <message name="getScalePolicy"/>
  <message name="getScalePolicyResponse">
    <part name="getScalePolicyReturn" type="tns:SoftLayer_Scale_Policy"/>
  </message>
  <message name="getType"/>
  <message name="getTypeResponse">
    <part name="getTypeReturn" type="tns:SoftLayer_Scale_Policy_Trigger_Type"/>
  </message>
  <message name="getWatches"/>
  <message name="getWatchesResponse">
    <part name="getWatchesReturn" type="tns:SoftLayer_Scale_Policy_Trigger_ResourceUse_WatchArray"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Scale_Policy_Trigger_ResourceUseObjectMaskHeader">
    <part name="SoftLayer_Scale_Policy_Trigger_ResourceUseObjectMask" type="tns:SoftLayer_Scale_Policy_Trigger_ResourceUseObjectMask"/>
  </message>
  <message name="SoftLayer_Scale_Policy_Trigger_ResourceUseObjectFilterHeader">
    <part name="SoftLayer_Scale_Policy_Trigger_ResourceUseObjectFilter" type="tns:SoftLayer_Scale_Policy_Trigger_ResourceUseObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Scale_Policy_Trigger_ResourceUsePortType">
    <documentation>A trigger that will only execute only when all guests on the group (both static and member) satisfy certain resource watches. </documentation>
    <operation name="createObject">
      <documentation></documentation>
      <input message="tns:createObject"/>
      <output message="tns:createObjectResponse"/>
    </operation>
    <operation name="deleteObject">
      <documentation></documentation>
      <input message="tns:deleteObject"/>
      <output message="tns:deleteObjectResponse"/>
    </operation>
    <operation name="editObject">
      <documentation></documentation>
      <input message="tns:editObject"/>
      <output message="tns:editObjectResponse"/>
    </operation>
    <operation name="getObject">
      <documentation></documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
    <operation name="getScalePolicy">
      <documentation>Retrieve the policy this trigger is on.</documentation>
      <input message="tns:getScalePolicy"/>
      <output message="tns:getScalePolicyResponse"/>
    </operation>
    <operation name="getType">
      <documentation>Retrieve the type of trigger.</documentation>
      <input message="tns:getType"/>
      <output message="tns:getTypeResponse"/>
    </operation>
    <operation name="getWatches">
      <documentation>Retrieve the resource watches for this trigger.</documentation>
      <input message="tns:getWatches"/>
      <output message="tns:getWatchesResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Scale_Policy_Trigger_ResourceUseBinding" type="tns:SoftLayer_Scale_Policy_Trigger_ResourceUsePortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="createObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Scale_Policy_Trigger_ResourceUseAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_Policy_Trigger_ResourceUseObjectMaskHeader" part="SoftLayer_Scale_Policy_Trigger_ResourceUseObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="deleteObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Scale_Policy_Trigger_ResourceUseAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_Policy_Trigger_ResourceUseInitParametersHeader" part="SoftLayer_Scale_Policy_Trigger_ResourceUseInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="editObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Scale_Policy_Trigger_ResourceUseAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_Policy_Trigger_ResourceUseInitParametersHeader" part="SoftLayer_Scale_Policy_Trigger_ResourceUseInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Scale_Policy_Trigger_ResourceUseAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Scale_Policy_Trigger_ResourceUseObjectMaskHeader" part="SoftLayer_Scale_Policy_Trigger_ResourceUseObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_Policy_Trigger_ResourceUseObjectFilterHeader" part="SoftLayer_Scale_Policy_Trigger_ResourceUseObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_Policy_Trigger_ResourceUseInitParametersHeader" part="SoftLayer_Scale_Policy_Trigger_ResourceUseInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getScalePolicy">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Scale_Policy_Trigger_ResourceUseAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Scale_Policy_Trigger_ResourceUseObjectMaskHeader" part="SoftLayer_Scale_Policy_Trigger_ResourceUseObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_Policy_Trigger_ResourceUseObjectFilterHeader" part="SoftLayer_Scale_Policy_Trigger_ResourceUseObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_Policy_Trigger_ResourceUseInitParametersHeader" part="SoftLayer_Scale_Policy_Trigger_ResourceUseInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getType">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Scale_Policy_Trigger_ResourceUseAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Scale_Policy_Trigger_ResourceUseObjectMaskHeader" part="SoftLayer_Scale_Policy_Trigger_ResourceUseObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_Policy_Trigger_ResourceUseObjectFilterHeader" part="SoftLayer_Scale_Policy_Trigger_ResourceUseObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_Policy_Trigger_ResourceUseInitParametersHeader" part="SoftLayer_Scale_Policy_Trigger_ResourceUseInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getWatches">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_Scale_Policy_Trigger_ResourceUseAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Scale_Policy_Trigger_ResourceUseObjectMaskHeader" part="SoftLayer_Scale_Policy_Trigger_ResourceUseObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_Policy_Trigger_ResourceUseObjectFilterHeader" part="SoftLayer_Scale_Policy_Trigger_ResourceUseObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Scale_Policy_Trigger_ResourceUseInitParametersHeader" part="SoftLayer_Scale_Policy_Trigger_ResourceUseInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Scale_Policy_Trigger_ResourceUseService">
    <port name="SoftLayer_Scale_Policy_Trigger_ResourceUsePort" binding="tns:SoftLayer_Scale_Policy_Trigger_ResourceUseBinding">
      <soap:address location="https://api.softlayer.com/soap/v3/SoftLayer_Scale_Policy_Trigger_ResourceUse"/>
    </port>
  </service>
</definitions>
