data/Search.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3.1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3.1/" schemaLocation="https://api.softlayer.com/soap/v3.1/SoftLayer_Search?xsd"/>
    </xsd:schema>
  </types>
  <message name="advancedSearch">
    <part name="searchString" type="xsd:string"/>
  </message>
  <message name="advancedSearchResponse">
    <part name="advancedSearchReturn" type="tns:SoftLayer_Container_Search_ResultArray"/>
  </message>
  <message name="getObjectTypes"/>
  <message name="getObjectTypesResponse">
    <part name="getObjectTypesReturn" type="tns:SoftLayer_Container_Search_ObjectTypeArray"/>
  </message>
  <message name="search">
    <part name="searchString" type="xsd:string"/>
  </message>
  <message name="searchResponse">
    <part name="searchReturn" type="tns:SoftLayer_Container_Search_ResultArray"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_SearchPortType">
    <documentation>SoftLayer's account historical service allows users to access a broad overview of devices for that account and historical details concerning the overall function and performance of the devices on that account </documentation>
    <operation name="advancedSearch">
      <documentation>This method allows for searching for SoftLayer resources by simple terms and operators.  Fields that are used for searching will be available at sldn.softlayer.com. It returns a collection or array of &amp;lt;b&amp;gt;[[SoftLayer_Container_Search_Result (type)|SoftLayer_Container_Search_Result]]&amp;lt;/b&amp;gt; objects that have search metadata for each result and the resulting resource found. 

The advancedSearch() method recognizes the special &amp;lt;b&amp;gt;&amp;lt;code&amp;gt;_objectType:&amp;lt;/code&amp;gt;&amp;lt;/b&amp;gt; quantifier in search strings.  See the documentation for the &amp;lt;b&amp;gt;[[SoftLayer_Search/search|search()]]&amp;lt;/b&amp;gt; method on how to restrict searches using object types. 

The advancedSearch() method recognizes &amp;lt;b&amp;gt;[[SoftLayer_Container_Search_ObjectType_Property (type)|object properties]]&amp;lt;/b&amp;gt;, which can also be used to limit searches.  Example: 

&amp;lt;code&amp;gt;_objectType:Type_1 propertyA:&amp;lt;/code&amp;gt;&amp;lt;i&amp;gt;&amp;lt;code&amp;gt;value&amp;lt;/code&amp;gt;&amp;lt;/i&amp;gt; 

A search string can specify multiple properties, separated with spaces. Example: 

&amp;lt;code&amp;gt;_objectType:Type_1 propertyA:&amp;lt;/code&amp;gt;&amp;lt;i&amp;gt;&amp;lt;code&amp;gt;value&amp;lt;/code&amp;gt;&amp;lt;/i&amp;gt; &amp;lt;code&amp;gt;propertyB:&amp;lt;/code&amp;gt;&amp;lt;i&amp;gt;&amp;lt;code&amp;gt;value&amp;lt;/code&amp;gt;&amp;lt;/i&amp;gt; 

A collection of available object types and their properties can be retrieved by calling the &amp;lt;b&amp;gt;[[SoftLayer_Search/getObjectTypes|getObjectTypes()]]&amp;lt;/b&amp;gt; method. </documentation>
      <input message="tns:advancedSearch"/>
      <output message="tns:advancedSearchResponse"/>
    </operation>
    <operation name="getObjectTypes">
      <documentation>This method returns a collection of &amp;lt;b&amp;gt;[[SoftLayer_Container_Search_ObjectType (type)|SoftLayer_Container_Search_ObjectType]]&amp;lt;/b&amp;gt; containers that specify which indexed object types and properties are exposed for the current user.  These object types can be used to discover searchable data and to create or validate object index search strings. 

&amp;lt;p&amp;gt; Refer to the &amp;lt;b&amp;gt;[[SoftLayer_Search/search|search()]]&amp;lt;/b&amp;gt; and &amp;lt;b&amp;gt;[[SoftLayer_Search/advancedSearch|advancedSearch()]]&amp;lt;/b&amp;gt; methods for information on using object types and properties in search strings. </documentation>
      <input message="tns:getObjectTypes"/>
      <output message="tns:getObjectTypesResponse"/>
    </operation>
    <operation name="search">
      <documentation>This method allows for searching for SoftLayer resources by simple phrase. It returns a collection or array of &amp;lt;b&amp;gt;[[SoftLayer_Container_Search_Result (type)|SoftLayer_Container_Search_Result]]&amp;lt;/b&amp;gt; objects that have search metadata for each result and the resulting resource found. 

This method recognizes the special &amp;lt;b&amp;gt;&amp;lt;code&amp;gt;_objectType:&amp;lt;/code&amp;gt;&amp;lt;/b&amp;gt; quantifier in search strings.  This quantifier can be used to restrict a search to specific object types.  Example usage: 

&amp;lt;code&amp;gt;_objectType:Type_1 &amp;lt;/code&amp;gt;&amp;lt;i&amp;gt;&amp;lt;code&amp;gt;(other search terms...)&amp;lt;/code&amp;gt;&amp;lt;/i&amp;gt; 

A search string can specify multiple object types, separated by commas (no spaces are permitted between the type names).  Example: 

&amp;lt;code&amp;gt;_objectType:Type_1,Type_2,Type_3 &amp;lt;/code&amp;gt;&amp;lt;i&amp;gt;&amp;lt;code&amp;gt;(other search terms...)&amp;lt;/code&amp;gt;&amp;lt;/i&amp;gt; 

If the list of object types is prefixed with a hyphen or minus sign (-), then the specified types are excluded from the search.  Example: 

&amp;lt;code&amp;gt;_objectType:-Type_4,Type_5 &amp;lt;/code&amp;gt;&amp;lt;i&amp;gt;&amp;lt;code&amp;gt;(other search terms...)&amp;lt;/code&amp;gt;&amp;lt;/i&amp;gt; 

A collection of available object types can be retrieved by calling the &amp;lt;b&amp;gt;[[SoftLayer_Search/getObjectTypes|getObjectTypes()]]&amp;lt;/b&amp;gt; method. </documentation>
      <input message="tns:search"/>
      <output message="tns:searchResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_SearchBinding" type="tns:SoftLayer_SearchPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="advancedSearch">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_SearchAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObjectTypes">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_SearchAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="search">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_SearchAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_SearchService">
    <port name="SoftLayer_SearchPort" binding="tns:SoftLayer_SearchBinding">
      <soap:address location="https://api.softlayer.com/soap/v3.1/SoftLayer_Search"/>
    </port>
  </service>
</definitions>
