data/Security_Certificate_Request_ServerType.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3.1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3.1/" schemaLocation="https://api.softlayer.com/soap/v3.1/SoftLayer_Security_Certificate_Request_ServerType?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:complexType name="SoftLayer_Security_Certificate_Request_ServerTypeInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Security_Certificate_Request_ServerTypeObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Security_Certificate_Request_ServerType"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Security_Certificate_Request_ServerTypeInitParametersHeader">
    <part name="SoftLayer_Security_Certificate_Request_ServerTypeInitParameters" type="tns:SoftLayer_Security_Certificate_Request_ServerTypeInitParameters"/>
  </message>
  <message name="getAllObjects"/>
  <message name="getAllObjectsResponse">
    <part name="getAllObjectsReturn" type="tns:SoftLayer_Security_Certificate_RequestArray"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Security_Certificate_Request_ServerType"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Security_Certificate_Request_ServerTypeObjectMaskHeader">
    <part name="SoftLayer_Security_Certificate_Request_ServerTypeObjectMask" type="tns:SoftLayer_Security_Certificate_Request_ServerTypeObjectMask"/>
  </message>
  <message name="SoftLayer_Security_Certificate_Request_ServerTypeObjectFilterHeader">
    <part name="SoftLayer_Security_Certificate_Request_ServerTypeObjectFilter" type="tns:SoftLayer_Security_Certificate_Request_ServerTypeObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Security_Certificate_Request_ServerTypePortType">
    <documentation>Allows for retrieving the available SSL certificate server types. </documentation>
    <operation name="getAllObjects">
      <documentation>Returns all SSL certificate server types, which  passed in on a certificate order. </documentation>
      <input message="tns:getAllObjects"/>
      <output message="tns:getAllObjectsResponse"/>
    </operation>
    <operation name="getObject">
      <documentation></documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Security_Certificate_Request_ServerTypeBinding" type="tns:SoftLayer_Security_Certificate_Request_ServerTypePortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getAllObjects">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Security_Certificate_Request_ServerTypeAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Security_Certificate_Request_ServerTypeObjectMaskHeader" part="SoftLayer_Security_Certificate_Request_ServerTypeObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Security_Certificate_Request_ServerTypeObjectFilterHeader" part="SoftLayer_Security_Certificate_Request_ServerTypeObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Security_Certificate_Request_ServerTypeAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Security_Certificate_Request_ServerTypeObjectMaskHeader" part="SoftLayer_Security_Certificate_Request_ServerTypeObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Security_Certificate_Request_ServerTypeObjectFilterHeader" part="SoftLayer_Security_Certificate_Request_ServerTypeObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Security_Certificate_Request_ServerTypeInitParametersHeader" part="SoftLayer_Security_Certificate_Request_ServerTypeInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Security_Certificate_Request_ServerTypeService">
    <port name="SoftLayer_Security_Certificate_Request_ServerTypePort" binding="tns:SoftLayer_Security_Certificate_Request_ServerTypeBinding">
      <soap:address location="https://api.softlayer.com/soap/v3.1/SoftLayer_Security_Certificate_Request_ServerType"/>
    </port>
  </service>
</definitions>
