data/Software_Component_HostIps.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3.1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3.1/" schemaLocation="https://api.softlayer.com/soap/v3.1/SoftLayer_Software_Component_HostIps?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:complexType name="SoftLayer_Software_Component_HostIpsInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Software_Component_HostIpsObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Software_Component_HostIps"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Software_Component_HostIpsInitParametersHeader">
    <part name="SoftLayer_Software_Component_HostIpsInitParameters" type="tns:SoftLayer_Software_Component_HostIpsInitParameters"/>
  </message>
  <message name="getAverageInstallationDuration"/>
  <message name="getAverageInstallationDurationResponse">
    <part name="getAverageInstallationDurationReturn" type="xsd:unsignedLong"/>
  </message>
  <message name="getBillingItem"/>
  <message name="getBillingItemResponse">
    <part name="getBillingItemReturn" type="tns:SoftLayer_Billing_Item"/>
  </message>
  <message name="getCurrentHostIpsPolicies"/>
  <message name="getCurrentHostIpsPoliciesResponse">
    <part name="getCurrentHostIpsPoliciesReturn" type="tns:SoftLayer_Container_Software_Component_HostIps_PolicyArray"/>
  </message>
  <message name="getHardware"/>
  <message name="getHardwareResponse">
    <part name="getHardwareReturn" type="tns:SoftLayer_Hardware"/>
  </message>
  <message name="getLicenseFile"/>
  <message name="getLicenseFileResponse">
    <part name="getLicenseFileReturn" type="xsd:string"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Software_Component_HostIps"/>
  </message>
  <message name="getPasswordHistory"/>
  <message name="getPasswordHistoryResponse">
    <part name="getPasswordHistoryReturn" type="tns:SoftLayer_Software_Component_Password_HistoryArray"/>
  </message>
  <message name="getPasswords"/>
  <message name="getPasswordsResponse">
    <part name="getPasswordsReturn" type="tns:SoftLayer_Software_Component_PasswordArray"/>
  </message>
  <message name="getSoftwareDescription"/>
  <message name="getSoftwareDescriptionResponse">
    <part name="getSoftwareDescriptionReturn" type="tns:SoftLayer_Software_Description"/>
  </message>
  <message name="getSoftwareLicense"/>
  <message name="getSoftwareLicenseResponse">
    <part name="getSoftwareLicenseReturn" type="tns:SoftLayer_Software_License"/>
  </message>
  <message name="getVendorSetUpConfiguration"/>
  <message name="getVendorSetUpConfigurationResponse">
    <part name="getVendorSetUpConfigurationReturn" type="xsd:string"/>
  </message>
  <message name="getVirtualGuest"/>
  <message name="getVirtualGuestResponse">
    <part name="getVirtualGuestReturn" type="tns:SoftLayer_Virtual_Guest"/>
  </message>
  <message name="updateHipsPolicies">
    <part name="newIpsMode" type="xsd:string"/>
    <part name="newIpsProtection" type="xsd:string"/>
    <part name="newFirewallMode" type="xsd:string"/>
    <part name="newFirewallRuleset" type="xsd:string"/>
    <part name="newApplicationMode" type="xsd:string"/>
    <part name="newApplicationRuleset" type="xsd:string"/>
    <part name="newEnforcementPolicy" type="xsd:string"/>
  </message>
  <message name="updateHipsPoliciesResponse">
    <part name="updateHipsPoliciesReturn" type="xsd:boolean"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Software_Component_HostIpsObjectMaskHeader">
    <part name="SoftLayer_Software_Component_HostIpsObjectMask" type="tns:SoftLayer_Software_Component_HostIpsObjectMask"/>
  </message>
  <message name="SoftLayer_Software_Component_HostIpsObjectFilterHeader">
    <part name="SoftLayer_Software_Component_HostIpsObjectFilter" type="tns:SoftLayer_Software_Component_HostIpsObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Software_Component_HostIpsPortType">
    <documentation>This service specifies a specific type of Software Component:  A Host Intrusion Protection System instance. </documentation>
    <operation name="getAverageInstallationDuration">
      <documentation>Retrieve the average amount of time that a software component takes to install.</documentation>
      <input message="tns:getAverageInstallationDuration"/>
      <output message="tns:getAverageInstallationDurationResponse"/>
    </operation>
    <operation name="getBillingItem">
      <documentation>Retrieve the billing item for a software component.</documentation>
      <input message="tns:getBillingItem"/>
      <output message="tns:getBillingItemResponse"/>
    </operation>
    <operation name="getCurrentHostIpsPolicies">
      <documentation>Get the current Host IPS policies. </documentation>
      <input message="tns:getCurrentHostIpsPolicies"/>
      <output message="tns:getCurrentHostIpsPoliciesResponse"/>
    </operation>
    <operation name="getHardware">
      <documentation>Retrieve the hardware this Software Component is installed upon.</documentation>
      <input message="tns:getHardware"/>
      <output message="tns:getHardwareResponse"/>
    </operation>
    <operation name="getLicenseFile">
      <documentation>Attempt to retrieve the file associated with a software component.  If the software component does not support downloading license files an exception will be thrown. </documentation>
      <input message="tns:getLicenseFile"/>
      <output message="tns:getLicenseFileResponse"/>
    </operation>
    <operation name="getObject">
      <documentation></documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
    <operation name="getPasswordHistory">
      <documentation>Retrieve history Records for Software Passwords.</documentation>
      <input message="tns:getPasswordHistory"/>
      <output message="tns:getPasswordHistoryResponse"/>
    </operation>
    <operation name="getPasswords">
      <documentation>Retrieve username/Password pairs used for access to this Software Installation.</documentation>
      <input message="tns:getPasswords"/>
      <output message="tns:getPasswordsResponse"/>
    </operation>
    <operation name="getSoftwareDescription">
      <documentation>Retrieve the Software Description of this Software Component.</documentation>
      <input message="tns:getSoftwareDescription"/>
      <output message="tns:getSoftwareDescriptionResponse"/>
    </operation>
    <operation name="getSoftwareLicense">
      <documentation>Retrieve the License this Software Component uses.</documentation>
      <input message="tns:getSoftwareLicense"/>
      <output message="tns:getSoftwareLicenseResponse"/>
    </operation>
    <operation name="getVendorSetUpConfiguration">
      <documentation></documentation>
      <input message="tns:getVendorSetUpConfiguration"/>
      <output message="tns:getVendorSetUpConfigurationResponse"/>
    </operation>
    <operation name="getVirtualGuest">
      <documentation>Retrieve the virtual guest this software component is installed upon.</documentation>
      <input message="tns:getVirtualGuest"/>
      <output message="tns:getVirtualGuestResponse"/>
    </operation>
    <operation name="updateHipsPolicies">
      <documentation>Update the Host IPS policies. To retrieve valid policy options you must use the provided relationships. </documentation>
      <input message="tns:updateHipsPolicies"/>
      <output message="tns:updateHipsPoliciesResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Software_Component_HostIpsBinding" type="tns:SoftLayer_Software_Component_HostIpsPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getAverageInstallationDuration">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Software_Component_HostIpsAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Software_Component_HostIpsObjectMaskHeader" part="SoftLayer_Software_Component_HostIpsObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Software_Component_HostIpsObjectFilterHeader" part="SoftLayer_Software_Component_HostIpsObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Software_Component_HostIpsInitParametersHeader" part="SoftLayer_Software_Component_HostIpsInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getBillingItem">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Software_Component_HostIpsAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Software_Component_HostIpsObjectMaskHeader" part="SoftLayer_Software_Component_HostIpsObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Software_Component_HostIpsObjectFilterHeader" part="SoftLayer_Software_Component_HostIpsObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Software_Component_HostIpsInitParametersHeader" part="SoftLayer_Software_Component_HostIpsInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getCurrentHostIpsPolicies">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Software_Component_HostIpsAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Software_Component_HostIpsInitParametersHeader" part="SoftLayer_Software_Component_HostIpsInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getHardware">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Software_Component_HostIpsAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Software_Component_HostIpsObjectMaskHeader" part="SoftLayer_Software_Component_HostIpsObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Software_Component_HostIpsObjectFilterHeader" part="SoftLayer_Software_Component_HostIpsObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Software_Component_HostIpsInitParametersHeader" part="SoftLayer_Software_Component_HostIpsInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getLicenseFile">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Software_Component_HostIpsAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Software_Component_HostIpsInitParametersHeader" part="SoftLayer_Software_Component_HostIpsInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Software_Component_HostIpsAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Software_Component_HostIpsObjectMaskHeader" part="SoftLayer_Software_Component_HostIpsObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Software_Component_HostIpsObjectFilterHeader" part="SoftLayer_Software_Component_HostIpsObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Software_Component_HostIpsInitParametersHeader" part="SoftLayer_Software_Component_HostIpsInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getPasswordHistory">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Software_Component_HostIpsAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Software_Component_HostIpsObjectMaskHeader" part="SoftLayer_Software_Component_HostIpsObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Software_Component_HostIpsObjectFilterHeader" part="SoftLayer_Software_Component_HostIpsObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Software_Component_HostIpsInitParametersHeader" part="SoftLayer_Software_Component_HostIpsInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getPasswords">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Software_Component_HostIpsAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Software_Component_HostIpsObjectMaskHeader" part="SoftLayer_Software_Component_HostIpsObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Software_Component_HostIpsObjectFilterHeader" part="SoftLayer_Software_Component_HostIpsObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:resultLimitHeader" part="resultLimit" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Software_Component_HostIpsInitParametersHeader" part="SoftLayer_Software_Component_HostIpsInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:header message="tns:totalItemsHeader" part="totalItems" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getSoftwareDescription">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Software_Component_HostIpsAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Software_Component_HostIpsObjectMaskHeader" part="SoftLayer_Software_Component_HostIpsObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Software_Component_HostIpsObjectFilterHeader" part="SoftLayer_Software_Component_HostIpsObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Software_Component_HostIpsInitParametersHeader" part="SoftLayer_Software_Component_HostIpsInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getSoftwareLicense">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Software_Component_HostIpsAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Software_Component_HostIpsObjectMaskHeader" part="SoftLayer_Software_Component_HostIpsObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Software_Component_HostIpsObjectFilterHeader" part="SoftLayer_Software_Component_HostIpsObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Software_Component_HostIpsInitParametersHeader" part="SoftLayer_Software_Component_HostIpsInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getVendorSetUpConfiguration">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Software_Component_HostIpsAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Software_Component_HostIpsInitParametersHeader" part="SoftLayer_Software_Component_HostIpsInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getVirtualGuest">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Software_Component_HostIpsAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Software_Component_HostIpsObjectMaskHeader" part="SoftLayer_Software_Component_HostIpsObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Software_Component_HostIpsObjectFilterHeader" part="SoftLayer_Software_Component_HostIpsObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Software_Component_HostIpsInitParametersHeader" part="SoftLayer_Software_Component_HostIpsInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="updateHipsPolicies">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Software_Component_HostIpsAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Software_Component_HostIpsInitParametersHeader" part="SoftLayer_Software_Component_HostIpsInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Software_Component_HostIpsService">
    <port name="SoftLayer_Software_Component_HostIpsPort" binding="tns:SoftLayer_Software_Component_HostIpsBinding">
      <soap:address location="https://api.softlayer.com/soap/v3.1/SoftLayer_Software_Component_HostIps"/>
    </port>
  </service>
</definitions>
