data/Ticket_Attachment_File.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3.1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3.1/" schemaLocation="https://api.softlayer.com/soap/v3.1/SoftLayer_Ticket_Attachment_File?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:complexType name="SoftLayer_Ticket_Attachment_FileInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_Ticket_Attachment_FileObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_Ticket_Attachment_File"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_Ticket_Attachment_FileInitParametersHeader">
    <part name="SoftLayer_Ticket_Attachment_FileInitParameters" type="tns:SoftLayer_Ticket_Attachment_FileInitParameters"/>
  </message>
  <message name="getExtensionWhitelist"/>
  <message name="getExtensionWhitelistResponse">
    <part name="getExtensionWhitelistReturn" type="tns:ArrayOfstring"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_Ticket_Attachment_File"/>
  </message>
  <message name="getTicket"/>
  <message name="getTicketResponse">
    <part name="getTicketReturn" type="tns:SoftLayer_Ticket"/>
  </message>
  <message name="getUpdate"/>
  <message name="getUpdateResponse">
    <part name="getUpdateReturn" type="tns:SoftLayer_Ticket_Update"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_Ticket_Attachment_FileObjectMaskHeader">
    <part name="SoftLayer_Ticket_Attachment_FileObjectMask" type="tns:SoftLayer_Ticket_Attachment_FileObjectMask"/>
  </message>
  <message name="SoftLayer_Ticket_Attachment_FileObjectFilterHeader">
    <part name="SoftLayer_Ticket_Attachment_FileObjectFilter" type="tns:SoftLayer_Ticket_Attachment_FileObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_Ticket_Attachment_FilePortType">
    <documentation></documentation>
    <operation name="getExtensionWhitelist">
      <documentation></documentation>
      <input message="tns:getExtensionWhitelist"/>
      <output message="tns:getExtensionWhitelistResponse"/>
    </operation>
    <operation name="getObject">
      <documentation></documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
    <operation name="getTicket">
      <documentation></documentation>
      <input message="tns:getTicket"/>
      <output message="tns:getTicketResponse"/>
    </operation>
    <operation name="getUpdate">
      <documentation>Retrieve the ticket that a file is attached to.</documentation>
      <input message="tns:getUpdate"/>
      <output message="tns:getUpdateResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_Ticket_Attachment_FileBinding" type="tns:SoftLayer_Ticket_Attachment_FilePortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getExtensionWhitelist">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Ticket_Attachment_FileAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Ticket_Attachment_FileAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Ticket_Attachment_FileObjectMaskHeader" part="SoftLayer_Ticket_Attachment_FileObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Ticket_Attachment_FileObjectFilterHeader" part="SoftLayer_Ticket_Attachment_FileObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Ticket_Attachment_FileInitParametersHeader" part="SoftLayer_Ticket_Attachment_FileInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getTicket">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Ticket_Attachment_FileAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Ticket_Attachment_FileObjectMaskHeader" part="SoftLayer_Ticket_Attachment_FileObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Ticket_Attachment_FileObjectFilterHeader" part="SoftLayer_Ticket_Attachment_FileObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Ticket_Attachment_FileInitParametersHeader" part="SoftLayer_Ticket_Attachment_FileInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getUpdate">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_Ticket_Attachment_FileAction"/>
      <input>
        <soap:header message="tns:SoftLayer_Ticket_Attachment_FileObjectMaskHeader" part="SoftLayer_Ticket_Attachment_FileObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Ticket_Attachment_FileObjectFilterHeader" part="SoftLayer_Ticket_Attachment_FileObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_Ticket_Attachment_FileInitParametersHeader" part="SoftLayer_Ticket_Attachment_FileInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_Ticket_Attachment_FileService">
    <port name="SoftLayer_Ticket_Attachment_FilePort" binding="tns:SoftLayer_Ticket_Attachment_FileBinding">
      <soap:address location="https://api.softlayer.com/soap/v3.1/SoftLayer_Ticket_Attachment_File"/>
    </port>
  </service>
</definitions>
