data/User_Customer_ApiAuthentication.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3.1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3.1/" schemaLocation="https://api.softlayer.com/soap/v3.1/SoftLayer_User_Customer_ApiAuthentication?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3.1/">
      <xsd:complexType name="SoftLayer_User_Customer_ApiAuthenticationInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_User_Customer_ApiAuthenticationObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_User_Customer_ApiAuthentication"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_User_Customer_ApiAuthenticationInitParametersHeader">
    <part name="SoftLayer_User_Customer_ApiAuthenticationInitParameters" type="tns:SoftLayer_User_Customer_ApiAuthenticationInitParameters"/>
  </message>
  <message name="editObject">
    <part name="templateObject" type="tns:SoftLayer_User_Customer_ApiAuthentication"/>
  </message>
  <message name="editObjectResponse">
    <part name="editObjectReturn" type="tns:SoftLayer_User_Customer_ApiAuthentication"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_User_Customer_ApiAuthentication"/>
  </message>
  <message name="getUser"/>
  <message name="getUserResponse">
    <part name="getUserReturn" type="tns:SoftLayer_User_Customer"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_User_Customer_ApiAuthenticationObjectMaskHeader">
    <part name="SoftLayer_User_Customer_ApiAuthenticationObjectMask" type="tns:SoftLayer_User_Customer_ApiAuthenticationObjectMask"/>
  </message>
  <message name="SoftLayer_User_Customer_ApiAuthenticationObjectFilterHeader">
    <part name="SoftLayer_User_Customer_ApiAuthenticationObjectFilter" type="tns:SoftLayer_User_Customer_ApiAuthenticationObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_User_Customer_ApiAuthenticationPortType">
    <documentation>An account's user may obtain access to SoftLayer's API through this authentication service.</documentation>
    <operation name="editObject">
      <documentation></documentation>
      <input message="tns:editObject"/>
      <output message="tns:editObjectResponse"/>
    </operation>
    <operation name="getObject">
      <documentation>getObject retrieves the SoftLayer_User_Customer_ApiAuthentication object whose ID number corresponds to the ID number of the init parameter passed to the SoftLayer_User_Customer_ApiAuthentication service. </documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
    <operation name="getUser">
      <documentation>Retrieve the user who owns the api authentication key.</documentation>
      <input message="tns:getUser"/>
      <output message="tns:getUserResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_User_Customer_ApiAuthenticationBinding" type="tns:SoftLayer_User_Customer_ApiAuthenticationPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="editObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_User_Customer_ApiAuthenticationAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_User_Customer_ApiAuthenticationInitParametersHeader" part="SoftLayer_User_Customer_ApiAuthenticationInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_User_Customer_ApiAuthenticationObjectMaskHeader" part="SoftLayer_User_Customer_ApiAuthenticationObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_User_Customer_ApiAuthenticationAction"/>
      <input>
        <soap:header message="tns:SoftLayer_User_Customer_ApiAuthenticationObjectMaskHeader" part="SoftLayer_User_Customer_ApiAuthenticationObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_User_Customer_ApiAuthenticationObjectFilterHeader" part="SoftLayer_User_Customer_ApiAuthenticationObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_User_Customer_ApiAuthenticationInitParametersHeader" part="SoftLayer_User_Customer_ApiAuthenticationInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getUser">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3.1/SoftLayer_User_Customer_ApiAuthenticationAction"/>
      <input>
        <soap:header message="tns:SoftLayer_User_Customer_ApiAuthenticationObjectMaskHeader" part="SoftLayer_User_Customer_ApiAuthenticationObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_User_Customer_ApiAuthenticationObjectFilterHeader" part="SoftLayer_User_Customer_ApiAuthenticationObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_User_Customer_ApiAuthenticationInitParametersHeader" part="SoftLayer_User_Customer_ApiAuthenticationInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3.1/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_User_Customer_ApiAuthenticationService">
    <port name="SoftLayer_User_Customer_ApiAuthenticationPort" binding="tns:SoftLayer_User_Customer_ApiAuthenticationBinding">
      <soap:address location="https://api.softlayer.com/soap/v3.1/SoftLayer_User_Customer_ApiAuthentication"/>
    </port>
  </service>
</definitions>
