data/User_Customer_External_Binding_Vendor.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.service.softlayer.com/soap/v3/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="slApi" targetNamespace="http://api.service.softlayer.com/soap/v3/">
  <types>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:include namespace="http://api.service.softlayer.com/soap/v3/" schemaLocation="https://api.softlayer.com/soap/v3/SoftLayer_User_Customer_External_Binding_Vendor?xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://api.service.softlayer.com/soap/v3/">
      <xsd:complexType name="SoftLayer_User_Customer_External_Binding_VendorInitParameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" maxOccurs="1" name="globalIdentifier" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SoftLayer_User_Customer_External_Binding_VendorObjectMask">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mask" type="tns:SoftLayer_User_Customer_External_Binding_Vendor"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SoftLayer_User_Customer_External_Binding_VendorInitParametersHeader">
    <part name="SoftLayer_User_Customer_External_Binding_VendorInitParameters" type="tns:SoftLayer_User_Customer_External_Binding_VendorInitParameters"/>
  </message>
  <message name="getAllObjects"/>
  <message name="getAllObjectsResponse">
    <part name="getAllObjectsReturn" type="tns:SoftLayer_User_External_Binding_VendorArray"/>
  </message>
  <message name="getObject"/>
  <message name="getObjectResponse">
    <part name="getObjectReturn" type="tns:SoftLayer_User_Customer_External_Binding_Vendor"/>
  </message>
  <message name="authenticateHeader">
    <part name="authenticate" type="tns:authenticate"/>
  </message>
  <message name="resultLimitHeader">
    <part name="resultLimit" type="tns:resultLimit"/>
  </message>
  <message name="totalItemsHeader">
    <part name="totalItems" type="tns:totalItems"/>
  </message>
  <message name="SoftLayer_User_Customer_External_Binding_VendorObjectMaskHeader">
    <part name="SoftLayer_User_Customer_External_Binding_VendorObjectMask" type="tns:SoftLayer_User_Customer_External_Binding_VendorObjectMask"/>
  </message>
  <message name="SoftLayer_User_Customer_External_Binding_VendorObjectFilterHeader">
    <part name="SoftLayer_User_Customer_External_Binding_VendorObjectFilter" type="tns:SoftLayer_User_Customer_External_Binding_VendorObjectFilter"/>
  </message>
  <message name="SoftLayer_ObjectMaskHeader">
    <part name="SoftLayer_ObjectMask" type="tns:SoftLayer_ObjectMask"/>
  </message>
  <portType name="SoftLayer_User_Customer_External_Binding_VendorPortType">
    <documentation>The SoftLayer_User_Customer_External_Binding_Vendor service is used to retrieve a list of available 3rd party vendors that SoftLayer supports for external bindings. </documentation>
    <operation name="getAllObjects">
      <documentation>getAllObjects() will return a list of the available external binding vendors that SoftLayer supports.  Use this list to select the appropriate vendor when creating a new external binding. </documentation>
      <input message="tns:getAllObjects"/>
      <output message="tns:getAllObjectsResponse"/>
    </operation>
    <operation name="getObject">
      <documentation></documentation>
      <input message="tns:getObject"/>
      <output message="tns:getObjectResponse"/>
    </operation>
  </portType>
  <binding name="SoftLayer_User_Customer_External_Binding_VendorBinding" type="tns:SoftLayer_User_Customer_External_Binding_VendorPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getAllObjects">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_User_Customer_External_Binding_VendorAction"/>
      <input>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_User_Customer_External_Binding_VendorObjectMaskHeader" part="SoftLayer_User_Customer_External_Binding_VendorObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_User_Customer_External_Binding_VendorObjectFilterHeader" part="SoftLayer_User_Customer_External_Binding_VendorObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction="http://api.service.softlayer.com/soap/v3/SoftLayer_User_Customer_External_Binding_VendorAction"/>
      <input>
        <soap:header message="tns:SoftLayer_User_Customer_External_Binding_VendorObjectMaskHeader" part="SoftLayer_User_Customer_External_Binding_VendorObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_User_Customer_External_Binding_VendorObjectFilterHeader" part="SoftLayer_User_Customer_External_Binding_VendorObjectFilter" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_ObjectMaskHeader" part="SoftLayer_ObjectMask" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:SoftLayer_User_Customer_External_Binding_VendorInitParametersHeader" part="SoftLayer_User_Customer_External_Binding_VendorInitParameters" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:authenticateHeader" part="authenticate" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="http://api.service.softlayer.com/soap/v3/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="SoftLayer_User_Customer_External_Binding_VendorService">
    <port name="SoftLayer_User_Customer_External_Binding_VendorPort" binding="tns:SoftLayer_User_Customer_External_Binding_VendorBinding">
      <soap:address location="https://api.softlayer.com/soap/v3/SoftLayer_User_Customer_External_Binding_Vendor"/>
    </port>
  </service>
</definitions>
